database/n8n-workflows/01-proyectos-crud.json
{
  "name": "Yurest - Proyectos CRUD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "proyectos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-get",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        200
      ],
      "webhookId": "proyectos-get"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "proyectos",
        "returnAll": true,
        "options": {}
      },
      "id": "supa-get",
      "name": "GET Proyectos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst proyectos = items.map(item => item.json).filter(p => p && p.id && !p.deleted_at);\nreturn [{ json: { proyectos } }];"
      },
      "id": "format-get",
      "name": "Formatear GET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-get",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "proyectos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-post",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        420
      ],
      "webhookId": "proyectos-post"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst p = body.proyecto;\n\nif (!p || !p.cliente || !p.implementador || !p.tipo) {\n  throw new Error('Faltan campos obligatorios: cliente, implementador, tipo');\n}\n\nconst row = {\n  cliente: p.cliente,\n  implementador: p.implementador,\n  tipo: p.tipo,\n  estado: p.estado || 'activo',\n  fecha_inicio: p.fechaInicio || p.fecha_inicio || new Date().toISOString().split('T')[0],\n  ultima_actividad: p.ultimaActividad || p.ultima_actividad || new Date().toISOString().split('T')[0],\n  tpv: p.tpv || '',\n  motivo_pausa: p.motivoPausa || p.motivo_pausa || '',\n  plan_accion: p.planAccion || p.plan_accion || '',\n  asana_project_id: p.asanaProjectId || p.asana_project_id || '',\n  asana_project_url: p.asanaProjectUrl || p.asana_project_url || '',\n  anotaciones: p.anotaciones || '',\n  contactos: JSON.stringify(p.contactos || []),\n  participantes: p.participantes || [],\n  adjuntos: JSON.stringify(p.adjuntos || []),\n  secciones: JSON.stringify(p.secciones || [])\n};\n\nif (p.ficha_id || p.fichaId) row.ficha_id = p.ficha_id || p.fichaId;\n\nreturn [{ json: row }];"
      },
      "id": "prepare-insert",
      "name": "Preparar INSERT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        420
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "proyectos",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-insert",
      "name": "INSERT Proyecto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        700,
        420
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: $json }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-post",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        420
      ]
    },
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "proyectos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-put",
      "name": "Webhook PUT",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        640
      ],
      "webhookId": "proyectos-put"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst p = body.proyecto;\n\nif (!p || !p.id) {\n  throw new Error('Falta el ID del proyecto para actualizar');\n}\n\nconst row = { id: p.id };\n\nconst fieldMap = {\n  cliente: 'cliente',\n  implementador: 'implementador',\n  tipo: 'tipo',\n  estado: 'estado',\n  fechaInicio: 'fecha_inicio',\n  fecha_inicio: 'fecha_inicio',\n  ultimaActividad: 'ultima_actividad',\n  ultima_actividad: 'ultima_actividad',\n  tpv: 'tpv',\n  motivoPausa: 'motivo_pausa',\n  motivo_pausa: 'motivo_pausa',\n  planAccion: 'plan_accion',\n  plan_accion: 'plan_accion',\n  asanaProjectId: 'asana_project_id',\n  asana_project_id: 'asana_project_id',\n  asanaProjectUrl: 'asana_project_url',\n  asana_project_url: 'asana_project_url',\n  anotaciones: 'anotaciones'\n};\n\nfor (const [from, to] of Object.entries(fieldMap)) {\n  if (p[from] !== undefined) row[to] = p[from];\n}\n\nif (p.contactos !== undefined) row.contactos = JSON.stringify(p.contactos);\nif (p.participantes !== undefined) row.participantes = p.participantes;\nif (p.adjuntos !== undefined) row.adjuntos = JSON.stringify(p.adjuntos);\nif (p.secciones !== undefined) row.secciones = JSON.stringify(p.secciones);\nif (p.ficha_id || p.fichaId) row.ficha_id = p.ficha_id || p.fichaId;\n\nreturn [{ json: row }];"
      },
      "id": "prepare-update",
      "name": "Preparar UPDATE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        640
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "proyectos",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-update",
      "name": "UPDATE Proyecto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        700,
        640
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: $json }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-put",
      "name": "Respond PUT",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        640
      ]
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "proyectos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-delete",
      "name": "Webhook DELETE",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        860
      ],
      "webhookId": "proyectos-delete"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst id = body.id;\n\nif (!id) {\n  throw new Error('Falta el ID del proyecto para eliminar');\n}\n\nreturn [{ json: { id } }];"
      },
      "id": "prepare-delete",
      "name": "Preparar DELETE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        860
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "proyectos",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "deleted_at",
              "fieldValue": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supa-delete",
      "name": "DELETE Proyecto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        700,
        860
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Verifica que el soft-delete realmente afectó alguna fila. El nodo\n// Supabase v1 devuelve la fila actualizada (con `id`) en éxito o un\n// objeto { error: { message } } cuando falla (gracias a continueOnFail).\nconst { id } = $('Preparar DELETE').first().json;\n\nlet count = 0;\nconst errores = [];\nfor (const it of ($('DELETE Proyecto').all() || [])) {\n  const j = (it && it.json) ? it.json : it;\n  if (!j) continue;\n  if (j.error) {\n    const msg = j.error.message || j.error.code || JSON.stringify(j.error);\n    errores.push(String(msg));\n    continue;\n  }\n  if (j.id) { count++; continue; }\n  if (Array.isArray(j.data)) count += j.data.length;\n}\n\nreturn [{ json: {\n  success: count > 0,\n  id,\n  count,\n  errores\n} }];"
      },
      "id": "verify-delete",
      "name": "Verificar DELETE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        860
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-delete",
      "name": "Respond DELETE",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1140,
        860
      ]
    }
  ],
  "connections": {
    "Webhook GET": {
      "main": [
        [
          {
            "node": "GET Proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Proyectos": {
      "main": [
        [
          {
            "node": "Formatear GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear GET": {
      "main": [
        [
          {
            "node": "Respond GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Preparar INSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar INSERT": {
      "main": [
        [
          {
            "node": "INSERT Proyecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Proyecto": {
      "main": [
        [
          {
            "node": "Respond POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook PUT": {
      "main": [
        [
          {
            "node": "Preparar UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar UPDATE": {
      "main": [
        [
          {
            "node": "UPDATE Proyecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE Proyecto": {
      "main": [
        [
          {
            "node": "Respond PUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook DELETE": {
      "main": [
        [
          {
            "node": "Preparar DELETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar DELETE": {
      "main": [
        [
          {
            "node": "DELETE Proyecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE Proyecto": {
      "main": [
        [
          {
            "node": "Verificar DELETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar DELETE": {
      "main": [
        [
          {
            "node": "Respond DELETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "yurest"
    },
    {
      "name": "proyectos"
    }
  ]
}