database/n8n-workflows/01-proyectos-crud.json
{
  "name": "Yurest - Proyectos CRUD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "proyectos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-get",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200],
      "webhookId": "proyectos-get"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "proyectos",
        "returnAll": true,
        "options": {}
      },
      "id": "supa-get",
      "name": "GET Proyectos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [480, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst proyectos = items.map(item => item.json);\nreturn [{ json: { proyectos } }];"
      },
      "id": "format-get",
      "name": "Formatear GET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-get",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 200]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "proyectos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-post",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 420],
      "webhookId": "proyectos-post"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst p = body.proyecto;\n\nif (!p || !p.cliente || !p.implementador || !p.tipo) {\n  throw new Error('Faltan campos obligatorios: cliente, implementador, tipo');\n}\n\nconst row = {\n  cliente: p.cliente,\n  implementador: p.implementador,\n  tipo: p.tipo,\n  estado: p.estado || 'activo',\n  fecha_inicio: p.fechaInicio || p.fecha_inicio || new Date().toISOString().split('T')[0],\n  ultima_actividad: p.ultimaActividad || p.ultima_actividad || new Date().toISOString().split('T')[0],\n  tpv: p.tpv || '',\n  motivo_pausa: p.motivoPausa || p.motivo_pausa || '',\n  plan_accion: p.planAccion || p.plan_accion || '',\n  asana_project_id: p.asanaProjectId || p.asana_project_id || '',\n  anotaciones: p.anotaciones || '',\n  contactos: JSON.stringify(p.contactos || []),\n  participantes: p.participantes || [],\n  adjuntos: JSON.stringify(p.adjuntos || []),\n  secciones: JSON.stringify(p.secciones || [])\n};\n\nif (p.ficha_id || p.fichaId) row.ficha_id = p.ficha_id || p.fichaId;\nif (p.plantilla_id || p.plantillaId) row.plantilla_id = p.plantilla_id || p.plantillaId;\n\nreturn [{ json: row }];"
      },
      "id": "prepare-insert",
      "name": "Preparar INSERT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 420]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "proyectos",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-insert",
      "name": "INSERT Proyecto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [700, 420],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: $json }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-post",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 420]
    },

    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "proyectos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-put",
      "name": "Webhook PUT",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 640],
      "webhookId": "proyectos-put"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst p = body.proyecto;\n\nif (!p || !p.id) {\n  throw new Error('Falta el ID del proyecto para actualizar');\n}\n\nconst row = { id: p.id };\n\nconst fieldMap = {\n  cliente: 'cliente',\n  implementador: 'implementador',\n  tipo: 'tipo',\n  estado: 'estado',\n  fechaInicio: 'fecha_inicio',\n  fecha_inicio: 'fecha_inicio',\n  ultimaActividad: 'ultima_actividad',\n  ultima_actividad: 'ultima_actividad',\n  tpv: 'tpv',\n  motivoPausa: 'motivo_pausa',\n  motivo_pausa: 'motivo_pausa',\n  planAccion: 'plan_accion',\n  plan_accion: 'plan_accion',\n  asanaProjectId: 'asana_project_id',\n  asana_project_id: 'asana_project_id',\n  anotaciones: 'anotaciones'\n};\n\nfor (const [from, to] of Object.entries(fieldMap)) {\n  if (p[from] !== undefined) row[to] = p[from];\n}\n\nif (p.contactos !== undefined) row.contactos = JSON.stringify(p.contactos);\nif (p.participantes !== undefined) row.participantes = p.participantes;\nif (p.adjuntos !== undefined) row.adjuntos = JSON.stringify(p.adjuntos);\nif (p.secciones !== undefined) row.secciones = JSON.stringify(p.secciones);\nif (p.ficha_id || p.fichaId) row.ficha_id = p.ficha_id || p.fichaId;\nif (p.plantilla_id || p.plantillaId) row.plantilla_id = p.plantilla_id || p.plantillaId;\n\nreturn [{ json: row }];"
      },
      "id": "prepare-update",
      "name": "Preparar UPDATE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 640]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "proyectos",
        "matchingColumns": ["id"],
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-update",
      "name": "UPDATE Proyecto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [700, 640],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: $json }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-put",
      "name": "Respond PUT",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 640]
    },

    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "proyectos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-delete",
      "name": "Webhook DELETE",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 860],
      "webhookId": "proyectos-delete"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst id = body.id;\n\nif (!id) {\n  throw new Error('Falta el ID del proyecto para eliminar');\n}\n\nreturn [{ json: { id } }];"
      },
      "id": "prepare-delete",
      "name": "Preparar DELETE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 860]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "proyectos",
        "matchingColumns": ["id"],
        "options": {}
      },
      "id": "supa-delete",
      "name": "DELETE Proyecto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [700, 860],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-delete",
      "name": "Respond DELETE",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 860]
    }
  ],
  "connections": {
    "Webhook GET": {
      "main": [[{ "node": "GET Proyectos", "type": "main", "index": 0 }]]
    },
    "GET Proyectos": {
      "main": [[{ "node": "Formatear GET", "type": "main", "index": 0 }]]
    },
    "Formatear GET": {
      "main": [[{ "node": "Respond GET", "type": "main", "index": 0 }]]
    },
    "Webhook POST": {
      "main": [[{ "node": "Preparar INSERT", "type": "main", "index": 0 }]]
    },
    "Preparar INSERT": {
      "main": [[{ "node": "INSERT Proyecto", "type": "main", "index": 0 }]]
    },
    "INSERT Proyecto": {
      "main": [[{ "node": "Respond POST", "type": "main", "index": 0 }]]
    },
    "Webhook PUT": {
      "main": [[{ "node": "Preparar UPDATE", "type": "main", "index": 0 }]]
    },
    "Preparar UPDATE": {
      "main": [[{ "node": "UPDATE Proyecto", "type": "main", "index": 0 }]]
    },
    "UPDATE Proyecto": {
      "main": [[{ "node": "Respond PUT", "type": "main", "index": 0 }]]
    },
    "Webhook DELETE": {
      "main": [[{ "node": "Preparar DELETE", "type": "main", "index": 0 }]]
    },
    "Preparar DELETE": {
      "main": [[{ "node": "DELETE Proyecto", "type": "main", "index": 0 }]]
    },
    "DELETE Proyecto": {
      "main": [[{ "node": "Respond DELETE", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "yurest" },
    { "name": "proyectos" }
  ]
}
