database/n8n-workflows/03-plantillas-crud.json
{
  "name": "Yurest - Plantillas CRUD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "plantillas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-get-pl",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200],
      "webhookId": "plantillas-get"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "plantillas",
        "returnAll": true,
        "options": {}
      },
      "id": "supa-get-pl",
      "name": "GET Plantillas",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [480, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst plantillas = items.map(item => item.json);\nreturn [{ json: { plantillas } }];"
      },
      "id": "format-get-pl",
      "name": "Formatear GET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-get-pl",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 200]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plantillas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-post-pl",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 420],
      "webhookId": "plantillas-post"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst p = body.plantilla;\n\nif (!p || !p.nombre) {\n  throw new Error('Falta el nombre de la plantilla');\n}\n\nconst row = {\n  nombre: p.nombre,\n  descripcion: p.descripcion || '',\n  secciones: JSON.stringify(p.secciones || [])\n};\n\nif (p.id && p.id !== 'default') row.id = p.id;\n\nreturn [{ json: row }];"
      },
      "id": "prepare-insert-pl",
      "name": "Preparar INSERT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 420]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "plantillas",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-insert-pl",
      "name": "INSERT Plantilla",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [700, 420],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: $json }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-post-pl",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 420]
    },

    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "plantillas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-put-pl",
      "name": "Webhook PUT",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 640],
      "webhookId": "plantillas-put"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst p = body.plantilla;\n\nif (!p || !p.id) {\n  throw new Error('Falta el ID de la plantilla para actualizar');\n}\n\nconst row = { id: p.id };\n\nif (p.nombre !== undefined) row.nombre = p.nombre;\nif (p.descripcion !== undefined) row.descripcion = p.descripcion;\nif (p.secciones !== undefined) row.secciones = JSON.stringify(p.secciones);\n\nreturn [{ json: row }];"
      },
      "id": "prepare-update-pl",
      "name": "Preparar UPDATE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 640]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "plantillas",
        "matchingColumns": ["id"],
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-update-pl",
      "name": "UPDATE Plantilla",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [700, 640],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: $json }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-put-pl",
      "name": "Respond PUT",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 640]
    },

    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "plantillas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-delete-pl",
      "name": "Webhook DELETE",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 860],
      "webhookId": "plantillas-delete"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst id = body.id;\n\nif (!id) {\n  throw new Error('Falta el ID de la plantilla para eliminar');\n}\n\nreturn [{ json: { id } }];"
      },
      "id": "prepare-delete-pl",
      "name": "Preparar DELETE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 860]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "plantillas",
        "matchingColumns": ["id"],
        "options": {}
      },
      "id": "supa-delete-pl",
      "name": "DELETE Plantilla",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [700, 860],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-delete-pl",
      "name": "Respond DELETE",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 860]
    }
  ],
  "connections": {
    "Webhook GET": {
      "main": [[{ "node": "GET Plantillas", "type": "main", "index": 0 }]]
    },
    "GET Plantillas": {
      "main": [[{ "node": "Formatear GET", "type": "main", "index": 0 }]]
    },
    "Formatear GET": {
      "main": [[{ "node": "Respond GET", "type": "main", "index": 0 }]]
    },
    "Webhook POST": {
      "main": [[{ "node": "Preparar INSERT", "type": "main", "index": 0 }]]
    },
    "Preparar INSERT": {
      "main": [[{ "node": "INSERT Plantilla", "type": "main", "index": 0 }]]
    },
    "INSERT Plantilla": {
      "main": [[{ "node": "Respond POST", "type": "main", "index": 0 }]]
    },
    "Webhook PUT": {
      "main": [[{ "node": "Preparar UPDATE", "type": "main", "index": 0 }]]
    },
    "Preparar UPDATE": {
      "main": [[{ "node": "UPDATE Plantilla", "type": "main", "index": 0 }]]
    },
    "UPDATE Plantilla": {
      "main": [[{ "node": "Respond PUT", "type": "main", "index": 0 }]]
    },
    "Webhook DELETE": {
      "main": [[{ "node": "Preparar DELETE", "type": "main", "index": 0 }]]
    },
    "Preparar DELETE": {
      "main": [[{ "node": "DELETE Plantilla", "type": "main", "index": 0 }]]
    },
    "DELETE Plantilla": {
      "main": [[{ "node": "Respond DELETE", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "yurest" },
    { "name": "plantillas" }
  ]
}
