database/n8n-workflows/04-fichas-alta.json
{
  "name": "Yurest - Fichas de Alta",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "018f3362-7969-4c49-9088-c78e4446c77f",
        "responseMode": "responseNode",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "wh-get-altas",
      "name": "Webhook GET Altas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        200
      ],
      "webhookId": "altas-get",
      "credentials": {
        "httpBasicAuth": {
          "id": "BASIC_AUTH_CREDENTIAL_ID",
          "name": "Yurest Portal Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "fichas_alta",
        "returnAll": true,
        "options": {}
      },
      "id": "supa-get-altas",
      "name": "GET Fichas",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "locales",
        "returnAll": true,
        "options": {}
      },
      "id": "supa-get-locales",
      "name": "GET Locales",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        360
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "distribucion",
        "returnAll": true,
        "options": {}
      },
      "id": "supa-get-distribucion",
      "name": "GET Distribución",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        520
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "proyectos",
        "returnAll": true,
        "options": {}
      },
      "id": "supa-get-proyectos-fichas",
      "name": "GET Proyectos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        680
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Fichas activas (sin soft-delete)\nconst fichas = $('GET Fichas').all().map(i => i.json).filter(f => f && f.id && !f.deleted_at);\n\n// Cuenta locales por ficha (tolerante a errores: si la tabla locales\n// fallara, simplemente quedan a 0).\nconst locales = ($('GET Locales').all() || [])\n  .map(i => (i && i.json) ? i.json : i)\n  .filter(l => l && l.ficha_id);\n\nconst conteo = {};\nfor (const l of locales) {\n  conteo[l.ficha_id] = (conteo[l.ficha_id] || 0) + 1;\n}\n\n// Enriquecer implementador desde otras tablas cuando fichas_alta lo\n// tenga vacío. Orden de prioridad:\n//   1. distribucion (workflow 06 escribe aquí al asignar)\n//   2. proyectos    (si ya hay proyecto creado, es la fuente de verdad)\n// Se hace como fallback: si la ficha ya tiene implementador propio, no\n// lo pisamos. Esto evita que una reasignación en fichas_alta quede\n// sobreescrita por un snapshot obsoleto de otra tabla.\nconst distri = ($('GET Distribución').all() || [])\n  .map(i => (i && i.json) ? i.json : i)\n  .filter(d => d && d.ficha_id && d.implementador);\nconst implPorDistri = {};\nfor (const d of distri) {\n  const prev = implPorDistri[d.ficha_id];\n  const dts  = d.created_at ? new Date(d.created_at).getTime() : 0;\n  if (!prev || dts >= prev.ts) implPorDistri[d.ficha_id] = { impl: d.implementador, ts: dts };\n}\n\n// Para el fallback de implementador descartamos proyectos completados.\n// Para exponer el estado del proyecto al frontend, sin embargo, TODOS los\n// proyectos son relevantes (un cliente completado debería mostrar\n// \"Completado\" en la columna \"Estado implementación\"). Indexamos dos\n// mapas distintos: uno solo-activos para implementador, otro all-states\n// para proyecto_estado.\nconst proysTodos = ($('GET Proyectos').all() || [])\n  .map(i => (i && i.json) ? i.json : i)\n  .filter(p => p && !p.deleted_at);\n\nconst implPorProy = {};\nconst implPorCliente = {};\nconst estadoPorProy = {};\nconst estadoPorCliente = {};\nfor (const p of proysTodos) {\n  const dts = p.ultima_actividad ? new Date(p.ultima_actividad).getTime()\n            : (p.fecha_inicio ? new Date(p.fecha_inicio).getTime() : 0);\n  const clienteKey = p.cliente ? String(p.cliente).trim().toLowerCase() : '';\n  // Estado: siempre el registro más reciente gana, esté completado o no.\n  if (p.estado) {\n    if (p.ficha_id) {\n      const prev = estadoPorProy[p.ficha_id];\n      if (!prev || dts >= prev.ts) estadoPorProy[p.ficha_id] = { estado: p.estado, ts: dts };\n    }\n    if (clienteKey) {\n      const prev = estadoPorCliente[clienteKey];\n      if (!prev || dts >= prev.ts) estadoPorCliente[clienteKey] = { estado: p.estado, ts: dts };\n    }\n  }\n  // Implementador: sólo desde proyectos activos/pausados (no completados).\n  if (p.implementador && p.estado !== 'completado') {\n    if (p.ficha_id) {\n      const prev = implPorProy[p.ficha_id];\n      if (!prev || dts >= prev.ts) implPorProy[p.ficha_id] = { impl: p.implementador, ts: dts };\n    }\n    if (clienteKey) {\n      const prev = implPorCliente[clienteKey];\n      if (!prev || dts >= prev.ts) implPorCliente[clienteKey] = { impl: p.implementador, ts: dts };\n    }\n  }\n}\n\nfunction _normCliente(s) { return String(s || '').trim().toLowerCase(); }\nfor (const f of fichas) {\n  f.locales_count = conteo[f.id] || 0;\n  const nombres = [f.nombre_comercial, f.denominacion].filter(Boolean).map(_normCliente);\n\n  // Implementador — fallback si fichas_alta no lo tiene propio.\n  if (!f.implementador || !String(f.implementador).trim()) {\n    let hit = implPorDistri[f.id] || implPorProy[f.id] || null;\n    for (const n of nombres) {\n      if (hit) break;\n      if (implPorCliente[n]) hit = implPorCliente[n];\n    }\n    if (hit) f.implementador = hit.impl;\n  }\n\n  // Estado del proyecto de implementación — consumido por clientes.html\n  // en la columna \"Estado implementación\". Puede ser activo | pausado |\n  // completado o null si el cliente aún no tiene proyecto.\n  let estHit = estadoPorProy[f.id] || null;\n  for (const n of nombres) {\n    if (estHit) break;\n    if (estadoPorCliente[n]) estHit = estadoPorCliente[n];\n  }\n  f.proyecto_estado = estHit ? estHit.estado : null;\n}\n\nreturn [{ json: { clientes: fichas } }];"
      },
      "id": "format-get-altas",
      "name": "Formatear GET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        200
      ],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-get-altas",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "57e04029-bae4-4124-8c43-c535e831a147",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-post-altas",
      "name": "Webhook POST Guardar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        480
      ],
      "webhookId": "altas-guardar"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json.body;\n\nconst rawId = d.id;\nconst cleanId = (rawId == null || rawId === 'undefined' || rawId === 'null' || String(rawId).trim() === '') ? null : rawId;\nconst isEdit = !!cleanId;\n\nconst row = {};\nif (isEdit) row.id = cleanId;\n\n// Helper: en edición sólo seteamos los campos que vienen en el payload\n// (clave existe, no es undefined). Antes hacíamos `row.x = d['X'] || ''`\n// para todos, lo que pisaba con cadena vacía cualquier campo no enviado al\n// hacer un guardado parcial (p.ej. toggle A3, marcar estado, etc.).\nfunction set(col, ...keys) {\n  for (const k of keys) {\n    if (Object.prototype.hasOwnProperty.call(d, k) && d[k] !== undefined) {\n      row[col] = d[k];\n      return true;\n    }\n  }\n  return false;\n}\n\nset('comercial',         'Comercial');\nset('denominacion',      'Nombre Sociedad', 'Denominación Social');\nset('nombre_comercial',  'Nombre Comercial');\nset('calle',             'Calle');\nset('numero',            'Número');\nif (set('cp', 'CP')) row.cp = row.cp || null;\nset('municipio',         'Municipio');\nset('provincia',         'Provincia');\nset('cif',               'CIF/NIF');\nset('email',             'Email');\nset('email_factura',     'Email Factura');\nset('email_cc',          'Email CC');\nset('iban',              'IBAN');\nif (set('tipo_cliente',  'Tipo Cliente')) row.tipo_cliente = row.tipo_cliente || null;\nset('firmas_contratadas','Firmas Contratadas');\nset('jp_nombre',         'JP Nombre');\nset('jp_apellidos',      'JP Apellidos');\nset('jp_rol',            'JP Rol');\nset('jp_telefono',       'JP Teléfono');\nset('jp_mail',           'JP Mail');\nset('firm_nombre',       'Firmante Nombre');\nset('firm_apellidos',    'Firmante Apellidos');\nset('firm_mail',         'Firmante Mail');\nset('firm_dni',          'Firmante DNI');\nset('firm_puesto',       'Firmante Puesto');\nset('tpv',               'TPV');\nset('tpv_contacto',      'TPV Contacto');\nset('tpv_email',         'TPV Email');\nif (Object.prototype.hasOwnProperty.call(d, 'TPV No Integrado')) row.tpv_no_integrado = d['TPV No Integrado'] === 'Sí';\nset('tpv_ni_nombre',     'TPV NI Nombre');\nset('tpv_ni_contacto',   'TPV NI Contacto');\nset('tpv_ni_email',      'TPV NI Email');\nif (Object.prototype.hasOwnProperty.call(d, 'Lite')) row.lite = (d['Lite'] === 'Sí');\nset('entrega_calle',     'Entrega Calle');\nset('entrega_numero',    'Entrega Número');\nif (set('entrega_cp',    'Entrega CP')) row.entrega_cp = row.entrega_cp || null;\nset('entrega_municipio', 'Entrega Municipio');\nset('entrega_provincia', 'Entrega Provincia');\nset('contacto_nombre',   'Contacto Nombre');\nset('contacto_email',    'Contacto Email');\nset('contacto_telefono', 'Contacto Teléfono');\nif (Object.prototype.hasOwnProperty.call(d, 'Distribuidor')) row.distribuidor = (d['Distribuidor'] === 'Sí');\nset('dist_empresa',      'Dist. Empresa');\nset('dist_cif',          'Dist. CIF');\nset('dist_direccion',    'Dist. Dirección');\nset('dist_cp',           'Dist. CP');\nset('dist_contacto',     'Dist. Contacto');\nset('dist_mail',         'Dist. Mail');\nset('dist_telefono',     'Dist. Teléfono');\nif (Object.prototype.hasOwnProperty.call(d, 'Dist. Comisión Implementación (%)')) row.dist_comision = parseFloat(d['Dist. Comisión Implementación (%)']) || 0;\nif (Object.prototype.hasOwnProperty.call(d, 'ImporteSetup'))               row.importe_setup = parseFloat(d['ImporteSetup']) || 0;\nif (Object.prototype.hasOwnProperty.call(d, 'Descuentosetup'))             row.descuento_setup = parseFloat(d['Descuentosetup']) || 0;\nif (Object.prototype.hasOwnProperty.call(d, 'Mensualidad Total Locales')) {\n  row.mensualidad_total_locales = parseFloat(d['Mensualidad Total Locales']) || 0;\n  row.mensualidad_total         = parseFloat(d['Mensualidad Total Locales']) || 0;\n}\nif (Object.prototype.hasOwnProperty.call(d, 'Proyecto de Implementación')) row.fin_implementacion    = parseFloat(d['Proyecto de Implementación']) || 0;\nif (Object.prototype.hasOwnProperty.call(d, 'Plan Producto BASIC'))        row.fin_basic             = parseFloat(d['Plan Producto BASIC']) || 0;\nif (Object.prototype.hasOwnProperty.call(d, 'Plan Producto PRO'))          row.fin_pro               = parseFloat(d['Plan Producto PRO']) || 0;\nif (Object.prototype.hasOwnProperty.call(d, 'Plan RRHH'))                  row.fin_rrhh              = parseFloat(d['Plan RRHH']) || 0;\nif (Object.prototype.hasOwnProperty.call(d, 'Plan Operaciones'))           row.fin_operaciones       = parseFloat(d['Plan Operaciones']) || 0;\nif (Object.prototype.hasOwnProperty.call(d, 'Yurest Lite'))                row.fin_lite              = parseFloat(d['Yurest Lite']) || 0;\nif (Object.prototype.hasOwnProperty.call(d, 'Integraciones'))              row.fin_integraciones     = parseFloat(d['Integraciones']) || 0;\nif (Object.prototype.hasOwnProperty.call(d, 'Mensualidad Anualizada'))     row.fin_mensualidad_anual = parseFloat(d['Mensualidad Anualizada']) || 0;\n\nif (d.paquetes_carrito !== undefined) row.paquetes_carrito = d.paquetes_carrito;\n\nset('cred_master',   'Credencial Master');\nset('cred_yurest',   'Credencial Yurest');\n\n// Integración financiera: slug normalizado + contactos opcionales.\n// El CHECK de la columna acepta solo 'no_aplica' | 'sage' | 'a3' | NULL,\n// así que normalizamos por si llegase mayúsculas/espacios desde el front.\nif (Object.prototype.hasOwnProperty.call(d, 'Integracion Financiera')) {\n  const raw = String(d['Integracion Financiera'] || '').toLowerCase().trim();\n  const v = raw === 'sage' ? 'sage'\n          : raw === 'a3'   ? 'a3'\n          : (raw === 'no_aplica' || raw === 'no aplica' || raw === 'noaplica') ? 'no_aplica'\n          : null;\n  row.integracion_financiera = v;\n}\nset('int_fin_persona', 'Int Fin Persona');\nset('int_fin_email',   'Int Fin Email');\nset('comentarios',   'Comentarios');\nset('modulos',       'Módulos');\nset('baja',          'Baja');\n\n// OJO: adjuntos y sepa_mandato son JSONB. NO hacer JSON.stringify aquí\n// — el nodo Supabase volverá a serializar, guardando un string escalar\n// en lugar de objeto/array. Rompe jsonb_set y el trigger asignar_sepa_ref\n// con \\\"cannot set path in scalar\\\". Pasamos el valor nativo.\nif (Array.isArray(d['Adjuntos'])) row.adjuntos = d['Adjuntos'];\nelse if (Array.isArray(d.adjuntos)) row.adjuntos = d.adjuntos;\n\nif (d['SEPA'] && typeof d['SEPA'] === 'object') row.sepa_mandato = d['SEPA'];\nelse if (d.sepa_mandato && typeof d.sepa_mandato === 'object') row.sepa_mandato = d.sepa_mandato;\n\nif (d['Estado']) row.estado = String(d['Estado']).toLowerCase();\n\n// En alta nueva, garantizar defaults para columnas NOT NULL.\nif (!isEdit) {\n  if (row.denominacion == null) row.denominacion = '';\n  if (row.modulos == null)      row.modulos = [];\n  if (row.baja == null)         row.baja = 'No';\n}\n\nconst locales = d.locales || [];\n\nreturn [{ json: { row, locales, isEdit } }];"
      },
      "id": "prepare-upsert-alta",
      "name": "Preparar Ficha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isEdit }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-edit",
      "name": "Es Edición?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Construye el body de la PATCH y separa id del resto.\n// No podemos incluir id en el SET de PostgREST porque intenta\n// actualizar la PK (incluso al mismo valor) y algunas\n// configuraciones RLS lo rechazan silenciosamente → el UPDATE\n// devuelve 0 filas afectadas aunque el HTTP sea 200.\nconst { row } = $input.first().json;\nconst id = row.id;\nconst body = { ...row };\ndelete body.id;\n// Limpiamos undefined por si acaso (PostgREST los envía como null)\nObject.keys(body).forEach(k => { if (body[k] === undefined) delete body[k]; });\nreturn [{ json: { id, __body: JSON.stringify(body) } }];"
      },
      "id": "extract-update",
      "name": "Extraer UPDATE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        380
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://kyvzrqxicxirnroowriq.supabase.co/rest/v1/fichas_alta?id=eq.{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.__body }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "supa-update-alta",
      "name": "UPDATE Ficha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1140,
        380
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// INSERT: extraer row sin id\nconst { row } = $input.first().json;\ndelete row.id;\nreturn [{ json: row }];"
      },
      "id": "extract-insert",
      "name": "Extraer INSERT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        580
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "fichas_alta",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-insert-alta",
      "name": "INSERT Ficha",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1140,
        580
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Lee locales y ficha_id directamente del node 'Preparar Ficha'\n// para ser robusto al cambio de topología: ahora este node\n// puede recibir input desde DELETE Locales antiguos (UPDATE\n// path) o desde INSERT Ficha (INSERT path). En ambos casos el\n// id real de la ficha vive en Preparar Ficha o en INSERT Ficha.\nconst prep = $('Preparar Ficha').first().json || {};\nconst row = prep.row || {};\nconst locales = prep.locales || [];\n\n// Si fue INSERT, la ficha recién creada tiene id en el output\n// del node 'INSERT Ficha'. Si fue UPDATE, el id ya venía en\n// row.id (se mandó en el body). Cubrimos ambos.\nlet fichaId = row.id || null;\nif (!fichaId) {\n  try {\n    const ins = $('INSERT Ficha').first();\n    if (ins && ins.json && ins.json.id) fichaId = ins.json.id;\n  } catch (_) {}\n}\nif (!fichaId) {\n  // Sin id no podemos insertar locales — mejor no hacerlo que\n  // crear filas huérfanas.\n  return [];\n}\nif (!Array.isArray(locales) || locales.length === 0) return [];\n\n// Helpers de saneado.\n// 1) `nullable`: convierte '' / null / undefined → null para columnas que\n//    aceptan NULL pero NO string vacío (CHECKs como cp regex fallarían).\n// 2) `cpOrNull`: además valida 5 dígitos; si no, va NULL para evitar\n//    violar el CHECK. (El front ya valida, esto es defensivo.)\nconst nullable  = v => (v == null || v === '') ? null : String(v).trim() || null;\nconst cpOrNull  = v => {\n  const s = (v == null) ? '' : String(v).trim();\n  return /^\\d{5}$/.test(s) ? s : null;\n};\n\nconst rows = locales.map(l => ({\n  ficha_id: fichaId,\n  // nombre es NOT NULL en la tabla; si llegara vacío preferimos un valor\n  // por defecto en lugar de fallar. El front debería evitar este caso.\n  nombre: (l.nombre && String(l.nombre).trim()) || 'Local sin nombre',\n  email:  nullable(l.email),\n  calle:  nullable(l.calle),\n  numero: nullable(l.numero),\n  cp:     cpOrNull(l.cp),\n  sociedad_cif:          nullable(l.sociedad_cif),\n  sociedad_denominacion: nullable(l.sociedad_denominacion),\n  sociedad_calle:        nullable(l.sociedad_calle),\n  sociedad_numero:       nullable(l.sociedad_numero),\n  sociedad_cp:           nullable(l.sociedad_cp),\n  sociedad_municipio:    nullable(l.sociedad_municipio),\n  sociedad_provincia:    nullable(l.sociedad_provincia),\n  mensualidad: parseFloat(l.mensualidad) || 0,\n  // sepa_mandato_id es UUID en BD: rechazamos cualquier cosa que no\n  // sea UUID v1-5 (ej. referencias legacy 'YUREST-2026-0006' o ids\n  // sintéticos 'sepa-0' que el front pudiera no haber filtrado).\n  sepa_mandato_id: (function(v){\n    return (typeof v === 'string' && /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(v)) ? v : null;\n  })(l.sepa_mandato_id),\n  es_cocina_central: l.es_cocina_central === true || l.es_cocina_central === 'true'\n}));\nreturn rows.map(r => ({ json: r }));"
      },
      "id": "prepare-locales",
      "name": "Preparar Locales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "locales",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-insert-locales",
      "name": "INSERT Locales",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1580,
        480
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-post-altas",
      "name": "Respond Guardar OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1800,
        580
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "locales",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "ficha_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supa-delete-locales",
      "name": "DELETE Locales antiguos",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1400,
        480
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Verifica que la PATCH de UPDATE Ficha devolvió al menos una\n// fila. Si devuelve array vacío, el id no existía (o la\n// política RLS no dejó) — lo anunciamos con success:false para\n// que el front muestre error en vez de un engañoso \"guardado\".\nconst items = $input.all() || [];\nlet rows = [];\nconst errores = [];\nfor (const it of items) {\n  const j = (it && it.json) ? it.json : it;\n  if (!j) continue;\n  // HTTP Request con fullResponse:false devuelve el body directo.\n  // Si PostgREST PATCH tuvo éxito con return=representation, es array.\n  if (Array.isArray(j)) { rows = rows.concat(j); continue; }\n  if (j.error) { errores.push(String(j.error.message || j.error)); continue; }\n  if (j.code && j.message) { errores.push(String(j.message)); continue; }\n  // Algún formato inesperado: lo guardamos por si acaso.\n  if (j.id) rows.push(j);\n}\nif (rows.length === 0) {\n  const prep = $('Preparar Ficha').first().json || {};\n  const idIntentado = (prep.row && prep.row.id) || '?';\n  errores.push('UPDATE no afectó a ninguna fila. id=' + idIntentado + '. Verifica que el ficha existe y las políticas RLS permiten UPDATE.');\n}\n// Emitimos siempre una fila con { id } para que los siguientes\n// nodos (DELETE locales, Preparar Locales) tengan el id a mano.\nconst prep2 = $('Preparar Ficha').first().json || {};\nconst fichaId = (rows[0] && rows[0].id) || (prep2.row && prep2.row.id);\nreturn [{ json: { id: fichaId, __updated: rows.length, __errores: errores } }];"
      },
      "id": "verify-update",
      "name": "Verificar UPDATE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        480
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Último paso antes de responder al front. Recopila:\n//   · Errores de Verificar UPDATE (UPDATE devolvió 0 filas)\n//   · Errores de INSERT Locales (si lo hubo)\n// Si hay errores, success=false. Si no, success=true y\n// devolvemos el id de la ficha.\nconst errores = [];\ntry {\n  const v = $('Verificar UPDATE').first();\n  if (v && v.json && Array.isArray(v.json.__errores)) errores.push(...v.json.__errores);\n} catch (_) {}\n\n// Extrae un mensaje legible de cualquier formato de error que devuelva\n// el nodo Supabase. Hemos visto al menos cuatro variantes según versión:\n//   · { error: 'string' }\n//   · { error: { message, code, details, hint } }\n//   · { code, message, details, hint }   (PostgREST plano)\n//   · { errorDetails: { ... } }          (n8n envoltorio cuando continueOnFail)\nfunction _msgError(j) {\n  if (!j) return null;\n  // 1) j.error como string u objeto\n  if (j.error) {\n    if (typeof j.error === 'string') return j.error;\n    const m = j.error.message || j.error.msg || j.error.detail || j.error.details || j.error.hint;\n    if (m) return j.error.code ? (m + ' [' + j.error.code + ']') : m;\n    if (j.error.code) return 'código ' + j.error.code;\n  }\n  // 2) PostgREST plano (no tiene id propio aunque sea un INSERT)\n  if (j.code && j.message && !j.id) {\n    return j.message + (j.details ? ' (' + j.details + ')' : '') + ' [' + j.code + ']';\n  }\n  // 3) errorDetails de n8n\n  if (j.errorDetails) {\n    try { return JSON.stringify(j.errorDetails).slice(0, 300); } catch (_) {}\n  }\n  return null;\n}\n\n// INSERT Locales: examinar items por error.\ntry {\n  const items = $('INSERT Locales').all() || [];\n  for (const it of items) {\n    const j = (it && it.json) ? it.json : it;\n    const m = _msgError(j);\n    if (m) errores.push('INSERT Locales: ' + m);\n  }\n} catch (_) {}\n\nconst prep = $('Preparar Ficha').first().json || {};\nlet fichaId = (prep.row && prep.row.id) || null;\nif (!fichaId) {\n  try {\n    const ins = $('INSERT Ficha').first();\n    if (ins && ins.json && ins.json.id) fichaId = ins.json.id;\n  } catch (_) {}\n}\nreturn [{ json: { success: errores.length === 0, id: fichaId, errores } }];"
      },
      "id": "format-result",
      "name": "Formatear resultado guardado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        480
      ],
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Webhook GET Altas": {
      "main": [
        [
          {
            "node": "GET Fichas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Fichas": {
      "main": [
        [
          {
            "node": "GET Locales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Locales": {
      "main": [
        [
          {
            "node": "GET Distribución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Distribución": {
      "main": [
        [
          {
            "node": "GET Proyectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Proyectos": {
      "main": [
        [
          {
            "node": "Formatear GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear GET": {
      "main": [
        [
          {
            "node": "Respond GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST Guardar": {
      "main": [
        [
          {
            "node": "Preparar Ficha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Ficha": {
      "main": [
        [
          {
            "node": "Es Edición?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Edición?": {
      "main": [
        [
          {
            "node": "Extraer UPDATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer INSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer UPDATE": {
      "main": [
        [
          {
            "node": "UPDATE Ficha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE Ficha": {
      "main": [
        [
          {
            "node": "Verificar UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer INSERT": {
      "main": [
        [
          {
            "node": "INSERT Ficha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Ficha": {
      "main": [
        [
          {
            "node": "Preparar Locales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Locales": {
      "main": [
        [
          {
            "node": "INSERT Locales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Locales": {
      "main": [
        [
          {
            "node": "Formatear resultado guardado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE Locales antiguos": {
      "main": [
        [
          {
            "node": "Preparar Locales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar UPDATE": {
      "main": [
        [
          {
            "node": "DELETE Locales antiguos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear resultado guardado": {
      "main": [
        [
          {
            "node": "Respond Guardar OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "yurest"
    },
    {
      "name": "fichas"
    }
  ]
}