database/n8n-workflows/07-calendar-asana.json
{
  "name": "Yurest - Calendar y Asana Proxy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calendar/event",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-calendar",
      "name": "Webhook Calendar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        200
      ],
      "webhookId": "calendar-event"
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del evento de calendario\nconst d = $input.first().json.body;\n\nreturn [{ json: {\n  summary: d.summary || d.titulo || '',\n  description: d.description || d.descripcion || '',\n  start: d.start || d.inicio || '',\n  end: d.end || d.fin || '',\n  attendees: d.attendees || d.participantes || [],\n  location: d.location || d.ubicacion || '',\n  proyectoId: d.proyectoId || '',\n  tareaId: d.tareaId || '',\n  implementador: d.implementador || ''\n} }];"
      },
      "id": "prepare-event",
      "name": "Preparar Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Evento procesado. Conectar con Google Calendar o servicio de calendario.' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "={{ ['https://alexak98.github.io', 'http://127.0.0.1:8090', 'http://localhost:8090'].includes($request.headers.origin) ? $request.headers.origin : 'https://alexak98.github.io' }}"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-calendar",
      "name": "Respond Calendar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "asana/tasks",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-asana",
      "name": "Webhook Asana Proxy",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        480
      ],
      "webhookId": "asana-tasks"
    },
    {
      "parameters": {
        "jsCode": "// Extraer projectId de query params\nconst query = $input.first().json.query || {};\nconst projectId = query.projectId || '';\n\nif (!projectId) {\n  throw new Error('Falta projectId en query params');\n}\n\nreturn [{ json: { projectId } }];"
      },
      "id": "extract-asana-id",
      "name": "Extraer Project ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        480
      ]
    },
    {
      "parameters": {
        "url": "=https://app.asana.com/api/1.0/projects/{{ $json.projectId }}/tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "asanaApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "opt_fields",
              "value": "gid,name,completed,due_on,created_at,permalink_url,assignee.name,notes,memberships.section.name,custom_fields.name,custom_fields.display_value,custom_fields.enum_value.name,custom_fields.text_value"
            }
          ]
        }
      },
      "id": "asana-request",
      "name": "GET Asana Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        480
      ],
      "credentials": {
        "asanaApi": {
          "id": "ASANA_CREDENTIAL_ID",
          "name": "Asana Yurest"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Formatear respuesta de Asana\nconst data = $input.first().json;\nconst tasks = data.data || data || [];\nreturn [{ json: { tasks } }];"
      },
      "id": "format-asana",
      "name": "Formatear Asana",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        480
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "={{ ['https://alexak98.github.io', 'http://127.0.0.1:8090', 'http://localhost:8090'].includes($request.headers.origin) ? $request.headers.origin : 'https://alexak98.github.io' }}"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-asana",
      "name": "Respond Asana",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1140,
        480
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "asana/task/stories",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-asana-stories",
      "name": "Webhook Asana Stories",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        720
      ],
      "webhookId": "asana-task-stories"
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst taskId = query.taskId || '';\nif (!taskId) throw new Error('Falta taskId en query params');\nreturn [{ json: { taskId } }];"
      },
      "id": "extract-stories-task-id",
      "name": "Extraer Task ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        720
      ]
    },
    {
      "parameters": {
        "url": "=https://app.asana.com/api/1.0/tasks/{{ $json.taskId }}/stories",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "asanaApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "opt_fields",
              "value": "text,html_text,type,resource_subtype,created_at,created_by.name"
            }
          ]
        }
      },
      "id": "asana-stories-request",
      "name": "GET Asana Stories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        720
      ],
      "credentials": {
        "asanaApi": {
          "id": "ASANA_CREDENTIAL_ID",
          "name": "Asana Yurest"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filtrar solo comentarios (no eventos de sistema) y devolver el más reciente\nconst data = $input.first().json;\nconst stories = data.data || data || [];\nconst comments = stories.filter(s => s.type === 'comment');\nif (comments.length === 0) {\n  return [{ json: { lastComment: null } }];\n}\n// Ordenar por created_at descendente\ncomments.sort((a, b) => new Date(b.created_at) - new Date(a.created_at));\nconst last = comments[0];\nreturn [{ json: { lastComment: {\n  text: last.text || '',\n  html_text: last.html_text || '',\n  created_at: last.created_at,\n  created_by: last.created_by?.name || ''\n} } }];"
      },
      "id": "format-stories",
      "name": "Formatear Comentario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        720
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "={{ ['https://alexak98.github.io', 'http://127.0.0.1:8090', 'http://localhost:8090'].includes($request.headers.origin) ? $request.headers.origin : 'https://alexak98.github.io' }}"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-stories",
      "name": "Respond Stories",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1140,
        720
      ]
    }
  ],
  "connections": {
    "Webhook Calendar": {
      "main": [
        [
          {
            "node": "Preparar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Evento": {
      "main": [
        [
          {
            "node": "Respond Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Asana Proxy": {
      "main": [
        [
          {
            "node": "Extraer Project ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Project ID": {
      "main": [
        [
          {
            "node": "GET Asana Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Asana Tasks": {
      "main": [
        [
          {
            "node": "Formatear Asana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Asana": {
      "main": [
        [
          {
            "node": "Respond Asana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Asana Stories": {
      "main": [
        [
          {
            "node": "Extraer Task ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Task ID": {
      "main": [
        [
          {
            "node": "GET Asana Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Asana Stories": {
      "main": [
        [
          {
            "node": "Formatear Comentario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Comentario": {
      "main": [
        [
          {
            "node": "Respond Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "yurest"
    },
    {
      "name": "integraciones"
    }
  ]
}
