database/n8n-workflows/08-solicitudes.json
{
  "name": "Yurest - Solicitudes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "1757fdcc-7fa7-4cb9-93b9-eb8118adaa1e",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-get-sol",
      "name": "Webhook GET Solicitudes",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        200
      ],
      "webhookId": "solicitudes-get"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "solicitudes",
        "returnAll": true,
        "options": {},
        "alwaysOutputData": true
      },
      "id": "supa-get-sol",
      "name": "GET Solicitudes",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().filter(i => i.json && i.json.id);\n\n// Reconstruir formato que el frontend espera\n// Filtrar solicitudes ya completadas (el cliente ya rellenó la ficha)\nconst solicitudes = items\n  .filter(item => {\n    const s = item.json;\n    const estado = (s.estado || '').toLowerCase();\n    return estado !== 'completado';\n  })\n  .map(item => {\n    const s = item.json;\n    const datos = typeof s.datos === 'string' ? JSON.parse(s.datos || '{}') : (s.datos || {});\n    // Merge: datos guardados + campos directos\n    // s.estado tiene prioridad sobre datos['Estado'] (el campo directo se actualiza al completar)\n    return {\n      ...datos,\n      id: s.id,\n      'ID Solicitud': datos['ID Solicitud'] || s.id,\n      'Nombre Sociedad': datos['Nombre Sociedad'] || '',\n      'Nombre': datos['Nombre'] || '',\n      'Email': datos['Email'] || '',\n      'Comercial': datos['Comercial'] || '',\n      'Tipo Cliente': datos['Tipo Cliente'] || s.tipo || '',\n      'Estado': s.estado || datos['Estado'] || 'Pendiente',\n      'Fecha': datos['Fecha'] || s.created_at || '',\n      'Fecha Solicitud': datos['Fecha'] || s.created_at || ''\n    };\n  });\nreturn [{ json: { solicitudes } }];"
      },
      "id": "format-get-sol",
      "name": "Formatear GET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-get-sol",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b0629324-e611-47d4-835f-3ac9bcd4dc9b",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-post-sol",
      "name": "Crear Solicitud",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        460
      ],
      "webhookId": "solicitudes-crear"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json.body;\n\n// Normalizar estado al set permitido por la CHECK constraint en prod\n// (solo lowercase: 'pendiente','en_progreso','completado'). El frontend\n// envía 'Pendiente' con capital — si pasara tal cual, Supabase rechaza.\nconst raw = String(d['Estado'] || d.estado || 'pendiente').toLowerCase().trim();\nlet estado = 'pendiente';\nif (raw === 'completado' || raw === 'completada' || raw.startsWith('rellenad')) estado = 'completado';\nelse if (raw === 'en_progreso' || raw === 'en progreso') estado = 'en_progreso';\n\nconst row = {\n  tipo: d['Tipo Cliente'] || d.tipo || '',\n  estado: estado,\n  notas: d['email_body'] || d.notas || '',\n  datos: JSON.stringify(d)\n};\n\nreturn [{ json: row }];"
      },
      "id": "prepare-sol",
      "name": "Preparar Solicitud",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        460
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "solicitudes",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-insert-sol",
      "name": "INSERT Solicitud",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        700,
        460
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, data: $json }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-post-sol",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        920,
        460
      ]
    },
    {
      "parameters": {
        "fromEmail": "soporte@yurest.com",
        "toEmail": "={{ $('Crear Solicitud').item.json.body.Email }}",
        "subject": "Solicitud de creación de ficha de alta - Yurest",
        "html": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Ficha de Alta - Yurest</title>\n</head>\n<body style=\"margin:0;padding:0;background:#f8fafc;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;-webkit-font-smoothing:antialiased;color:#1e293b;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f8fafc;padding:40px 16px;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:580px;background:#ffffff;border-radius:16px;overflow:hidden;box-shadow:0 8px 32px rgba(15,23,42,0.08);\">\n\n          <!-- HEADER -->\n          <tr>\n            <td style=\"background:linear-gradient(135deg,#0c0c0c 0%,#1a0808 50%,#2a0c0c 100%);padding:36px 40px 32px;position:relative;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:22px;\">\n                <tr>\n                  <td style=\"background:#ffffff;padding:8px 16px;border-radius:10px;\">\n                    <img src=\"https://www.yurest.com/wp-content/uploads/2022/10/logotipo-yurest-rojo.png\" alt=\"Yurest\" style=\"height:24px;display:block;\">\n                  </td>\n                </tr>\n              </table>\n              <p style=\"margin:0;font-size:22px;font-weight:800;color:#ffffff;line-height:1.3;letter-spacing:-0.01em;\">Completa tu ficha de alta</p>\n              <p style=\"margin:8px 0 0;font-size:14px;color:rgba(255,255,255,0.55);line-height:1.5;\">Rellena los datos de tu empresa para comenzar el proceso con Yurest</p>\n            </td>\n          </tr>\n\n          <!-- BODY -->\n          <tr>\n            <td style=\"padding:36px 40px 8px;\">\n              <p style=\"margin:0 0 20px;font-size:15px;color:#1e293b;line-height:1.6;\">\n                Hola <strong>{{ $('Crear Solicitud').item.json.body.Nombre }}</strong>,\n              </p>\n              <p style=\"margin:0 0 28px;font-size:15px;color:#334155;line-height:1.7;\">\n                Te enviamos este formulario para que puedas completar tu alta con Yurest. Por favor, rellénalo cuando puedas, solo te llevará unos minutos.\n              </p>\n\n              <!-- CTA -->\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:0 0 12px;\">\n                <tr>\n                  <td align=\"center\" style=\"background:#fc5858;border-radius:10px;box-shadow:0 6px 18px rgba(252,88,88,0.35);\">\n                    <a href=\"{{ $('Crear Solicitud').item.json.body.form_url }}\"\n                       style=\"display:inline-block;padding:14px 32px;font-size:15px;font-weight:700;color:#ffffff;text-decoration:none;letter-spacing:0.01em;\">\n                      Rellenar ficha de alta →\n                    </a>\n                  </td>\n                </tr>\n              </table>\n\n              <p style=\"margin:24px 0 6px;font-size:11px;color:#94a3b8;font-weight:700;letter-spacing:0.06em;text-transform:uppercase;\">Enlace alternativo</p>\n              <p style=\"margin:0 0 28px;font-size:12px;word-break:break-all;line-height:1.5;\">\n                <a href=\"{{ $('Crear Solicitud').item.json.body.form_url }}\" style=\"color:#fc5858;text-decoration:none;\">\n                  {{ $('Crear Solicitud').item.json.body.form_url }}\n                </a>\n              </p>\n            </td>\n          </tr>\n\n          <!-- DIVIDER + FIRMA -->\n          <tr>\n            <td style=\"padding:0 40px 32px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:0 0 22px;\">\n                <tr><td style=\"border-top:1.5px solid #f1f5f9;\"></td></tr>\n              </table>\n              <p style=\"margin:0;font-size:14px;color:#64748b;line-height:1.7;\">\n                Si tienes cualquier duda no dudes en contactarme.<br><br>\n                Un saludo,<br>\n                <strong style=\"color:#1e293b;\">{{ $('Crear Solicitud').item.json.body.Comercial }}</strong><br>\n                <span style=\"color:#94a3b8;font-size:13px;\">Equipo comercial · Yurest</span>\n              </p>\n            </td>\n          </tr>\n\n          <!-- FOOTER -->\n          <tr>\n            <td style=\"background:#f8fafc;border-top:1.5px solid #e2e8f0;padding:18px 40px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                <tr>\n                  <td style=\"font-size:11px;color:#94a3b8;line-height:1.5;\">© Yurest · Notificación automática</td>\n                  <td align=\"right\" style=\"font-size:11px;\"><a href=\"https://yurest.com\" style=\"color:#fc5858;text-decoration:none;font-weight:700;\">yurest.com</a></td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        700,
        660
      ],
      "id": "email-solicitud",
      "name": "Envio de mail al cliente",
      "credentials": {
        "smtp": {
          "id": "2V6BD1M7DfSWvpIf",
          "name": "Soporte"
        }
      }
    }
  ],
  "connections": {
    "Webhook GET Solicitudes": {
      "main": [
        [
          {
            "node": "GET Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Solicitudes": {
      "main": [
        [
          {
            "node": "Formatear GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear GET": {
      "main": [
        [
          {
            "node": "Respond GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Solicitud": {
      "main": [
        [
          {
            "node": "Preparar Solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Solicitud": {
      "main": [
        [
          {
            "node": "INSERT Solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Solicitud": {
      "main": [
        [
          {
            "node": "Respond POST",
            "type": "main",
            "index": 0
          },
          {
            "node": "Envio de mail al cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "yurest"
    },
    {
      "name": "solicitudes"
    }
  ]
}