database/n8n-workflows/10-eliminar.json
{
  "name": "Yurest - Eliminar Ficha o Solicitud (seguro)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a2b1b1d6-a1dc-4366-b60e-b5e4506faa3d",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-del",
      "name": "Webhook DELETE",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "eliminar"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza el payload y DECIDE qué tabla tocar en función de 'entity'.\n// Esto evita el bug de borrado cruzado: antes la misma request borraba\n// en fichas_alta Y solicitudes en paralelo usando el mismo id.\nconst raw = $input.first().json;\nconst query = raw.query || {};\nconst body = raw.body || {};\n\nconst id = query.id || body.row_number || body.id || body.ID || '';\nif (!id) throw new Error('Falta ID para eliminar');\n\n// entity: 'ficha' | 'solicitud' — requerido para decidir tabla\nconst entity = (query.entity || body.entity || '').toLowerCase();\nif (!['ficha', 'solicitud'].includes(entity)) {\n  throw new Error(\"Falta o es inválido el campo 'entity' (debe ser 'ficha' o 'solicitud').\");\n}\n\nreturn [{ json: { id, entity } }];"
      },
      "id": "prepare-del",
      "name": "Preparar DELETE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.entity }}",
              "rightValue": "ficha",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-entity",
      "name": "¿Es ficha?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "fichas_alta",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "deleted_at",
              "fieldValue": "={{ $now.toISOString() }}"
            }
          ]
        },
        "options": {},
        "alwaysOutputData": true
      },
      "id": "supa-del-ficha",
      "name": "Soft-delete Ficha",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        920,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "solicitudes",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "deleted_at",
              "fieldValue": "={{ $now.toISOString() }}"
            }
          ]
        },
        "options": {},
        "alwaysOutputData": true
      },
      "id": "supa-del-sol",
      "name": "Soft-delete Solicitud",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        920,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, entity: $json.entity || 'ficha' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "={{ ['https://alexak98.github.io', 'http://127.0.0.1:8090', 'http://localhost:8090'].includes($request.headers.origin) ? $request.headers.origin : 'https://alexak98.github.io' }}"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1140,
        300
      ]
    }
  ],
  "connections": {
    "Webhook DELETE": {
      "main": [
        [
          {
            "node": "Preparar DELETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar DELETE": {
      "main": [
        [
          {
            "node": "¿Es ficha?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es ficha?": {
      "main": [
        [
          {
            "node": "Soft-delete Ficha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Soft-delete Solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soft-delete Ficha": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soft-delete Solicitud": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "yurest"
    },
    {
      "name": "eliminar"
    }
  ]
}
