database/n8n-workflows/10-eliminar.json
{
  "name": "Yurest - Eliminar Ficha o Solicitud (seguro)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a2b1b1d6-a1dc-4366-b60e-b5e4506faa3d",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-del",
      "name": "Webhook DELETE",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "eliminar"
    },
    {
      "parameters": {
        "jsCode": "// Extrae id/entity del request. No validamos entity porque hacemos\n// soft-delete en AMBAS tablas: sólo la que contenga el UUID se\n// actualiza (UUIDs únicos entre fichas_alta y solicitudes).\nconst raw = $input.first().json;\nconst query = raw.query || {};\nconst body = raw.body || {};\nconst id = query.id || body.row_number || body.id || body.ID || '';\nif (!id) throw new Error('Falta ID para eliminar');\nconst entity = (query.entity || body.entity || '').toLowerCase() || 'desconocido';\nreturn [{ json: { id, entity } }];"
      },
      "id": "prepare-del",
      "name": "Preparar DELETE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "fichas_alta",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Preparar DELETE').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "deleted_at",
              "fieldValue": "={{ $now.toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supa-del-ficha",
      "name": "Soft-delete Ficha",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "solicitudes",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Preparar DELETE').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "deleted_at",
              "fieldValue": "={{ $now.toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "supa-del-sol",
      "name": "Soft-delete Solicitud",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, entity: $('Preparar DELETE').first().json.entity, id: $('Preparar DELETE').first().json.id }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook DELETE": {
      "main": [
        [
          {
            "node": "Preparar DELETE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar DELETE": {
      "main": [
        [
          {
            "node": "Soft-delete Ficha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soft-delete Ficha": {
      "main": [
        [
          {
            "node": "Soft-delete Solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soft-delete Solicitud": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "yurest"
    },
    {
      "name": "eliminar"
    }
  ]
}