database/n8n-workflows/11-auxiliares.json
{
  "name": "Yurest - Auxiliares (Responder, Docs, Drive)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6da4274f-5a6d-4981-a92a-f9d7eb734144",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-responder-sol",
      "name": "Webhook Responder Solicitud",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        500
      ],
      "webhookId": "responder-solicitud"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst d = raw.body || raw;\nconst solicitudId = d['ID Solicitud'] || '';\nconst accessToken = (d['access_token'] || d.access_token || '').trim();\nreturn [{ json: { solicitudId, accessToken, clienteData: d } }];"
      },
      "id": "save-body",
      "name": "Guardar Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        500
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "solicitudes",
        "returnAll": true,
        "options": {},
        "alwaysOutputData": true
      },
      "id": "supa-get-all-sol",
      "name": "GET Todas Solicitudes",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const { solicitudId, accessToken, clienteData } = $('Guardar Body').first().json;\nconst allSol = $input.all().map(i => i.json).filter(s => s.id);\n\nlet solicitudUUID = null;\nlet comercial = '';\nlet tipo = '';\n\n// Primero por access_token (URL pública nueva), luego por ID-Solicitud (legacy).\nfor (const sol of allSol) {\n  let datos = sol.datos;\n  if (typeof datos === 'string') {\n    try { datos = JSON.parse(datos); } catch(_) { datos = {}; }\n  }\n  const solId = datos['ID Solicitud'] || '';\n  const matchToken = accessToken && sol.access_token === accessToken;\n  const matchId    = !accessToken && solicitudId && String(solId) === String(solicitudId);\n  if (matchToken || matchId) {\n    solicitudUUID = sol.id;\n    comercial = datos['Comercial'] || '';\n    tipo = datos['Tipo Cliente'] || sol.tipo || '';\n    break;\n  }\n}\n\nconst ficha = {\n  comercial: comercial,\n  denominacion: clienteData['Nombre Sociedad'] || '',\n  nombre_comercial: clienteData['Nombre Comercial'] || '',\n  calle: clienteData['Calle'] || '',\n  numero: clienteData['Número'] || '',\n  cp: clienteData['CP'] || '',\n  municipio: clienteData['Municipio'] || '',\n  provincia: clienteData['Provincia'] || '',\n  cif: clienteData['CIF/NIF'] || '',\n  email: clienteData['Email'] || '',\n  email_factura: clienteData['Email Factura'] || '',\n  email_cc: clienteData['Email CC'] || '',\n  tipo_cliente: tipo,\n  jp_nombre: clienteData['JP Nombre'] || '',\n  jp_apellidos: clienteData['JP Apellidos'] || '',\n  jp_rol: clienteData['JP Rol'] || '',\n  jp_telefono: clienteData['JP Teléfono'] || '',\n  jp_mail: clienteData['JP Mail'] || '',\n  firm_nombre: clienteData['Firmante Nombre'] || '',\n  firm_apellidos: clienteData['Firmante Apellidos'] || '',\n  firm_mail: clienteData['Firmante Mail'] || '',\n  firm_dni: clienteData['Firmante DNI'] || '',\n  firm_puesto: clienteData['Firmante Puesto'] || '',\n  tpv: clienteData['TPV'] || '',\n  tpv_contacto: clienteData['TPV Contacto'] || '',\n  tpv_email: clienteData['TPV Email'] || '',\n  estado: 'completada',\n  baja: 'No'\n};\n\nif (clienteData['SEPA'] && typeof clienteData['SEPA'] === 'object') {\n  // NO stringify. La columna es JSONB y el nodo Supabase ya serializa.\n  // Si hacemos JSON.stringify aquí, Postgres guarda un valor escalar\n  // (string JSON) en vez de un objeto, y falla al hacer sepa_mandato-\\u003E\\u003E'referencia' o jsonb_set() con \\\"cannot set path in scalar\\\".\n  ficha.sepa_mandato = clienteData['SEPA'];\n}\n\nreturn [{ json: { ficha, solicitudUUID, solicitudId, comercial, tipo } }];"
      },
      "id": "merge-data",
      "name": "Merge Solicitud + Cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        500
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const { ficha } = $input.first().json;\nreturn [{ json: ficha }];"
      },
      "id": "extract-ficha-insert",
      "name": "Extraer Ficha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        380
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "fichas_alta",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-insert-ficha-resp",
      "name": "INSERT Ficha Alta",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1240,
        380
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.nombre_comercial || $json.denominacion }}",
        "driveId": {
          "__rl": true,
          "value": "0AGFVnSzfPIg-Uk9PVA",
          "mode": "list",
          "cachedResultName": "Yurest",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AGFVnSzfPIg-Uk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "1TR48H496Xg66L-VnMFwjj0e8ay4jzV0g",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1440,
        380
      ],
      "id": "create-drive-folder",
      "name": "Create Drive Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mhJHxwOFo87L8Bzt",
          "name": "Soporte Drive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Guardar solo el ID de la carpeta Drive (no la URL completa).\n// El frontend construirá la URL como https://drive.google.com/drive/u/1/folders/{id}\nconst fichaId = $('INSERT Ficha Alta').first().json.id;\nconst driveResult = $input.first().json;\n\n// El ID puede venir en diferentes campos según la respuesta del nodo Google Drive\nconst driveId = driveResult.id\n             || driveResult.fileId\n             || driveResult.folderId\n             || '';\n\nif (!driveId) {\n  throw new Error('No se pudo obtener el ID de la carpeta Drive. Campos disponibles: ' + Object.keys(driveResult).join(', '));\n}\n\nreturn [{ json: { id: fichaId, carpeta_drive: driveId } }];"
      },
      "id": "map-drive-url",
      "name": "Extraer ID Drive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        380
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "fichas_alta",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-update-ficha-drive",
      "name": "UPDATE Ficha Drive",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1840,
        380
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "soporte@yurest.com",
        "toEmail": "={{ $('Guardar Body').first().json.clienteData['Email'] }}",
        "subject": "Ya puedes subir tus documentos",
        "html": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>¡Bienvenido a Yurest!</title>\n</head>\n<body style=\"margin:0;padding:0;background:#f1f1f1;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;-webkit-font-smoothing:antialiased;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f1f1f1;padding:40px 16px;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:580px;\">\n\n          <tr>\n            <td style=\"background:linear-gradient(135deg,#111111 0%,#1c0808 50%,#2d0c0c 100%);border-radius:16px 16px 0 0;padding:36px 40px 32px;\">\n\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:24px;\">\n                <tr>\n                  <td style=\"background:rgba(255,255,255,0.07);border:1px solid rgba(255,255,255,0.12);border-radius:20px;padding:5px 14px 5px 10px;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr>\n                        <td style=\"width:8px;height:8px;background:#fc5858;border-radius:50%;vertical-align:middle;\"></td>\n                        <td style=\"padding-left:8px;font-size:11px;font-weight:700;letter-spacing:0.14em;text-transform:uppercase;color:#fca5a5;vertical-align:middle;\">Yurest</td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n\n              <p style=\"margin:0;font-size:22px;font-weight:700;color:#ffffff;line-height:1.3;\">¡Ya casi estás dentro!</p>\n              <p style=\"margin:8px 0 0;font-size:14px;color:#94a3b8;line-height:1.5;\">Tu alta en Yurest está prácticamente lista.</p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"background:#ffffff;padding:36px 40px;\">\n\n              <p style=\"margin:0 0 20px;font-size:15px;color:#1e293b;line-height:1.6;\">\n                Hola <strong>{{ $('Guardar Body').first().json.clienteData['Nombre Comercial'] || $('Guardar Body').first().json.clienteData['Nombre'] || $('Guardar Body').first().json.clienteData['Nombre Sociedad'] }}</strong>,\n              </p>\n\n              <p style=\"margin:0 0 20px;font-size:15px;color:#334155;line-height:1.7;\">\n                Muchas gracias por completar tu información. Ya tenemos todo lo que necesitamos para ponernos en marcha y en breve nuestro equipo se pondrá en contacto contigo para darte los últimos detalles antes de tu arranque con Yurest.\n              </p>\n\n              <p style=\"margin:0 0 24px;font-size:15px;color:#334155;line-height:1.7;\">\n                Mientras tanto, ya hemos preparado una <strong style=\"color:#1e293b;\">carpeta en Google Drive</strong> exclusiva para ti donde puedes ir subiendo cualquier documento que necesitemos para completar el proceso.\n              </p>\n\n              <table cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:0 0 32px;\">\n                <tr>\n                  <td align=\"center\" style=\"background:#fc5858;border-radius:10px;\">\n                    <a href=\"https://drive.google.com/drive/u/1/folders/{{ $('Extraer ID Drive').first().json.carpeta_drive }}\" target=\"_blank\"\n                       style=\"display:inline-block;padding:14px 32px;font-size:15px;font-weight:700;color:#ffffff;text-decoration:none;letter-spacing:0.01em;\">\n                      Abrir mi carpeta de Drive →\n                    </a>\n                  </td>\n                </tr>\n              </table>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1.5px solid #f1f5f9;border-radius:12px;overflow:hidden;margin:0 0 32px;\">\n                <tr>\n                  <td style=\"background:#f8fafc;border-bottom:1.5px solid #f1f5f9;padding:12px 18px;\">\n                    <p style=\"margin:0;font-size:11px;font-weight:700;letter-spacing:0.12em;text-transform:uppercase;color:#fc5858;\">¿Qué sigue ahora?</p>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:22px 22px 8px;\">\n\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr>\n                        <td width=\"36\" valign=\"top\" style=\"padding-bottom:18px;\">\n                          <span style=\"display:inline-block;width:28px;height:28px;background:#fc5858;border-radius:50%;color:#fff;font-size:12px;font-weight:800;text-align:center;line-height:28px;\">1</span>\n                        </td>\n                        <td valign=\"top\" style=\"padding-bottom:18px;padding-left:10px;\">\n                          <p style=\"margin:0;font-size:14px;font-weight:700;color:#1e293b;line-height:1.4;\">Sube tus documentos a la carpeta</p>\n                          <p style=\"margin:4px 0 0;font-size:13px;color:#64748b;line-height:1.55;\">Contrato, logotipo, carta de menús o cualquier archivo que tu comercial te haya indicado.</p>\n                        </td>\n                      </tr>\n                      <tr>\n                        <td width=\"36\" valign=\"top\" style=\"padding-bottom:18px;\">\n                          <span style=\"display:inline-block;width:28px;height:28px;background:#fc5858;border-radius:50%;color:#fff;font-size:12px;font-weight:800;text-align:center;line-height:28px;\">2</span>\n                        </td>\n                        <td valign=\"top\" style=\"padding-bottom:18px;padding-left:10px;\">\n                          <p style=\"margin:0;font-size:14px;font-weight:700;color:#1e293b;line-height:1.4;\">Nuestro equipo revisa tu ficha</p>\n                          <p style=\"margin:4px 0 0;font-size:13px;color:#64748b;line-height:1.55;\">Verificamos que todo esté en orden y preparamos tu entorno en la plataforma.</p>\n                        </td>\n                      </tr>\n                      <tr>\n                        <td width=\"36\" valign=\"top\" style=\"padding-bottom:14px;\">\n                          <span style=\"display:inline-block;width:28px;height:28px;background:#fc5858;border-radius:50%;color:#fff;font-size:12px;font-weight:800;text-align:center;line-height:28px;\">3</span>\n                        </td>\n                        <td valign=\"top\" style=\"padding-bottom:14px;padding-left:10px;\">\n                          <p style=\"margin:0;font-size:14px;font-weight:700;color:#1e293b;line-height:1.4;\">¡Arrancamos!</p>\n                          <p style=\"margin:4px 0 0;font-size:13px;color:#64748b;line-height:1.55;\">Te contactaremos para confirmar la fecha de arranque y los accesos a Yurest.</p>\n                        </td>\n                      </tr>\n                    </table>\n\n                  </td>\n                </tr>\n              </table>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:0 0 24px;\">\n                <tr><td style=\"border-top:1.5px solid #f1f5f9;\"></td></tr>\n              </table>\n\n              <p style=\"margin:0 0 20px;font-size:14px;color:#64748b;line-height:1.7;\">\n                Si tienes cualquier duda, responde a este email o contacta directamente con tu comercial. ¡Estamos deseando trabajar contigo!\n              </p>\n\n              <p style=\"margin:0;font-size:14px;color:#64748b;line-height:1.7;\">\n                Un saludo,<br>\n                <strong style=\"color:#1e293b;\">El equipo de Yurest</strong>\n              </p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"background:#f8fafc;border-radius:0 0 16px 16px;border-top:1.5px solid #e2e8f0;padding:20px 40px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                <tr>\n                  <td style=\"font-size:12px;color:#94a3b8;\">© Yurest · Has completado el formulario de alta.</td>\n                  <td align=\"right\" style=\"font-size:12px;\"><a href=\"https://yurest.com\" style=\"color:#fc5858;text-decoration:none;font-weight:600;\">yurest.com</a></td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {}
      },
      "id": "email-cliente-drive",
      "name": "Email cliente Drive listo",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2080,
        380
      ],
      "credentials": {
        "smtp": {
          "id": "2V6BD1M7DfSWvpIf",
          "name": "Soporte"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Si el cliente marcó \"TPV no integrado\", emitimos un item con los datos\n// para crear una tarea en Asana + avisar por email a integraciones.\n// Si no, devolvemos [] para que la rama no continúe.\n//\n// Importante: el cliente NO envía el campo \"Comercial\" en el formulario de\n// solicitud (no lo conoce). El comercial se asignó cuando el comercial creó\n// la solicitud y vive en solicitudes.datos['Comercial'], que el nodo\n// 'Merge Solicitud + Cliente' ya nos expone como `comercial`.\nconst body = $('Guardar Body').first().json;\nconst c = body.clienteData || body.body || body;\nconst noInt = c['TPV No Integrado'] === 'Sí' || c.tpv_no_integrado === true || c.tpv_no_integrado === 'true';\nif (!noInt) return [];\nconst merge = $('Merge Solicitud + Cliente').first().json || {};\nconst tpvNombre   = (c['TPV NI Nombre']   || '').trim() || 'TPV sin nombre';\nconst tpvPersona  = (c['TPV NI Contacto'] || '').trim();\nconst tpvEmail    = (c['TPV NI Email']    || '').trim();\nconst nombreCom   = (c['Nombre Comercial']|| c['Nombre Sociedad'] || '').trim() || 'Cliente sin nombre';\nconst comercial   = (merge.comercial || c['Comercial'] || '').trim() || '—';\nconst sociedad    = (c['Nombre Sociedad'] || '').trim();\nreturn [{ json: { tpvNombre, tpvPersona, tpvEmail, nombreCom, comercial, sociedad } }];"
      },
      "id": "detect-tpv-ni",
      "name": "Detectar TPV no integrado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        740
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.asana.com/api/1.0/tasks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "asanaApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"name\": {{ JSON.stringify($json.tpvNombre + ' - ' + $json.nombreCom) }},\n    \"notes\": {{ JSON.stringify('Persona de referencia: ' + ($json.tpvPersona || '—') + '\\nEmail de referencia: ' + ($json.tpvEmail || '—') + '\\nCliente: ' + $json.nombreCom + '\\nComercial: ' + $json.comercial) }},\n    \"projects\": [\"1207920061546505\"]\n  }\n}",
        "options": {}
      },
      "id": "asana-task-tpv",
      "name": "Crear tarea Asana TPV NI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        740
      ],
      "credentials": {
        "asanaApi": {
          "id": "ASANA_CREDENTIAL_ID",
          "name": "Asana Yurest"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "soporte@yurest.com",
        "toEmail": "soporte@yurest.com,a.jareno@yurest.com,luis@roocket.io",
        "subject": "=Nueva integracion TPV - {{ $('Detectar TPV no integrado').first().json.tpvNombre }}",
        "html": "=<!DOCTYPE html>\n<html lang=\"es\">\n<body style=\"margin:0;padding:0;background:#f1f1f1;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background:#f1f1f1;padding:32px 16px;\">\n  <tr><td align=\"center\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"max-width:560px;\">\n      <tr><td style=\"background:linear-gradient(135deg,#111111,#2d0c0c);border-radius:14px 14px 0 0;padding:28px 32px;\">\n        <p style=\"margin:0;font-size:11px;font-weight:700;letter-spacing:.14em;text-transform:uppercase;color:#fca5a5;\">Yurest · Integraciones</p>\n        <p style=\"margin:8px 0 0;font-size:20px;font-weight:700;color:#ffffff;\">Nueva integración TPV pendiente</p>\n      </td></tr>\n      <tr><td style=\"background:#ffffff;padding:28px 32px;\">\n        <p style=\"margin:0 0 16px;font-size:14px;color:#334155;line-height:1.6;\">\n          Se ha añadido un cliente con una integración TPV <strong>no realizada</strong>. Se ha creado la tarea correspondiente en el proyecto <strong>Integraciones</strong> de Asana.\n        </p>\n        <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1.5px solid #f1f5f9;border-radius:10px;margin:0 0 18px;\">\n          <tr><td style=\"background:#f8fafc;padding:10px 16px;border-bottom:1px solid #f1f5f9;font-size:11px;font-weight:700;letter-spacing:.1em;text-transform:uppercase;color:#fc5858;\">Datos de referencia</td></tr>\n          <tr><td style=\"padding:14px 16px;font-size:13px;color:#1e293b;line-height:1.7;\">\n            <strong>TPV:</strong> {{ $('Detectar TPV no integrado').first().json.tpvNombre }}<br>\n            <strong>Cliente (nombre comercial):</strong> {{ $('Detectar TPV no integrado').first().json.nombreCom }}<br>\n            <strong>Comercial responsable:</strong> {{ $('Detectar TPV no integrado').first().json.comercial }}<br>\n            <strong>Persona de referencia del TPV:</strong> {{ $('Detectar TPV no integrado').first().json.tpvPersona || '—' }}<br>\n            <strong>Email de referencia del TPV:</strong> {{ $('Detectar TPV no integrado').first().json.tpvEmail || '—' }}\n          </td></tr>\n        </table>\n        <p style=\"margin:0;font-size:13px;color:#64748b;line-height:1.6;\">Equipo Yurest</p>\n      </td></tr>\n      <tr><td style=\"background:#f8fafc;border-radius:0 0 14px 14px;border-top:1.5px solid #e2e8f0;padding:14px 32px;font-size:11px;color:#94a3b8;\">© Yurest · Aviso automático</td></tr>\n    </table>\n  </td></tr>\n</table>\n</body>\n</html>",
        "options": {}
      },
      "id": "email-tpv-ni",
      "name": "Email integraciones TPV NI",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1480,
        740
      ],
      "credentials": {
        "smtp": {
          "id": "2V6BD1M7DfSWvpIf",
          "name": "Soporte"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Marca la solicitud como completada y la enlaza a la ficha recién\n// insertada (ficha_id). El UPDATE de ficha_id activa el trigger\n// solicitud_propagar_fecha_a_ficha que copia solicitudes.created_at →\n// fichas_alta.fecha_solicitud (clave para la analítica de Ventas).\nconst { solicitudUUID } = $('Merge Solicitud + Cliente').first().json;\nif (!solicitudUUID) {\n  return [{ json: { skip: true } }];\n}\nconst fichaResult = $('INSERT Ficha Alta').first().json;\nconst fichaId = fichaResult && fichaResult.id ? fichaResult.id : null;\nconst row = { id: solicitudUUID, estado: 'completado' };\nif (fichaId) row.ficha_id = fichaId;\nreturn [{ json: row }];"
      },
      "id": "prepare-update-sol",
      "name": "Preparar Update Solicitud",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        560
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "solicitudes",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-update-sol-estado",
      "name": "UPDATE Solicitud Estado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1240,
        560
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Mapear comercial → email de destino\nconst { comercial, ficha } = $('Merge Solicitud + Cliente').first().json;\n\nconst emailMap = {\n  'Santiago Gonzalez': 'a.abramyan@yurest.com',\n  'Borja Pastor': 'b.pastor@yurest.com',\n  'Ivan Ramirez': 'i.ramirez@yurest.com',\n  'Pedro Martin': 'p.martin@yurest.com',\n  'Ismael Calero': 'i.calero@yurest.com',\n  'Springboard Monica': 'm.springboard@yurest.com',\n  'Springboard Pau': 'p.springboard@yurest.com'\n};\n\nconst toEmail = emailMap[comercial] || 'soporte@yurest.com';\nconst nombreComercial = ficha.nombre_comercial || ficha.denominacion || 'Cliente';\n\nreturn [{ json: {\n  toEmail,\n  comercial,\n  nombreComercial\n} }];"
      },
      "id": "map-comercial-email",
      "name": "Map Comercial Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        740
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "soporte@yurest.com",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.nombreComercial }} ha rellenado la ficha",
        "html": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Notificación de Alta de Cliente</title>\n</head>\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:'Segoe UI',Arial,sans-serif;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f5f9;padding:40px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;\">\n\n          <tr>\n            <td style=\"background:#fc5858;border-radius:16px 16px 0 0;padding:36px 40px;text-align:center;\">\n              <p style=\"margin:0 0 6px;font-size:0.7rem;font-weight:800;letter-spacing:0.2em;text-transform:uppercase;color:rgba(255,255,255,0.7);\">● YUREST · GESTIÓN</p>\n              <h1 style=\"margin:0;color:#ffffff;font-size:1.75rem;font-weight:800;line-height:1.2;\">Ficha de alta completada</h1>\n              <p style=\"margin:12px 0 0;color:rgba(255,255,255,0.88);font-size:0.95rem;\">Un nuevo cliente ha finalizado su registro correctamente.</p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"background:#ffffff;padding:40px 40px 32px;\">\n\n              <p style=\"margin:0 0 20px;font-size:1rem;color:#1e293b;line-height:1.6;\">Hola {{ $json.comercial }},</p>\n\n              <p style=\"margin:0 0 24px;font-size:1rem;color:#475569;line-height:1.6;\">\n                Te informamos que el cliente <strong style=\"color:#1e293b;\">{{ $json.nombreComercial }}</strong> ha completado satisfactoriamente su ficha de alta y los datos ya están disponibles en el sistema.\n              </p>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fef9c3;border-left:4px solid #eab308;border-radius:4px;margin-bottom:28px;\">\n                <tr>\n                  <td style=\"padding:16px 20px;\">\n                    <p style=\"margin:0;font-size:0.9rem;color:#854d0e;font-weight:600;line-height:1.4;\">\n                      <strong>Estado:</strong> Pendiente de revisión y finalización por tu parte.\n                    </p>\n                  </td>\n                </tr>\n              </table>\n\n              <p style=\"margin:0 0 28px;font-size:0.95rem;color:#475569;line-height:1.6;\">\n                Por favor, accede al panel administrativo para verificar la información y completar el proceso oficial de registro:\n              </p>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                <tr>\n                  <td align=\"center\" style=\"padding-bottom:12px;\">\n                    <a href=\"https://panel.yurest.com\" target=\"_blank\"\n                       style=\"display:inline-block;background:#1e293b;color:#ffffff;text-decoration:none;font-size:0.92rem;font-weight:700;padding:14px 32px;border-radius:10px;\">\n                      Ver panel de administración →\n                    </a>\n                  </td>\n                </tr>\n              </table>\n\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"background:#f8fafc;border-radius:0 0 16px 16px;border-top:1.5px solid #e2e8f0;padding:24px 40px;text-align:center;\">\n              <p style=\"margin:0 0 4px;font-size:0.78rem;font-weight:800;letter-spacing:0.15em;text-transform:uppercase;color:#fc5858;\">● YUREST</p>\n              <p style=\"margin:0;font-size:0.75rem;color:#94a3b8;\">Notificación automática · Sistema de Altas</p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1240,
        740
      ],
      "id": "email-comercial",
      "name": "Email aviso al comercial",
      "credentials": {
        "smtp": {
          "id": "2V6BD1M7DfSWvpIf",
          "name": "Soporte"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-responder",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "bdef8517-9b76-4640-8f82-d940fd0ab96b",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-docs",
      "name": "Webhook Docs Subidos",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        960
      ],
      "webhookId": "docs-subidos"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { documentos: [] } }];"
      },
      "id": "process-docs",
      "name": "Procesar Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        960
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-docs",
      "name": "Respond Docs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        960
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "2010bb2b-72e9-4bae-afb1-d5a937c59009",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-drive",
      "name": "Webhook Get Drive",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        1140
      ],
      "webhookId": "get-drive"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { files: [] } }];"
      },
      "id": "process-drive",
      "name": "Procesar Drive",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1140
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-drive",
      "name": "Respond Drive",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        1140
      ]
    }
  ],
  "connections": {
    "Webhook Responder Solicitud": {
      "main": [
        [
          {
            "node": "Guardar Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Body": {
      "main": [
        [
          {
            "node": "GET Todas Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Todas Solicitudes": {
      "main": [
        [
          {
            "node": "Merge Solicitud + Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Solicitud + Cliente": {
      "main": [
        [
          {
            "node": "Extraer Ficha",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Update Solicitud",
            "type": "main",
            "index": 0
          },
          {
            "node": "Map Comercial Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar TPV no integrado": {
      "main": [
        [
          {
            "node": "Crear tarea Asana TPV NI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear tarea Asana TPV NI": {
      "main": [
        [
          {
            "node": "Email integraciones TPV NI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Ficha": {
      "main": [
        [
          {
            "node": "INSERT Ficha Alta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Ficha Alta": {
      "main": [
        [
          {
            "node": "Create Drive Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Drive Folder": {
      "main": [
        [
          {
            "node": "Extraer ID Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer ID Drive": {
      "main": [
        [
          {
            "node": "UPDATE Ficha Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE Ficha Drive": {
      "main": [
        []
      ]
    },
    "Preparar Update Solicitud": {
      "main": [
        [
          {
            "node": "UPDATE Solicitud Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE Solicitud Estado": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Comercial Email": {
      "main": [
        [
          {
            "node": "Email aviso al comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Docs Subidos": {
      "main": [
        [
          {
            "node": "Procesar Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Docs": {
      "main": [
        [
          {
            "node": "Respond Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Get Drive": {
      "main": [
        [
          {
            "node": "Procesar Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Drive": {
      "main": [
        [
          {
            "node": "Respond Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "yurest"
    },
    {
      "name": "auxiliares"
    }
  ]
}