database/n8n-workflows/12-completar-ficha.json
{
  "name": "Yurest - Completar Ficha",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "5a304fcd-ae1d-49e6-92d1-c5a5e007bbfd",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-completar",
      "name": "Webhook CF",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "completar-ficha"
    },
    {
      "parameters": {
        "jsCode": "const query = $input.first().json.query || {};\nconst id = query.id || '';\nif (!id) throw new Error('Falta id en query params');\nconst isUUID = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(id);\nreturn [{ json: { idBuscar: id, isUUID } }];"
      },
      "id": "extract-id",
      "name": "Extraer ID CF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "fichas_alta",
        "returnAll": true,
        "options": {},
        "alwaysOutputData": true
      },
      "id": "supa-get-fichas-cf",
      "name": "GET Fichas CF",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Pasar el resultado de fichas junto con el ID buscado\nconst fichas = $input.all().map(i => i.json).filter(x => x.id);\nconst { idBuscar, isUUID } = $('Extraer ID CF').first().json;\nreturn [{ json: { idBuscar, isUUID, fichas } }];"
      },
      "id": "pack-fichas",
      "name": "Empaquetar Fichas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "solicitudes",
        "returnAll": true,
        "options": {},
        "alwaysOutputData": true
      },
      "id": "supa-get-sols-cf",
      "name": "GET Solicitudes CF",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Combinar fichas + solicitudes y buscar por id\nconst { idBuscar, isUUID, fichas } = $('Empaquetar Fichas').first().json;\nconst solicitudes = $input.all().map(i => i.json).filter(x => x.id);\n\nlet result = null;\n\nif (isUUID) {\n  const ficha = fichas.find(f => f.id === idBuscar);\n  if (ficha) {\n    result = {\n      'ID': ficha.id,\n      'id': ficha.id,\n      'Comercial': ficha.comercial || '',\n      'Nombre Sociedad': ficha.denominacion || '',\n      'Nombre Comercial': ficha.nombre_comercial || '',\n      'Calle': ficha.calle || '',\n      'Número': ficha.numero || '',\n      'CP': ficha.cp || '',\n      'Municipio': ficha.municipio || '',\n      'Provincia': ficha.provincia || '',\n      'CIF/NIF': ficha.cif || '',\n      'Email': ficha.email || '',\n      'Email Factura': ficha.email_factura || '',\n      'Email CC': ficha.email_cc || '',\n      'IBAN': ficha.iban || '',\n      'Tipo Cliente': ficha.tipo_cliente || '',\n      'Firmas Contratadas': ficha.firmas_contratadas || '',\n      'JP Nombre': ficha.jp_nombre || '',\n      'JP Apellidos': ficha.jp_apellidos || '',\n      'JP Rol': ficha.jp_rol || '',\n      'JP Teléfono': ficha.jp_telefono || '',\n      'JP Mail': ficha.jp_mail || '',\n      'Firmante Nombre': ficha.firm_nombre || '',\n      'Firmante Apellidos': ficha.firm_apellidos || '',\n      'Firmante Mail': ficha.firm_mail || '',\n      'Firmante DNI': ficha.firm_dni || '',\n      'Firmante Puesto': ficha.firm_puesto || '',\n      'TPV': ficha.tpv || '',\n      'TPV Contacto': ficha.tpv_contacto || '',\n      'TPV Email': ficha.tpv_email || '',\n      'TPV No Integrado': ficha.tpv_no_integrado === true ? 'Sí' : '',\n      'TPV NI Nombre': ficha.tpv_ni_nombre || '',\n      'TPV NI Contacto': ficha.tpv_ni_contacto || '',\n      'TPV NI Email': ficha.tpv_ni_email || '',\n      'Entrega Calle': ficha.entrega_calle || '',\n      'Entrega Número': ficha.entrega_numero || '',\n      'Entrega CP': ficha.entrega_cp || '',\n      'Entrega Municipio': ficha.entrega_municipio || '',\n      'Entrega Provincia': ficha.entrega_provincia || '',\n      'Contacto Nombre': ficha.contacto_nombre || '',\n      'Contacto Email': ficha.contacto_email || '',\n      'Contacto Teléfono': ficha.contacto_telefono || '',\n      'Credencial Master': ficha.cred_master || '',\n      'Credencial Yurest': ficha.cred_yurest || '',\n      'Comentarios': ficha.comentarios || '',\n      'Estado': ficha.estado || '',\n      'Baja': ficha.baja || 'No',\n      'Lite': ficha.lite === true ? 'Sí' : '',\n      'Distribuidor': ficha.distribuidor === true ? 'Sí' : '',\n      'Módulos': Array.isArray(ficha.modulos) ? ficha.modulos.join(',') : (ficha.modulos || ''),\n      'Dist. Empresa': ficha.dist_empresa || '',\n      'Dist. CIF': ficha.dist_cif || '',\n      'Dist. Dirección': ficha.dist_direccion || '',\n      'Dist. CP': ficha.dist_cp || '',\n      'Dist. Contacto': ficha.dist_contacto || '',\n      'Dist. Mail': ficha.dist_mail || '',\n      'Dist. Teléfono': ficha.dist_telefono || '',\n      'Dist. Comisión Implementación (%)': ficha.dist_comision || 0,\n      'ImporteSetup': ficha.importe_setup || '',\n      'Descuentosetup': ficha.descuento_setup || '',\n      'Mensualidad Total Locales': ficha.mensualidad_total_locales || 0,\n      'Mensualidad Anualizada': ficha.fin_mensualidad_anual || 0,\n      'Proyecto de Implementación': ficha.fin_implementacion || 0,\n      'Plan Producto BASIC': ficha.fin_basic || 0,\n      'Plan Producto PRO': ficha.fin_pro || 0,\n      'Plan RRHH': ficha.fin_rrhh || 0,\n      'Plan Operaciones': ficha.fin_operaciones || 0,\n      'Yurest Lite': ficha.fin_lite || 0,\n      'Integraciones': ficha.fin_integraciones || 0,\n      'paquetes_carrito': ficha.paquetes_carrito || [],\n      'Adjuntos': ficha.adjuntos || [],\n      'SEPA': ficha.sepa_mandato || null\n    };\n  }\n}\n\nif (!result) {\n  for (const sol of solicitudes) {\n    let datos = sol.datos;\n    if (typeof datos === 'string') {\n      try { datos = JSON.parse(datos); } catch(_) { datos = {}; }\n    }\n    const solId = datos['ID Solicitud'] || '';\n    if (String(solId) === String(idBuscar) || sol.id === idBuscar) {\n      result = datos;\n      result.id = sol.id;\n      result['ID Solicitud'] = solId;\n      break;\n    }\n  }\n}\n\nif (!result) {\n  result = { id: idBuscar, 'ID Solicitud': idBuscar };\n}\n\nreturn [{ json: result }];"
      },
      "id": "find-data",
      "name": "Buscar Datos CF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-cf",
      "name": "Respond CF",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1440,
        300
      ]
    }
  ],
  "connections": {
    "Webhook CF": {
      "main": [
        [
          {
            "node": "Extraer ID CF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer ID CF": {
      "main": [
        [
          {
            "node": "GET Fichas CF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Fichas CF": {
      "main": [
        [
          {
            "node": "Empaquetar Fichas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empaquetar Fichas": {
      "main": [
        [
          {
            "node": "GET Solicitudes CF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Solicitudes CF": {
      "main": [
        [
          {
            "node": "Buscar Datos CF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Datos CF": {
      "main": [
        [
          {
            "node": "Respond CF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "yurest"
    },
    {
      "name": "completar"
    }
  ]
}