database/n8n-workflows/15-notif-integraciones-api.json
{
  "name": "Yurest - API Notificaciones Integraciones",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "notif-integraciones/config",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-get-config",
      "name": "Webhook GET Config",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200],
      "webhookId": "notif-integraciones-get-config"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "notif_integraciones_config",
        "returnAll": true,
        "options": {}
      },
      "id": "supa-get-config",
      "name": "GET Config Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "notif_integraciones_grupos",
        "returnAll": true,
        "filterType": "string",
        "filterString": "deleted_at=is.null&order=orden.asc,nombre.asc",
        "options": {}
      },
      "id": "supa-get-grupos",
      "name": "GET Grupos Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "executeOnce": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Combina la fila de config (debería ser única) con la lista de grupos.\nconst configs = $('GET Config Supabase').all().map(i => i.json).filter(c => c && c.id);\nconst grupos  = $('GET Grupos Supabase').all().map(i => i.json).filter(g => g && g.id);\n\nfunction parseJsonField(v, fallback) {\n  if (v == null) return fallback;\n  if (Array.isArray(v) || typeof v === 'object') return v;\n  if (typeof v === 'string') {\n    try { return JSON.parse(v); } catch (_) { return fallback; }\n  }\n  return fallback;\n}\n\nconst config = configs[0] || null;\nif (config) {\n  config.secciones_seguimiento = parseJsonField(config.secciones_seguimiento, []);\n}\n\nfor (const g of grupos) {\n  g.filtro_tpv       = parseJsonField(g.filtro_tpv, []);\n  g.filtro_secciones = parseJsonField(g.filtro_secciones, []);\n}\n\nreturn [{ json: { config, grupos } }];"
      },
      "id": "format-config",
      "name": "Combinar Config + Grupos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-get-config",
      "name": "Respond GET Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 200]
    },

    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "notif-integraciones/config",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-put-config",
      "name": "Webhook PUT Config",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "notif-integraciones-put-config"
    },
    {
      "parameters": {
        "jsCode": "// Toma el body y prepara el row a actualizar (en la única fila de config).\nconst b = $input.first().json.body || {};\n\nconst row = {};\nif (b.umbral_dias !== undefined)           row.umbral_dias = parseInt(b.umbral_dias, 10) || 7;\nif (b.activo !== undefined)                row.activo      = !!b.activo;\nif (b.asana_project_id !== undefined)      row.asana_project_id = String(b.asana_project_id);\nif (b.secciones_seguimiento !== undefined) {\n  row.secciones_seguimiento = JSON.stringify(\n    Array.isArray(b.secciones_seguimiento) ? b.secciones_seguimiento : []\n  );\n}\nif (b.updated_by !== undefined)            row.updated_by = String(b.updated_by);\n\nreturn [{ json: row }];"
      },
      "id": "prepare-put-config",
      "name": "Preparar PUT Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notif_integraciones_config",
        "filterType": "string",
        "filterString": "id=not.is.null",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-put-config",
      "name": "UPDATE Config",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 400],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, config: $json }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-put-config",
      "name": "Respond PUT Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 400]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notif-integraciones/grupos",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-grupos-action",
      "name": "Webhook Grupos Action",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 600],
      "webhookId": "notif-integraciones-grupos-action"
    },
    {
      "parameters": {
        "jsCode": "// Router: convierte el body en un row preparado para INSERT/UPDATE/DELETE.\n// El frontend envía { action: 'create'|'update'|'delete', grupo: {...} }.\nconst b = $input.first().json.body || {};\nconst action = String(b.action || '').toLowerCase();\nconst g = b.grupo || {};\n\nif (!['create','update','delete'].includes(action)) {\n  throw new Error('action requerida: create | update | delete');\n}\n\nfunction buildRow(g) {\n  const row = {};\n  if (g.nombre        !== undefined) row.nombre        = String(g.nombre).trim();\n  if (g.destinatarios !== undefined) row.destinatarios = String(g.destinatarios).trim();\n  if (g.activo        !== undefined) row.activo        = !!g.activo;\n  if (g.orden         !== undefined) row.orden         = parseInt(g.orden, 10) || 0;\n  if (g.filtro_tpv       !== undefined) row.filtro_tpv       = JSON.stringify(Array.isArray(g.filtro_tpv) ? g.filtro_tpv : []);\n  if (g.filtro_secciones !== undefined) row.filtro_secciones = JSON.stringify(Array.isArray(g.filtro_secciones) ? g.filtro_secciones : []);\n  return row;\n}\n\nlet payload;\nif (action === 'create') {\n  if (!g.nombre || !g.destinatarios) throw new Error('Faltan nombre o destinatarios');\n  payload = buildRow(g);\n} else if (action === 'update') {\n  if (!g.id) throw new Error('Falta id para update');\n  payload = { id: g.id, ...buildRow(g) };\n} else if (action === 'delete') {\n  if (!g.id) throw new Error('Falta id para delete');\n  payload = { id: g.id, deleted_at: new Date().toISOString() };\n}\n\nreturn [{ json: { action, payload } }];"
      },
      "id": "prepare-grupo-action",
      "name": "Preparar acción Grupo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 600],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-create",
      "name": "¿Es create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "delete",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-delete",
      "name": "¿Es delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 720]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "notif_integraciones_grupos",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "nombre",           "fieldValue": "={{ $('Preparar acción Grupo').first().json.payload.nombre }}" },
            { "fieldId": "destinatarios",    "fieldValue": "={{ $('Preparar acción Grupo').first().json.payload.destinatarios }}" },
            { "fieldId": "activo",           "fieldValue": "={{ $('Preparar acción Grupo').first().json.payload.activo ?? true }}" },
            { "fieldId": "orden",            "fieldValue": "={{ $('Preparar acción Grupo').first().json.payload.orden ?? 0 }}" },
            { "fieldId": "filtro_tpv",       "fieldValue": "={{ $('Preparar acción Grupo').first().json.payload.filtro_tpv ?? '[]' }}" },
            { "fieldId": "filtro_secciones", "fieldValue": "={{ $('Preparar acción Grupo').first().json.payload.filtro_secciones ?? '[]' }}" }
          ]
        },
        "options": {}
      },
      "id": "supa-insert-grupo",
      "name": "INSERT Grupo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 500],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Prepara el row a actualizar: sólo los campos mutables + id.\n// Usar autoMapInputData en el nodo Supabase garantiza que no se\n// inyecten columnas no mencionadas (evita la violación NOT NULL en\n// nombre/destinatarios que pasaba con defineBelow).\nreturn [{ json: { ...$('Preparar acción Grupo').first().json.payload } }];"
      },
      "id": "prep-update-row",
      "name": "Preparar row UPDATE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 600],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{{ $credentials.supabaseApi.host }}/rest/v1/notif_integraciones_grupos?id=eq.{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer",       "value": "return=representation" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ nombre: $json.nombre, destinatarios: $json.destinatarios, activo: $json.activo, orden: $json.orden, filtro_tpv: $json.filtro_tpv, filtro_secciones: $json.filtro_secciones }) }}",
        "options": { "response": { "response": { "fullResponse": false } } }
      },
      "id": "http-update-grupo",
      "name": "UPDATE Grupo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 600],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Prepara el item para el DELETE físico: sólo necesitamos el id para\n// el filtro. El historial conserva grupo_nombre como texto, así que no\n// hace falta soft-delete.\nconst payload = $('Preparar acción Grupo').first().json.payload;\nreturn [{ json: { id: payload.id } }];"
      },
      "id": "prep-delete-row",
      "name": "Preparar row DELETE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 720],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://{{ $credentials.supabaseApi.host }}/rest/v1/notif_integraciones_grupos?id=eq.{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": false } } }
      },
      "id": "http-delete-grupo",
      "name": "DELETE Grupo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 720],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Verifica que la operación afectó alguna fila. Soporta 3 formatos de\n// entrada distintos según el nodo que acaba de ejecutarse:\n//  A) Supabase node (INSERT): item.json = { id, ...row }\n//  B) Supabase node con error + continueOnFail: item.json = { error: {...} }\n//  C) HTTP Request node (UPDATE/DELETE vía REST API): item.json = [{...row}, ...]\n//     o bien, en caso de error, item.json = { code, message, details }\nconst { action } = $('Preparar acción Grupo').first().json;\nconst input = $input.all();\nlet count = 0;\nconst errores = [];\nlet grupo = null;\n\nfor (const it of (input || [])) {\n  const j = (it && it.json) ? it.json : it;\n  if (!j) continue;\n\n  // Formato B: error Supabase wrap\n  if (j.error) {\n    errores.push(String(j.error.message || j.error.code || j.error));\n    continue;\n  }\n\n  // Formato C-error: body de PostgREST con code+message sin datos (400/409 etc.)\n  if (j.code && j.message && !j.id) {\n    errores.push(j.message + (j.details ? ' (' + j.details + ')' : ''));\n    continue;\n  }\n\n  // Formato C: array de filas devueltas por PostgREST\n  if (Array.isArray(j)) {\n    count += j.length;\n    if (!grupo && j.length > 0) grupo = j[0];\n    continue;\n  }\n\n  // Formato A: fila individual\n  if (j.id) {\n    count++;\n    if (!grupo) grupo = j;\n    continue;\n  }\n\n  // Compat legacy: {data: [...]}\n  if (Array.isArray(j.data)) { count += j.data.length; continue; }\n}\n\n// Si es delete y no hubo error ni count, pero llegamos aquí, asumimos\n// éxito (204 No Content sin body).\nif (action === 'delete' && count === 0 && errores.length === 0 && input.length > 0) {\n  count = 1;\n}\n\nreturn [{ json: {\n  success: count > 0,\n  action,\n  affected: count,\n  errores,\n  grupo\n}}];"
      },
      "id": "verify-grupo",
      "name": "Verificar resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 600],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-grupo",
      "name": "Respond Grupo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 600]
    },

    {
      "parameters": {
        "httpMethod": "GET",
        "path": "notif-integraciones/historial",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-get-historial",
      "name": "Webhook GET Historial",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 800],
      "webhookId": "notif-integraciones-get-historial"
    },
    {
      "parameters": {
        "jsCode": "// Paginación: lee limit y offset de la query string y los sanea.\nconst q = ($input.first().json && $input.first().json.query) || {};\nconst limit = Math.min(Math.max(parseInt(q.limit, 10) || 50, 1), 500);\nconst offset = Math.max(parseInt(q.offset, 10) || 0, 0);\nreturn [{ json: { limit, offset } }];"
      },
      "id": "prep-hist-paging",
      "name": "Extraer paginación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 800],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "notif_integraciones_historial",
        "returnAll": false,
        "limit": "={{ $json.limit }}",
        "filterType": "string",
        "filterString": "=order=ejecutado_at.desc&offset={{ $json.offset }}",
        "options": {}
      },
      "id": "supa-get-historial",
      "name": "GET Historial Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [560, 800],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Devuelve el historial parseando el JSONB `tareas`. Incluye metadatos\n// de paginación para que el frontend sepa si hay más filas disponibles.\nfunction parseJsonField(v, fb) {\n  if (v == null) return fb;\n  if (Array.isArray(v) || typeof v === 'object') return v;\n  if (typeof v === 'string') { try { return JSON.parse(v); } catch (_) { return fb; } }\n  return fb;\n}\nconst { limit, offset } = $('Extraer paginación').first().json;\nconst rows = $input.all().map(i => i.json).filter(r => r && r.id);\nfor (const r of rows) {\n  r.tareas = parseJsonField(r.tareas, []);\n}\n// has_more = true si devolvimos exactamente el límite — hay posiblemente\n// más filas. El frontend usa esto para decidir si mostrar \"cargar más\".\nreturn [{ json: {\n  historial: rows,\n  paging: { limit, offset, count: rows.length, has_more: rows.length >= limit }\n} }];"
      },
      "id": "format-historial",
      "name": "Formatear Historial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 800],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-historial",
      "name": "Respond Historial",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 800]
    }
  ],
  "connections": {
    "Webhook GET Config": {
      "main": [[{ "node": "GET Config Supabase", "type": "main", "index": 0 }]]
    },
    "GET Config Supabase": {
      "main": [[{ "node": "GET Grupos Supabase", "type": "main", "index": 0 }]]
    },
    "GET Grupos Supabase": {
      "main": [[{ "node": "Combinar Config + Grupos", "type": "main", "index": 0 }]]
    },
    "Combinar Config + Grupos": {
      "main": [[{ "node": "Respond GET Config", "type": "main", "index": 0 }]]
    },

    "Webhook PUT Config": {
      "main": [[{ "node": "Preparar PUT Config", "type": "main", "index": 0 }]]
    },
    "Preparar PUT Config": {
      "main": [[{ "node": "UPDATE Config", "type": "main", "index": 0 }]]
    },
    "UPDATE Config": {
      "main": [[{ "node": "Respond PUT Config", "type": "main", "index": 0 }]]
    },

    "Webhook Grupos Action": {
      "main": [[{ "node": "Preparar acción Grupo", "type": "main", "index": 0 }]]
    },
    "Preparar acción Grupo": {
      "main": [[{ "node": "¿Es create?", "type": "main", "index": 0 }]]
    },
    "¿Es create?": {
      "main": [
        [{ "node": "INSERT Grupo", "type": "main", "index": 0 }],
        [{ "node": "¿Es delete?", "type": "main", "index": 0 }]
      ]
    },
    "¿Es delete?": {
      "main": [
        [{ "node": "Preparar row DELETE", "type": "main", "index": 0 }],
        [{ "node": "Preparar row UPDATE", "type": "main", "index": 0 }]
      ]
    },
    "Preparar row UPDATE": {
      "main": [[{ "node": "UPDATE Grupo", "type": "main", "index": 0 }]]
    },
    "Preparar row DELETE": {
      "main": [[{ "node": "DELETE Grupo", "type": "main", "index": 0 }]]
    },
    "INSERT Grupo": {
      "main": [[{ "node": "Verificar resultado", "type": "main", "index": 0 }]]
    },
    "UPDATE Grupo": {
      "main": [[{ "node": "Verificar resultado", "type": "main", "index": 0 }]]
    },
    "DELETE Grupo": {
      "main": [[{ "node": "Verificar resultado", "type": "main", "index": 0 }]]
    },
    "Verificar resultado": {
      "main": [[{ "node": "Respond Grupo", "type": "main", "index": 0 }]]
    },

    "Webhook GET Historial": {
      "main": [[{ "node": "Extraer paginación", "type": "main", "index": 0 }]]
    },
    "Extraer paginación": {
      "main": [[{ "node": "GET Historial Supabase", "type": "main", "index": 0 }]]
    },
    "GET Historial Supabase": {
      "main": [[{ "node": "Formatear Historial", "type": "main", "index": 0 }]]
    },
    "Formatear Historial": {
      "main": [[{ "node": "Respond Historial", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [
    { "name": "yurest" },
    { "name": "integraciones" },
    { "name": "notificacion" }
  ]
}
