database/n8n-workflows/15-notif-integraciones-api.json
{
  "name": "Yurest - API Notificaciones Integraciones",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "notif-integraciones/config",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-get-config",
      "name": "Webhook GET Config",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200],
      "webhookId": "notif-integraciones-get-config"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "notif_integraciones_config",
        "returnAll": true,
        "options": {}
      },
      "id": "supa-get-config",
      "name": "GET Config Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "notif_integraciones_grupos",
        "returnAll": true,
        "filterType": "string",
        "filterString": "deleted_at=is.null&order=orden.asc,nombre.asc",
        "options": {}
      },
      "id": "supa-get-grupos",
      "name": "GET Grupos Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "executeOnce": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Combina la fila de config (debería ser única) con la lista de grupos.\nconst configs = $('GET Config Supabase').all().map(i => i.json).filter(c => c && c.id);\nconst grupos  = $('GET Grupos Supabase').all().map(i => i.json).filter(g => g && g.id);\n\nfunction parseJsonField(v, fallback) {\n  if (v == null) return fallback;\n  if (Array.isArray(v) || typeof v === 'object') return v;\n  if (typeof v === 'string') {\n    try { return JSON.parse(v); } catch (_) { return fallback; }\n  }\n  return fallback;\n}\n\nconst config = configs[0] || null;\nif (config) {\n  config.secciones_seguimiento = parseJsonField(config.secciones_seguimiento, []);\n}\n\nfor (const g of grupos) {\n  g.filtro_tpv       = parseJsonField(g.filtro_tpv, []);\n  g.filtro_secciones = parseJsonField(g.filtro_secciones, []);\n}\n\nreturn [{ json: { config, grupos } }];"
      },
      "id": "format-config",
      "name": "Combinar Config + Grupos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-get-config",
      "name": "Respond GET Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 200]
    },

    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "notif-integraciones/config",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-put-config",
      "name": "Webhook PUT Config",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "notif-integraciones-put-config"
    },
    {
      "parameters": {
        "jsCode": "// Toma el body y prepara el row a actualizar (en la única fila de config).\nconst b = $input.first().json.body || {};\n\nconst row = {};\nif (b.umbral_dias !== undefined)           row.umbral_dias = parseInt(b.umbral_dias, 10) || 7;\nif (b.activo !== undefined)                row.activo      = !!b.activo;\nif (b.asana_project_id !== undefined)      row.asana_project_id = String(b.asana_project_id);\nif (b.secciones_seguimiento !== undefined) {\n  row.secciones_seguimiento = JSON.stringify(\n    Array.isArray(b.secciones_seguimiento) ? b.secciones_seguimiento : []\n  );\n}\nif (b.updated_by !== undefined)            row.updated_by = String(b.updated_by);\n\nreturn [{ json: row }];"
      },
      "id": "prepare-put-config",
      "name": "Preparar PUT Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notif_integraciones_config",
        "filterType": "string",
        "filterString": "id=not.is.null",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-put-config",
      "name": "UPDATE Config",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 400],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, config: $json }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-put-config",
      "name": "Respond PUT Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 400]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notif-integraciones/grupos",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-grupos-action",
      "name": "Webhook Grupos Action",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 600],
      "webhookId": "notif-integraciones-grupos-action"
    },
    {
      "parameters": {
        "jsCode": "// Router: convierte el body en un row preparado para INSERT/UPDATE/DELETE.\n// El frontend envía { action: 'create'|'update'|'delete', grupo: {...} }.\nconst b = $input.first().json.body || {};\nconst action = String(b.action || '').toLowerCase();\nconst g = b.grupo || {};\n\nif (!['create','update','delete'].includes(action)) {\n  throw new Error('action requerida: create | update | delete');\n}\n\nfunction buildRow(g) {\n  const row = {};\n  if (g.nombre        !== undefined) row.nombre        = String(g.nombre).trim();\n  if (g.destinatarios !== undefined) row.destinatarios = String(g.destinatarios).trim();\n  if (g.activo        !== undefined) row.activo        = !!g.activo;\n  if (g.orden         !== undefined) row.orden         = parseInt(g.orden, 10) || 0;\n  if (g.filtro_tpv       !== undefined) row.filtro_tpv       = JSON.stringify(Array.isArray(g.filtro_tpv) ? g.filtro_tpv : []);\n  if (g.filtro_secciones !== undefined) row.filtro_secciones = JSON.stringify(Array.isArray(g.filtro_secciones) ? g.filtro_secciones : []);\n  return row;\n}\n\nlet payload;\nif (action === 'create') {\n  if (!g.nombre || !g.destinatarios) throw new Error('Faltan nombre o destinatarios');\n  payload = buildRow(g);\n} else if (action === 'update') {\n  if (!g.id) throw new Error('Falta id para update');\n  payload = { id: g.id, ...buildRow(g) };\n} else if (action === 'delete') {\n  if (!g.id) throw new Error('Falta id para delete');\n  payload = { id: g.id, deleted_at: new Date().toISOString() };\n}\n\nreturn [{ json: { action, payload } }];"
      },
      "id": "prepare-grupo-action",
      "name": "Preparar acción Grupo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 600],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-create",
      "name": "¿Es create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 600]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "notif_integraciones_grupos",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "nombre",           "fieldValue": "={{ $('Preparar acción Grupo').first().json.payload.nombre }}" },
            { "fieldId": "destinatarios",    "fieldValue": "={{ $('Preparar acción Grupo').first().json.payload.destinatarios }}" },
            { "fieldId": "activo",           "fieldValue": "={{ $('Preparar acción Grupo').first().json.payload.activo ?? true }}" },
            { "fieldId": "orden",            "fieldValue": "={{ $('Preparar acción Grupo').first().json.payload.orden ?? 0 }}" },
            { "fieldId": "filtro_tpv",       "fieldValue": "={{ $('Preparar acción Grupo').first().json.payload.filtro_tpv ?? '[]' }}" },
            { "fieldId": "filtro_secciones", "fieldValue": "={{ $('Preparar acción Grupo').first().json.payload.filtro_secciones ?? '[]' }}" }
          ]
        },
        "options": {}
      },
      "id": "supa-insert-grupo",
      "name": "INSERT Grupo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 500],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notif_integraciones_grupos",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $json.id }}" }
          ]
        },
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-update-grupo",
      "name": "UPDATE Grupo",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1020, 700],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Para los casos UPDATE y DELETE, autoMapInputData se confunde con la\n// estructura {action, payload}. Aplanamos: el item que llega a Supabase\n// tiene que ser DIRECTAMENTE el payload (id + columnas a actualizar).\nreturn [{ json: $input.first().json.payload }];"
      },
      "id": "flatten-payload",
      "name": "Aplanar payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 700],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, grupo: $json }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-grupo",
      "name": "Respond Grupo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 600]
    },

    {
      "parameters": {
        "httpMethod": "GET",
        "path": "notif-integraciones/historial",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-get-historial",
      "name": "Webhook GET Historial",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 800],
      "webhookId": "notif-integraciones-get-historial"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "notif_integraciones_historial",
        "returnAll": false,
        "limit": 200,
        "filterType": "string",
        "filterString": "order=ejecutado_at.desc",
        "options": {}
      },
      "id": "supa-get-historial",
      "name": "GET Historial Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 800],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Devuelve el historial parseando el JSONB `tareas`.\nfunction parseJsonField(v, fb) {\n  if (v == null) return fb;\n  if (Array.isArray(v) || typeof v === 'object') return v;\n  if (typeof v === 'string') { try { return JSON.parse(v); } catch (_) { return fb; } }\n  return fb;\n}\nconst rows = $input.all().map(i => i.json).filter(r => r && r.id);\nfor (const r of rows) {\n  r.tareas = parseJsonField(r.tareas, []);\n}\nreturn [{ json: { historial: rows } }];"
      },
      "id": "format-historial",
      "name": "Formatear Historial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 800],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-historial",
      "name": "Respond Historial",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 800]
    }
  ],
  "connections": {
    "Webhook GET Config": {
      "main": [[{ "node": "GET Config Supabase", "type": "main", "index": 0 }]]
    },
    "GET Config Supabase": {
      "main": [[{ "node": "GET Grupos Supabase", "type": "main", "index": 0 }]]
    },
    "GET Grupos Supabase": {
      "main": [[{ "node": "Combinar Config + Grupos", "type": "main", "index": 0 }]]
    },
    "Combinar Config + Grupos": {
      "main": [[{ "node": "Respond GET Config", "type": "main", "index": 0 }]]
    },

    "Webhook PUT Config": {
      "main": [[{ "node": "Preparar PUT Config", "type": "main", "index": 0 }]]
    },
    "Preparar PUT Config": {
      "main": [[{ "node": "UPDATE Config", "type": "main", "index": 0 }]]
    },
    "UPDATE Config": {
      "main": [[{ "node": "Respond PUT Config", "type": "main", "index": 0 }]]
    },

    "Webhook Grupos Action": {
      "main": [[{ "node": "Preparar acción Grupo", "type": "main", "index": 0 }]]
    },
    "Preparar acción Grupo": {
      "main": [[{ "node": "¿Es create?", "type": "main", "index": 0 }]]
    },
    "¿Es create?": {
      "main": [
        [{ "node": "INSERT Grupo", "type": "main", "index": 0 }],
        [{ "node": "Aplanar payload", "type": "main", "index": 0 }]
      ]
    },
    "Aplanar payload": {
      "main": [[{ "node": "UPDATE Grupo", "type": "main", "index": 0 }]]
    },
    "INSERT Grupo": {
      "main": [[{ "node": "Respond Grupo", "type": "main", "index": 0 }]]
    },
    "UPDATE Grupo": {
      "main": [[{ "node": "Respond Grupo", "type": "main", "index": 0 }]]
    },

    "Webhook GET Historial": {
      "main": [[{ "node": "GET Historial Supabase", "type": "main", "index": 0 }]]
    },
    "GET Historial Supabase": {
      "main": [[{ "node": "Formatear Historial", "type": "main", "index": 0 }]]
    },
    "Formatear Historial": {
      "main": [[{ "node": "Respond Historial", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [
    { "name": "yurest" },
    { "name": "integraciones" },
    { "name": "notificacion" }
  ]
}
