database/n8n-workflows/16-auth.json
{
  "name": "Yurest - Auth y Gestión de Usuarios",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/login",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "wh-login",
      "name": "Webhook POST Login",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200],
      "webhookId": "auth-login"
    },
    {
      "parameters": {
        "jsCode": "// Extrae username y password del body. No se logguea el password\n// por seguridad.\nconst body = ($input.first().json.body) || {};\nconst username = String(body.username || '').trim().toLowerCase();\nconst password = String(body.password || '');\nif (!username || !password) {\n  throw new Error('username y password son obligatorios');\n}\nreturn [{ json: { username, password } }];"
      },
      "id": "prep-login",
      "name": "Preparar Login",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 200],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "usuarios",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=username=eq.{{ $json.username }}&deleted_at=is.null&activo=eq.true",
        "options": {}
      },
      "id": "supa-get-user",
      "name": "GET usuario por username",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [640, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// PBKDF2-SHA256 en JS puro: n8n de este usuario bloquea require('crypto')\n// Y globalThis.crypto. Implementación inline (~80 líneas, suficiente para\n// el seed del admin: 100k iter × SHA-256 ≈ 500 ms).\nconst K=new Uint32Array([0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2]);\nfunction sha256(data){const len=data.length,bits=len*8;const padLen=(len%64<56)?(56-len%64):(120-len%64);const p=new Uint8Array(len+padLen+8);p.set(data);p[len]=0x80;const v=new DataView(p.buffer);v.setUint32(p.length-4,bits>>>0);v.setUint32(p.length-8,Math.floor(bits/0x100000000));let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;const w=new Uint32Array(64);for(let i=0;i<p.length;i+=64){for(let j=0;j<16;j++)w[j]=v.getUint32(i+j*4);for(let j=16;j<64;j++){const s0=(w[j-15]>>>7|w[j-15]<<25)^(w[j-15]>>>18|w[j-15]<<14)^(w[j-15]>>>3);const s1=(w[j-2]>>>17|w[j-2]<<15)^(w[j-2]>>>19|w[j-2]<<13)^(w[j-2]>>>10);w[j]=(w[j-16]+s0+w[j-7]+s1)>>>0;}let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;for(let j=0;j<64;j++){const S1=(e>>>6|e<<26)^(e>>>11|e<<21)^(e>>>25|e<<7);const ch=(e&f)^(~e&g);const t1=(h+S1+ch+K[j]+w[j])>>>0;const S0=(a>>>2|a<<30)^(a>>>13|a<<19)^(a>>>22|a<<10);const mj=(a&b)^(a&c)^(b&c);const t2=(S0+mj)>>>0;h=g;g=f;f=e;e=(d+t1)>>>0;d=c;c=b;b=a;a=(t1+t2)>>>0;}h0=(h0+a)>>>0;h1=(h1+b)>>>0;h2=(h2+c)>>>0;h3=(h3+d)>>>0;h4=(h4+e)>>>0;h5=(h5+f)>>>0;h6=(h6+g)>>>0;h7=(h7+h)>>>0;}const o=new Uint8Array(32);const ov=new DataView(o.buffer);ov.setUint32(0,h0);ov.setUint32(4,h1);ov.setUint32(8,h2);ov.setUint32(12,h3);ov.setUint32(16,h4);ov.setUint32(20,h5);ov.setUint32(24,h6);ov.setUint32(28,h7);return o;}\nfunction hmacSha256(k,m){if(k.length>64)k=sha256(k);const pk=new Uint8Array(64);pk.set(k);const ip=new Uint8Array(64),op=new Uint8Array(64);for(let i=0;i<64;i++){ip[i]=pk[i]^0x36;op[i]=pk[i]^0x5c;}const inn=new Uint8Array(64+m.length);inn.set(ip);inn.set(m,64);const ih=sha256(inn);const ou=new Uint8Array(64+32);ou.set(op);ou.set(ih,64);return sha256(ou);}\nfunction pbkdf2Sha256(pw,salt,iterations,dkLen){const pwB=typeof pw==='string'?new TextEncoder().encode(pw):pw;const res=new Uint8Array(dkLen);const blocks=Math.ceil(dkLen/32);for(let i=1;i<=blocks;i++){const sb=new Uint8Array(salt.length+4);sb.set(salt);const dv=new DataView(sb.buffer);dv.setUint32(salt.length,i);let u=hmacSha256(pwB,sb);const t=new Uint8Array(u);for(let j=1;j<iterations;j++){u=hmacSha256(pwB,u);for(let k=0;k<32;k++)t[k]^=u[k];}const off=(i-1)*32,end=Math.min(off+32,dkLen);for(let k=0;k<end-off;k++)res[off+k]=t[k];}return res;}\nfunction b64ToBytes(b64){const bin=atob(b64);const out=new Uint8Array(bin.length);for(let i=0;i<bin.length;i++)out[i]=bin.charCodeAt(i);return out;}\nfunction timingSafeEqual(a,b){if(a.length!==b.length)return false;let r=0;for(let i=0;i<a.length;i++)r|=a[i]^b[i];return r===0;}\nfunction verifyPbkdf2(pw,stored){if(!stored||typeof stored!=='string')return false;const parts=stored.split('$');if(parts.length!==4||parts[0]!=='pbkdf2')return false;const iterations=parseInt(parts[1],10);const salt=b64ToBytes(parts[2]);const expected=b64ToBytes(parts[3]);if(!iterations||!salt.length||!expected.length)return false;const got=pbkdf2Sha256(pw,salt,iterations,expected.length);return timingSafeEqual(got,expected);}\n\nconst { username, password } = $('Preparar Login').first().json;\nconst rows = ($input.all() || []).map(i => i.json).filter(u => u && u.id);\nconst user = rows[0] || null;\n\nlet ok = false;\nif (user && user.password_hash) {\n  try { ok = verifyPbkdf2(password, user.password_hash); } catch (_) { ok = false; }\n}\n\nif (!ok) {\n  return [{ json: { success: false, error: 'Credenciales incorrectas' } }];\n}\n\nlet permisos = [];\ntry {\n  permisos = Array.isArray(user.permisos) ? user.permisos\n           : typeof user.permisos === 'string' ? JSON.parse(user.permisos) : [];\n} catch (_) { permisos = []; }\n\n// Token opaco: 128 bits aleatorios en hex (no necesita crypto-grade; es\n// sólo un identificador de sesión).\nfunction genToken(){const b=new Uint8Array(16);for(let i=0;i<16;i++)b[i]=Math.floor(Math.random()*256);return Array.from(b).map(x=>x.toString(16).padStart(2,'0')).join('');}\nconst token = genToken();\n\nreturn [{\n  json: {\n    success: true,\n    token,\n    user: {\n      id:                   user.id,\n      username:             user.username,\n      nombre:               user.nombre || user.username,\n      email:                user.email || '',\n      rol:                  user.rol || 'user',\n      permisos:             permisos,\n      sessions_revoked_at:  user.sessions_revoked_at || null\n    },\n    _internal: { userId: user.id }\n  }\n}];"
      },
      "id": "verify-password",
      "name": "Verificar password",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 200],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-login-ok",
      "name": "¿Login OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{{ $credentials.supabaseApi.host }}/rest/v1/usuarios?id=eq.{{ $json._internal.userId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer",       "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ last_login_at: new Date().toISOString() }) }}",
        "options": { "response": { "response": { "fullResponse": false } } }
      },
      "id": "update-last-login",
      "name": "Actualizar last_login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 120],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Limpia _internal antes de devolver al cliente\nconst j = $('Verificar password').first().json;\nreturn [{ json: { success: j.success, token: j.token, user: j.user } }];"
      },
      "id": "clean-ok",
      "name": "Limpiar respuesta OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 120],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-login",
      "name": "Respond Login",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1640, 200]
    },

    {
      "parameters": {
        "httpMethod": "GET",
        "path": "auth/verify",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "wh-verify",
      "name": "Webhook GET Verify",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "auth-verify"
    },
    {
      "parameters": {
        "jsCode": "// Devuelve el estado actual del usuario para que el frontend valide si\n// la sesión guardada sigue siendo fresca. Campos sensibles (password_hash)\n// nunca se exponen.\nconst q = ($input.first().json && $input.first().json.query) || {};\nconst userId = String(q.userId || q.id || '').trim();\nif (!userId) throw new Error('userId requerido en query');\nreturn [{ json: { userId } }];"
      },
      "id": "prep-verify",
      "name": "Preparar Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "usuarios",
        "returnAll": true,
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.userId }}",
        "options": {}
      },
      "id": "supa-verify-user",
      "name": "GET usuario verify",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [640, 300],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Respuesta del verify: el frontend la compara con la sesión local.\n// - ok: true si hay usuario activo y no borrado\n// - sessions_revoked_at: timestamp del último evento que invalida sesiones\n// - rol + permisos: para que el frontend refresque si cambiaron sin re-login\nfunction parseJson(v, fb){if(v==null)return fb;if(Array.isArray(v)||typeof v==='object')return v;if(typeof v==='string'){try{return JSON.parse(v);}catch(_){return fb;}}return fb;}\nconst rows = ($input.all() || []).map(i => i.json).filter(u => u && u.id);\nconst u = rows[0];\nif (!u || u.deleted_at || u.activo === false) {\n  return [{ json: { ok: false, reason: 'usuario inactivo o no encontrado' } }];\n}\nreturn [{ json: {\n  ok: true,\n  sessions_revoked_at: u.sessions_revoked_at || null,\n  rol: u.rol || 'user',\n  permisos: parseJson(u.permisos, []),\n  activo: !!u.activo\n}}];"
      },
      "id": "format-verify",
      "name": "Formatear Verify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-verify",
      "name": "Respond Verify",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, 300]
    },

    {
      "parameters": {
        "httpMethod": "GET",
        "path": "auth/usuarios",
        "responseMode": "responseNode",
        "authentication": "basicAuth",
        "options": { "allowedOrigins": "*" }
      },
      "id": "wh-list-users",
      "name": "Webhook GET Usuarios",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 460],
      "webhookId": "auth-usuarios-list",
      "credentials": {
        "httpBasicAuth": {
          "id": "BASIC_AUTH_CREDENTIAL_ID",
          "name": "Yurest Portal Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "usuarios",
        "returnAll": true,
        "filterType": "string",
        "filterString": "deleted_at=is.null&order=created_at.desc",
        "options": {}
      },
      "id": "supa-list-users",
      "name": "GET Usuarios Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [460, 460],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Saneo y sin exponer password_hash jamás.\nfunction parseJsonField(v, fb) {\n  if (v == null) return fb;\n  if (Array.isArray(v) || typeof v === 'object') return v;\n  if (typeof v === 'string') { try { return JSON.parse(v); } catch (_) { return fb; } }\n  return fb;\n}\nconst rows = $input.all().map(i => i.json).filter(u => u && u.id);\nconst usuarios = rows.map(u => ({\n  id: u.id,\n  username: u.username,\n  nombre: u.nombre || '',\n  email: u.email || '',\n  rol: u.rol,\n  permisos: parseJsonField(u.permisos, []),\n  activo: !!u.activo,\n  last_login_at: u.last_login_at,\n  created_at: u.created_at,\n  updated_at: u.updated_at\n}));\nreturn [{ json: { usuarios } }];"
      },
      "id": "format-users",
      "name": "Formatear Usuarios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 460],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-list-users",
      "name": "Respond Usuarios",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 460]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/usuarios",
        "responseMode": "responseNode",
        "authentication": "basicAuth",
        "options": { "allowedOrigins": "*" }
      },
      "id": "wh-user-action",
      "name": "Webhook POST Usuarios",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 700],
      "webhookId": "auth-usuarios-action",
      "credentials": {
        "httpBasicAuth": {
          "id": "BASIC_AUTH_CREDENTIAL_ID",
          "name": "Yurest Portal Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CRUD de usuarios con PBKDF2-SHA256 en JS puro (sin require('crypto') ni\n// Web Crypto — el entorno n8n de este tenant bloquea ambos).\nconst K=new Uint32Array([0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2]);\nfunction sha256(data){const len=data.length,bits=len*8;const padLen=(len%64<56)?(56-len%64):(120-len%64);const p=new Uint8Array(len+padLen+8);p.set(data);p[len]=0x80;const v=new DataView(p.buffer);v.setUint32(p.length-4,bits>>>0);v.setUint32(p.length-8,Math.floor(bits/0x100000000));let h0=0x6a09e667,h1=0xbb67ae85,h2=0x3c6ef372,h3=0xa54ff53a,h4=0x510e527f,h5=0x9b05688c,h6=0x1f83d9ab,h7=0x5be0cd19;const w=new Uint32Array(64);for(let i=0;i<p.length;i+=64){for(let j=0;j<16;j++)w[j]=v.getUint32(i+j*4);for(let j=16;j<64;j++){const s0=(w[j-15]>>>7|w[j-15]<<25)^(w[j-15]>>>18|w[j-15]<<14)^(w[j-15]>>>3);const s1=(w[j-2]>>>17|w[j-2]<<15)^(w[j-2]>>>19|w[j-2]<<13)^(w[j-2]>>>10);w[j]=(w[j-16]+s0+w[j-7]+s1)>>>0;}let a=h0,b=h1,c=h2,d=h3,e=h4,f=h5,g=h6,h=h7;for(let j=0;j<64;j++){const S1=(e>>>6|e<<26)^(e>>>11|e<<21)^(e>>>25|e<<7);const ch=(e&f)^(~e&g);const t1=(h+S1+ch+K[j]+w[j])>>>0;const S0=(a>>>2|a<<30)^(a>>>13|a<<19)^(a>>>22|a<<10);const mj=(a&b)^(a&c)^(b&c);const t2=(S0+mj)>>>0;h=g;g=f;f=e;e=(d+t1)>>>0;d=c;c=b;b=a;a=(t1+t2)>>>0;}h0=(h0+a)>>>0;h1=(h1+b)>>>0;h2=(h2+c)>>>0;h3=(h3+d)>>>0;h4=(h4+e)>>>0;h5=(h5+f)>>>0;h6=(h6+g)>>>0;h7=(h7+h)>>>0;}const o=new Uint8Array(32);const ov=new DataView(o.buffer);ov.setUint32(0,h0);ov.setUint32(4,h1);ov.setUint32(8,h2);ov.setUint32(12,h3);ov.setUint32(16,h4);ov.setUint32(20,h5);ov.setUint32(24,h6);ov.setUint32(28,h7);return o;}\nfunction hmacSha256(k,m){if(k.length>64)k=sha256(k);const pk=new Uint8Array(64);pk.set(k);const ip=new Uint8Array(64),op=new Uint8Array(64);for(let i=0;i<64;i++){ip[i]=pk[i]^0x36;op[i]=pk[i]^0x5c;}const inn=new Uint8Array(64+m.length);inn.set(ip);inn.set(m,64);const ih=sha256(inn);const ou=new Uint8Array(64+32);ou.set(op);ou.set(ih,64);return sha256(ou);}\nfunction pbkdf2Sha256(pw,salt,iterations,dkLen){const pwB=typeof pw==='string'?new TextEncoder().encode(pw):pw;const res=new Uint8Array(dkLen);const blocks=Math.ceil(dkLen/32);for(let i=1;i<=blocks;i++){const sb=new Uint8Array(salt.length+4);sb.set(salt);const dv=new DataView(sb.buffer);dv.setUint32(salt.length,i);let u=hmacSha256(pwB,sb);const t=new Uint8Array(u);for(let j=1;j<iterations;j++){u=hmacSha256(pwB,u);for(let k=0;k<32;k++)t[k]^=u[k];}const off=(i-1)*32,end=Math.min(off+32,dkLen);for(let k=0;k<end-off;k++)res[off+k]=t[k];}return res;}\nfunction bytesToB64(bytes){let bin='';for(let i=0;i<bytes.length;i++)bin+=String.fromCharCode(bytes[i]);return btoa(bin);}\nfunction randomSalt(n){const s=new Uint8Array(n);for(let i=0;i<n;i++)s[i]=Math.floor(Math.random()*256);return s;}\nfunction hashPassword(pw){const salt=randomSalt(16);const iterations=100000;const h=pbkdf2Sha256(pw,salt,iterations,32);return`pbkdf2$${iterations}$${bytesToB64(salt)}$${bytesToB64(h)}`;}\n\nconst body = ($input.first().json.body) || {};\nconst action = String(body.action || '').toLowerCase();\nconst u = body.usuario || {};\n\nif (!['create','update','delete','password'].includes(action)) {\n  throw new Error('action requerida: create | update | delete | password');\n}\n\nconst PERMISOS_VALIDOS = new Set(['ventas','distribucion','lista','bajas','sinasignar','proyectos','contabilidad','clientes','integraciones','admin','docs']);\nconst PASSWORD_MIN_LEN = 8;\n\nfunction validarPermisosEstricto(arr) {\n  if (arr == null) return [];\n  if (!Array.isArray(arr)) throw new Error('permisos debe ser un array');\n  const invalidos = arr.filter(p => !PERMISOS_VALIDOS.has(String(p)));\n  if (invalidos.length > 0) {\n    throw new Error('Permisos inválidos: ' + invalidos.join(', '));\n  }\n  return arr.map(String);\n}\nfunction validarPasswordLen(pw) {\n  if (typeof pw !== 'string' || pw.length < PASSWORD_MIN_LEN) {\n    throw new Error('La contraseña debe tener al menos ' + PASSWORD_MIN_LEN + ' caracteres');\n  }\n}\n\n// Marca de tiempo de \"sesiones revocadas\": cada vez que cambian\n// permisos/rol/activo o se borra un usuario, actualizamos sessions_revoked_at\n// para que las sesiones activas se invaliden (el front comprueba este campo\n// periódicamente contra la sesión local).\nconst nowIso = new Date().toISOString();\n\nlet payload = null;\n\nif (action === 'create') {\n  if (!u.username || !u.password) throw new Error('username y password son obligatorios');\n  validarPasswordLen(u.password);\n  payload = {\n    username: String(u.username).trim().toLowerCase(),\n    password_hash: hashPassword(String(u.password)),\n    nombre: u.nombre ? String(u.nombre).trim() : null,\n    email: u.email ? String(u.email).trim().toLowerCase() : null,\n    rol: u.rol === 'admin' ? 'admin' : 'user',\n    permisos: JSON.stringify(validarPermisosEstricto(u.permisos)),\n    activo: u.activo !== false\n  };\n} else if (action === 'update') {\n  if (!u.id) throw new Error('Falta id para update');\n  payload = { id: u.id };\n  let tocaSesion = false;\n  if (u.nombre !== undefined)   payload.nombre   = u.nombre ? String(u.nombre).trim() : null;\n  if (u.email  !== undefined)   payload.email    = u.email  ? String(u.email).trim().toLowerCase() : null;\n  if (u.rol    !== undefined)   { payload.rol = u.rol === 'admin' ? 'admin' : 'user'; tocaSesion = true; }\n  if (u.permisos !== undefined) { payload.permisos = JSON.stringify(validarPermisosEstricto(u.permisos)); tocaSesion = true; }\n  if (u.activo !== undefined)   { payload.activo = !!u.activo; tocaSesion = true; }\n  if (tocaSesion) payload.sessions_revoked_at = nowIso;\n} else if (action === 'password') {\n  if (!u.id || !u.password) throw new Error('Falta id o password para cambio de password');\n  validarPasswordLen(u.password);\n  // Cambiar password también invalida sesiones (por si alguien comprometido)\n  payload = { id: u.id, password_hash: hashPassword(String(u.password)), sessions_revoked_at: nowIso };\n} else if (action === 'delete') {\n  if (!u.id) throw new Error('Falta id para delete');\n  payload = { id: u.id, deleted_at: nowIso, activo: false, sessions_revoked_at: nowIso };\n}\n\nreturn [{ json: { action, payload } }];"
      },
      "id": "prep-user-action",
      "name": "Preparar acción Usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 700],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "create",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "if-user-create",
      "name": "¿Es create usuario?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 700]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "usuarios",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "username",      "fieldValue": "={{ $('Preparar acción Usuario').first().json.payload.username }}" },
            { "fieldId": "password_hash", "fieldValue": "={{ $('Preparar acción Usuario').first().json.payload.password_hash }}" },
            { "fieldId": "nombre",        "fieldValue": "={{ $('Preparar acción Usuario').first().json.payload.nombre }}" },
            { "fieldId": "email",         "fieldValue": "={{ $('Preparar acción Usuario').first().json.payload.email }}" },
            { "fieldId": "rol",           "fieldValue": "={{ $('Preparar acción Usuario').first().json.payload.rol }}" },
            { "fieldId": "permisos",      "fieldValue": "={{ $('Preparar acción Usuario').first().json.payload.permisos }}" },
            { "fieldId": "activo",        "fieldValue": "={{ $('Preparar acción Usuario').first().json.payload.activo ?? true }}" }
          ]
        },
        "options": {}
      },
      "id": "supa-insert-user",
      "name": "INSERT Usuario",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [860, 600],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Aplana: el item que llega a HTTP Request tiene que ser DIRECTAMENTE\n// el payload (id + columnas a actualizar). Además validamos que no se\n// cuele username ni password_hash — esos NUNCA deben cambiar desde el\n// path de 'update'. Si estuvieran, los filtramos en vez de dejar que\n// lleguen a la PATCH y arrastren NULL a una columna NOT NULL.\nconst payload = $input.first().json.payload || {};\nconst { username, password_hash, ...safePayload } = payload;\nif (!safePayload.id) throw new Error('Falta id en payload de UPDATE');\nreturn [{ json: safePayload }];"
      },
      "id": "flatten-user-payload",
      "name": "Aplanar payload usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 800],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Construye el body de la PATCH de forma explícita. Antes usábamos una\n// expresión en jsonBody con IIFE y spread, que en versiones concretas de\n// n8n (self-hosted) puede fallar o evaluar a algo distinto de lo\n// esperado — causó un 'null value in column username' pese a no incluir\n// username en el payload. Aquí el cuerpo se construye en JS sin\n// dependencia de expresiones complejas y se guarda en $json.__body para\n// que la HTTP Request lo consuma tal cual.\nconst j = $input.first().json || {};\nconst body = { ...j };\ndelete body.id;\n// Eliminar claves que nunca deben ir en PATCH (defensivo)\ndelete body.username;\ndelete body.password_hash;\nreturn [{ json: { id: j.id, __body: JSON.stringify(body) } }];"
      },
      "id": "build-patch-body",
      "name": "Construir body PATCH",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 800],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{{ $credentials.supabaseApi.host }}/rest/v1/usuarios?id=eq.{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer",       "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.__body }}",
        "options": { "response": { "response": { "fullResponse": false } } }
      },
      "id": "http-update-user",
      "name": "UPDATE Usuario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 800],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Construye respuesta consistente {success, action, affected, errores, usuario}\n// sin exponer nunca password_hash.\nconst { action } = $('Preparar acción Usuario').first().json;\nconst input = $input.all();\nlet count = 0;\nconst errores = [];\nlet usuario = null;\n\nfor (const it of (input || [])) {\n  const j = (it && it.json) ? it.json : it;\n  if (!j) continue;\n  if (j.error) {\n    errores.push(String(j.error.message || j.error.code || j.error));\n    continue;\n  }\n  if (j.code && j.message && !j.id) {\n    errores.push(j.message + (j.details ? ' (' + j.details + ')' : ''));\n    continue;\n  }\n  if (Array.isArray(j)) {\n    count += j.length;\n    if (!usuario && j.length > 0) usuario = j[0];\n    continue;\n  }\n  if (j.id) { count++; if (!usuario) usuario = j; continue; }\n}\nif (usuario) delete usuario.password_hash;\nreturn [{ json: { success: count > 0, action, affected: count, errores, usuario } }];"
      },
      "id": "verify-user-action",
      "name": "Verificar resultado usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 700],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, PUT, DELETE, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-user-action",
      "name": "Respond Usuario",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 700]
    }
  ],
  "connections": {
    "Webhook POST Login": {
      "main": [[{ "node": "Preparar Login", "type": "main", "index": 0 }]]
    },
    "Preparar Login": {
      "main": [[{ "node": "GET usuario por username", "type": "main", "index": 0 }]]
    },
    "GET usuario por username": {
      "main": [[{ "node": "Verificar password", "type": "main", "index": 0 }]]
    },
    "Verificar password": {
      "main": [[{ "node": "¿Login OK?", "type": "main", "index": 0 }]]
    },
    "¿Login OK?": {
      "main": [
        [{ "node": "Limpiar respuesta OK", "type": "main", "index": 0 }],
        [{ "node": "Respond Login", "type": "main", "index": 0 }]
      ]
    },
    "Limpiar respuesta OK": {
      "main": [[{ "node": "Respond Login", "type": "main", "index": 0 }]]
    },
    "Actualizar last_login": {
      "main": [[]]
    },

    "Webhook GET Verify": {
      "main": [[{ "node": "Preparar Verify", "type": "main", "index": 0 }]]
    },
    "Preparar Verify": {
      "main": [[{ "node": "GET usuario verify", "type": "main", "index": 0 }]]
    },
    "GET usuario verify": {
      "main": [[{ "node": "Formatear Verify", "type": "main", "index": 0 }]]
    },
    "Formatear Verify": {
      "main": [[{ "node": "Respond Verify", "type": "main", "index": 0 }]]
    },

    "Webhook GET Usuarios": {
      "main": [[{ "node": "GET Usuarios Supabase", "type": "main", "index": 0 }]]
    },
    "GET Usuarios Supabase": {
      "main": [[{ "node": "Formatear Usuarios", "type": "main", "index": 0 }]]
    },
    "Formatear Usuarios": {
      "main": [[{ "node": "Respond Usuarios", "type": "main", "index": 0 }]]
    },

    "Webhook POST Usuarios": {
      "main": [[{ "node": "Preparar acción Usuario", "type": "main", "index": 0 }]]
    },
    "Preparar acción Usuario": {
      "main": [[{ "node": "¿Es create usuario?", "type": "main", "index": 0 }]]
    },
    "¿Es create usuario?": {
      "main": [
        [{ "node": "INSERT Usuario", "type": "main", "index": 0 }],
        [{ "node": "Aplanar payload usuario", "type": "main", "index": 0 }]
      ]
    },
    "Aplanar payload usuario": {
      "main": [[{ "node": "Construir body PATCH", "type": "main", "index": 0 }]]
    },
    "Construir body PATCH": {
      "main": [[{ "node": "UPDATE Usuario", "type": "main", "index": 0 }]]
    },
    "INSERT Usuario": {
      "main": [[{ "node": "Verificar resultado usuario", "type": "main", "index": 0 }]]
    },
    "UPDATE Usuario": {
      "main": [[{ "node": "Verificar resultado usuario", "type": "main", "index": 0 }]]
    },
    "Verificar resultado usuario": {
      "main": [[{ "node": "Respond Usuario", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [
    { "name": "yurest" },
    { "name": "auth" },
    { "name": "usuarios" }
  ]
}
