database/n8n-workflows/18-proyectos-historial.json
{
  "name": "Yurest - Historial de Proyectos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "proyectos/historial",
        "responseMode": "responseNode",
        "authentication": "basicAuth",
        "options": { "allowedOrigins": "*" }
      },
      "id": "wh-phist-post",
      "name": "Webhook POST Proy Historial",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200],
      "webhookId": "proyectos-historial-post",
      "credentials": {
        "httpBasicAuth": {
          "id": "BASIC_AUTH_CREDENTIAL_ID",
          "name": "Yurest Portal Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepara un row de historial de proyecto. Cliente envía:\n// { proyecto_id, usuario:{id,nombre,rol}, accion, seccion_nombre?,\n//   tarea_id?, tarea_nombre?, descripcion?, cambios?, metadata? }\nconst ACCIONES_VALIDAS = new Set([\n  'tarea_completada','tarea_reabierta','tarea_eliminada','tarea_movida',\n  'tarea_anadida','tarea_actualizada',\n  'subtarea_completada','subtarea_reabierta','subtarea_eliminada',\n  'subtarea_anadida','subtarea_actualizada','subtarea_agendada','subtarea_desagendada',\n  'show_asignado','show_noshow','show_limpiado',\n  'proyecto_creado','proyecto_pausado','proyecto_reanudado',\n  'proyecto_completado','proyecto_eliminado','proyecto_actualizado',\n  'anotacion_added','anotacion_updated','anotacion_deleted',\n  'adjunto_add','adjunto_remove',\n  'contacto_added','contacto_removed',\n  'otro'\n]);\nconst body = ($input.first().json.body) || {};\nif (!body.proyecto_id) throw new Error('proyecto_id es obligatorio');\nconst accion = String(body.accion || '').toLowerCase();\nif (!ACCIONES_VALIDAS.has(accion)) throw new Error('accion inválida: ' + body.accion);\nconst u = body.usuario || {};\nconst rolValidado = ['admin','user','sistema'].includes(u.rol) ? u.rol : 'user';\nconst row = {\n  proyecto_id:    body.proyecto_id,\n  usuario_id:     u.id || null,\n  usuario_nombre: (u.nombre || u.username || '').slice(0, 120) || null,\n  usuario_rol:    rolValidado,\n  accion:         accion,\n  seccion_nombre: body.seccion_nombre ? String(body.seccion_nombre).slice(0, 200) : null,\n  tarea_id:       body.tarea_id ? String(body.tarea_id).slice(0, 64) : null,\n  tarea_nombre:   body.tarea_nombre ? String(body.tarea_nombre).slice(0, 240) : null,\n  descripcion:    body.descripcion ? String(body.descripcion).slice(0, 500) : null,\n  cambios:        JSON.stringify(body.cambios  || {}),\n  metadata:       JSON.stringify(body.metadata || {})\n};\nreturn [{ json: row }];"
      },
      "id": "prep-phist",
      "name": "Preparar Historial Proyecto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 200],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "proyectos_historial",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "insert-phist",
      "name": "INSERT Historial Proyecto",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.all();\nlet id = null;\nconst errores = [];\nfor (const it of input) {\n  const j = (it && it.json) ? it.json : it;\n  if (!j) continue;\n  if (j.error) { errores.push(String(j.error.message || j.error.code || j.error)); continue; }\n  if (j.id) id = j.id;\n}\nreturn [{ json: { success: !!id, id, errores } }];"
      },
      "id": "verify-phist",
      "name": "Verificar Historial Proyecto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200],
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-phist-post",
      "name": "Respond POST Proy",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 200]
    },

    {
      "parameters": {
        "httpMethod": "GET",
        "path": "proyectos/historial",
        "responseMode": "responseNode",
        "authentication": "basicAuth",
        "options": { "allowedOrigins": "*" }
      },
      "id": "wh-phist-get",
      "name": "Webhook GET Proy Historial",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 440],
      "webhookId": "proyectos-historial-get",
      "credentials": {
        "httpBasicAuth": {
          "id": "BASIC_AUTH_CREDENTIAL_ID",
          "name": "Yurest Portal Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const q = ($input.first().json && $input.first().json.query) || {};\nconst proyectoId = String(q.proyectoId || q.proyecto_id || '').trim();\nif (!proyectoId) throw new Error('Se requiere proyectoId en query');\nconst limit = Math.min(Math.max(parseInt(q.limit, 10) || 200, 1), 500);\nconst offset = Math.max(parseInt(q.offset, 10) || 0, 0);\nreturn [{ json: { proyectoId, limit, offset } }];"
      },
      "id": "prep-phist-get",
      "name": "Preparar GET Proy Historial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 440],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "proyectos_historial",
        "returnAll": false,
        "limit": "={{ $json.limit }}",
        "filterType": "string",
        "filterString": "=proyecto_id=eq.{{ $json.proyectoId }}&order=creado_at.desc&offset={{ $json.offset }}",
        "options": {}
      },
      "id": "supa-get-phist",
      "name": "GET Proy Historial Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [640, 440],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "function parseJson(v, fb){if(v==null)return fb;if(Array.isArray(v)||typeof v==='object')return v;if(typeof v==='string'){try{return JSON.parse(v);}catch(_){return fb;}}return fb;}\nconst { limit, offset } = $('Preparar GET Proy Historial').first().json;\nconst rows = $input.all().map(i => i.json).filter(r => r && r.id);\nfor (const r of rows) { r.cambios = parseJson(r.cambios, {}); r.metadata = parseJson(r.metadata, {}); }\nreturn [{ json: { historial: rows, paging: { limit, offset, count: rows.length, has_more: rows.length >= limit } } }];"
      },
      "id": "format-phist",
      "name": "Formatear Proy Historial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 440],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-phist-get",
      "name": "Respond GET Proy",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1040, 440]
    }
  ],
  "connections": {
    "Webhook POST Proy Historial": {
      "main": [[{ "node": "Preparar Historial Proyecto", "type": "main", "index": 0 }]]
    },
    "Preparar Historial Proyecto": {
      "main": [[{ "node": "INSERT Historial Proyecto", "type": "main", "index": 0 }]]
    },
    "INSERT Historial Proyecto": {
      "main": [[{ "node": "Verificar Historial Proyecto", "type": "main", "index": 0 }]]
    },
    "Verificar Historial Proyecto": {
      "main": [[{ "node": "Respond POST Proy", "type": "main", "index": 0 }]]
    },
    "Webhook GET Proy Historial": {
      "main": [[{ "node": "Preparar GET Proy Historial", "type": "main", "index": 0 }]]
    },
    "Preparar GET Proy Historial": {
      "main": [[{ "node": "GET Proy Historial Supabase", "type": "main", "index": 0 }]]
    },
    "GET Proy Historial Supabase": {
      "main": [[{ "node": "Formatear Proy Historial", "type": "main", "index": 0 }]]
    },
    "Formatear Proy Historial": {
      "main": [[{ "node": "Respond GET Proy", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [
    { "name": "yurest" },
    { "name": "proyectos" },
    { "name": "historial" }
  ]
}
