database/n8n-workflows/20-promociones.json
{
  "name": "Yurest - Promociones CRUD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "promociones",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-promo-get",
      "name": "Webhook GET Promociones",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        200
      ],
      "webhookId": "promociones-get"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "promociones_ocupacion",
        "returnAll": true,
        "options": {}
      },
      "id": "supa-get-promo",
      "name": "GET Promociones View",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        440,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Devuelve la lista plana + añade flags útiles para el selector:\n//   full              → promoción 100% llena (no se puede asignar)\n//   manana_disponible → turno mañana con plazas libres\n//   tarde_disponible  → turno tarde con plazas libres\nconst items = ($input.all() || []).map(i => i.json).filter(x => x && x.id);\nconst out = items.map(p => ({\n  ...p,\n  full: (p.libres_total || 0) <= 0,\n  manana_disponible: (p.libres_manana || 0) > 0,\n  tarde_disponible:  (p.libres_tarde  || 0) > 0\n}));\nreturn [{ json: { promociones: out } }];"
      },
      "id": "format-promo",
      "name": "Formatear Promociones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-get-promo",
      "name": "Respond GET Promociones",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "promociones",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-promo-post",
      "name": "Webhook POST Promociones",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        460
      ],
      "webhookId": "promociones-post"
    },
    {
      "parameters": {
        "jsCode": "// Arquitectura resiliente al bug de IF v2 (ver wf 21):\n//   - Si hay error: emite { __done: true, success: false, errores, action }\n//     (forma final de la respuesta). \"Formatear error\" hace pass-through.\n//   - Si OK: emite { action, row } y el IF encamina por __done (undefined\n//     para éxito → falso → happy path).\nconst raw = $input.first().json || {};\nconst b = (raw.body && typeof raw.body === 'object') ? raw.body : raw;\nconst action = String(b.action || 'create').toLowerCase();\nconst p = b.promocion || {};\n\nif (!['create','update','delete','reactivar'].includes(action)) {\n  return [{ json: { __done: true, success: false, errores: ['action inválida: ' + action], action } }];\n}\n\nconst errores = [];\nif (action === 'create' && (!p.nombre || !String(p.nombre).trim())) errores.push('nombre obligatorio');\nif (action !== 'create' && !p.id) errores.push('id obligatorio para ' + action);\n\nif (errores.length > 0) {\n  return [{ json: { __done: true, success: false, errores, action } }];\n}\n\nconst row = {};\nif (action === 'create') {\n  row.nombre = String(p.nombre).trim();\n  if (p.descripcion != null)   row.descripcion   = String(p.descripcion);\n  if (p.fecha_inicio)          row.fecha_inicio  = p.fecha_inicio;\n  row.estado        = p.estado === 'cerrada' ? 'cerrada' : 'activa';\n  row.plazas_manana = Number.isFinite(+p.plazas_manana) ? +p.plazas_manana : 8;\n  row.plazas_tarde  = Number.isFinite(+p.plazas_tarde)  ? +p.plazas_tarde  : 8;\n  if (p.created_by) row.created_by = String(p.created_by);\n} else if (action === 'update') {\n  row.id = p.id;\n  if (p.nombre       !== undefined) row.nombre       = String(p.nombre).trim();\n  if (p.descripcion  !== undefined) row.descripcion  = p.descripcion ? String(p.descripcion) : null;\n  if (p.fecha_inicio !== undefined) row.fecha_inicio = p.fecha_inicio || null;\n  if (p.estado       !== undefined) row.estado       = p.estado === 'cerrada' ? 'cerrada' : 'activa';\n  if (p.plazas_manana !== undefined && Number.isFinite(+p.plazas_manana)) row.plazas_manana = +p.plazas_manana;\n  if (p.plazas_tarde  !== undefined && Number.isFinite(+p.plazas_tarde))  row.plazas_tarde  = +p.plazas_tarde;\n  row.updated_at = new Date().toISOString();\n} else if (action === 'delete') {\n  row.id = p.id;\n  row.deleted_at = new Date().toISOString();\n} else if (action === 'reactivar') {\n  row.id = p.id;\n  row.deleted_at = null;\n}\nreturn [{ json: { action, row } }];"
      },
      "id": "prep-promo",
      "name": "Preparar Promoción",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        460
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "promociones",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-insert-promo",
      "name": "INSERT Promoción",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1040,
        520
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Aplana row para que UPDATE Promoción (autoMapInputData) solo reciba\n// los campos de la tabla incluido id.\nreturn [{ json: $json.row }];"
      },
      "id": "flatten-promo-update",
      "name": "Aplanar UPDATE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        620
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "promociones",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-update-promo",
      "name": "UPDATE Promoción",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1240,
        620
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Respuesta consolidada tras INSERT o UPDATE.\nconst items = $input.all() || [];\nconst rows = items.map(i => i.json).filter(x => x && x.id);\nreturn [{ json: {\n  success: rows.length > 0,\n  promocion: rows[0] || null,\n  errores: rows.length > 0 ? [] : ['INSERT/UPDATE devolvió 0 filas']\n} }];"
      },
      "id": "format-promo-result",
      "name": "Formatear resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, PUT, DELETE, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-promo-post",
      "name": "Respond POST Promociones",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1640,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aplana row para que INSERT Promoción (autoMapInputData) solo reciba\n// los campos de la tabla.\nreturn [{ json: $json.row }];"
      },
      "id": "aplanar-insert-promo",
      "name": "Aplanar INSERT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        520
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.__done === true }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "insert"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-promo",
      "name": "Router Promo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        720,
        520
      ]
    }
  ],
  "connections": {
    "Webhook GET Promociones": {
      "main": [
        [
          {
            "node": "GET Promociones View",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Promociones View": {
      "main": [
        [
          {
            "node": "Formatear Promociones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Promociones": {
      "main": [
        [
          {
            "node": "Respond GET Promociones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST Promociones": {
      "main": [
        [
          {
            "node": "Preparar Promoción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Promoción": {
      "main": [
        [
          {
            "node": "Router Promo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Promo": {
      "main": [
        [
          {
            "node": "Respond POST Promociones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aplanar INSERT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aplanar UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplanar INSERT": {
      "main": [
        [
          {
            "node": "INSERT Promoción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aplanar UPDATE": {
      "main": [
        [
          {
            "node": "UPDATE Promoción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INSERT Promoción": {
      "main": [
        [
          {
            "node": "Formatear resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE Promoción": {
      "main": [
        [
          {
            "node": "Formatear resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear resultado": {
      "main": [
        [
          {
            "node": "Respond POST Promociones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "active": false
}