database/n8n-workflows/21-hardware-pedidos.json
{
  "name": "Yurest - Hardware Pedidos CRUD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "hardware/pedidos",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-hw-get",
      "name": "Webhook GET Pedidos",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        200
      ],
      "webhookId": "hw-pedidos-get"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "hardware_pedidos",
        "returnAll": true,
        "options": {}
      },
      "id": "supa-hw-get",
      "name": "GET Pedidos Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        440,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Devuelve solo pedidos vivos (no soft-deleted). Si la URL trae\n// ?estado=solicitada|proforma_adjuntada|... filtramos; si trae\n// ?proyecto_id=<uuid> filtramos por proyecto. Sin filtro devolvemos todos.\nconst raw = ($input.all() || []).map(i => i.json).filter(x => x && x.id && !x.deleted_at);\nconst q = ($input.first().json && $input.first().json.query) || {};\nlet out = raw;\nif (q.estado) out = out.filter(p => p.estado === q.estado);\nif (q.proyecto_id) out = out.filter(p => p.proyecto_id === q.proyecto_id);\nreturn [{ json: { pedidos: out } }];"
      },
      "id": "hw-format-get",
      "name": "Formatear GET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "hw-respond-get",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hardware/pedidos",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-hw-post",
      "name": "Webhook POST Pedidos",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        500
      ],
      "webhookId": "hw-pedidos-post"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "hw-respond-post",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1640,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json || {};\nconst b = (raw.body && typeof raw.body === 'object') ? raw.body : raw;\nconst action = String(b.action || '').toLowerCase();\nconst p = b.pedido || {};\nconst now = new Date().toISOString();\nconst errores = [];\nconst VALID = ['create','adjuntar_proforma','adjuntar_justificante','confirmar_pago','actualizar_items','delete'];\nif (!VALID.includes(action)) errores.push('action inválida: ' + action);\nif (action !== 'create' && !p.id) errores.push('id obligatorio para ' + action);\nlet out = {};\nif (action === 'create') {\n  if (!p.cliente || !String(p.cliente).trim()) errores.push('cliente obligatorio');\n  if (!Array.isArray(p.items) || p.items.length === 0) errores.push('items vacío');\n  out = {\n    proyecto_id: p.proyecto_id || null,\n    cliente: String(p.cliente || '').trim(),\n    implementador: p.implementador || null,\n    items: p.items || [],\n    estado: 'solicitada',\n    notas_implementador: p.notas_implementador || null,\n    solicitado_por: p.solicitado_por || null,\n    solicitado_at: now\n  };\n} else if (action === 'adjuntar_proforma') {\n  if (!p.proforma_pdf || !p.proforma_pdf.data) errores.push('proforma_pdf requerido');\n  out = { id: p.id, proforma_pdf: p.proforma_pdf, estado: 'proforma_adjuntada', proforma_at: now };\n  if (p.notas_contabilidad !== undefined) out.notas_contabilidad = p.notas_contabilidad;\n} else if (action === 'adjuntar_justificante') {\n  if (!p.justificante_pdf || !p.justificante_pdf.data) errores.push('justificante_pdf requerido');\n  out = { id: p.id, justificante_pdf: p.justificante_pdf, estado: 'pendiente_confirmar', pagado_at: now };\n  if (p.notas_implementador !== undefined) out.notas_implementador = p.notas_implementador;\n} else if (action === 'confirmar_pago') {\n  out = { id: p.id, estado: 'lista_envio', confirmado_at: now };\n  if (p.notas_contabilidad !== undefined) out.notas_contabilidad = p.notas_contabilidad;\n} else if (action === 'actualizar_items') {\n  if (!Array.isArray(p.items)) errores.push('items debe ser array');\n  out = { id: p.id, items: p.items || [] };\n  if (p.notas_implementador !== undefined) out.notas_implementador = p.notas_implementador;\n} else if (action === 'delete') {\n  out = { id: p.id, deleted_at: now };\n}\nObject.keys(out).forEach(k => { if (out[k] === undefined) delete out[k]; });\nif (errores.length > 0) return [{ json: { __error: true, __errores: errores, __action: action } }];\nreturn [{ json: out }];"
      },
      "id": "prep-upsert-hardware_pedidos",
      "name": "Preparar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        460
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "hardware_pedidos",
        "dataToSend": "autoMapInputData",
        "options": {}
      },
      "id": "supa-upsert-hardware_pedidos",
      "name": "Supabase UPSERT",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        460
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// DIAGNOSTIC: volcamos la salida de Supabase UPSERT tal cual.\nconst items = $input.all() || [];\nconst errores = [];\nlet rows = [];\nlet cortoPreparar = false;\nconst _trace = items.map(i => { try { return { keys: Object.keys(i.json||{}), json: i.json }; } catch (_) { return '?'; } });\nfor (const it of items) {\n  const j = it.json; if (!j) continue;\n  if (j.__error) { cortoPreparar = true; (j.__errores||[]).forEach(e=>errores.push(e)); continue; }\n  if (Array.isArray(j)) { rows = rows.concat(j); continue; }\n  if (j.error) { errores.push(String(j.error.message || j.error)); continue; }\n  if (j.code && j.message && !j.id) { errores.push(j.message + (j.details?' ('+j.details+')':'')); continue; }\n  if (j.id) rows.push(j);\n}\nif (cortoPreparar) return [{ json: { success: false, errores, pedido: null, _trace } }];\nif (rows.length === 0 && errores.length === 0) errores.push('UPSERT devolvió 0 filas');\nreturn [{ json: {\n  success: rows.length > 0,\n  pedido: rows[0] || null,\n  errores,\n  _trace\n} }];"
      },
      "id": "fmt-upsert-hardware_pedidos",
      "name": "Formatear respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        460
      ]
    }
  ],
  "connections": {
    "Webhook GET Pedidos": {
      "main": [
        [
          {
            "node": "GET Pedidos Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Pedidos Supabase": {
      "main": [
        [
          {
            "node": "Formatear GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear GET": {
      "main": [
        [
          {
            "node": "Respond GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST Pedidos": {
      "main": [
        [
          {
            "node": "Preparar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar": {
      "main": [
        [
          {
            "node": "Supabase UPSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase UPSERT": {
      "main": [
        [
          {
            "node": "Formatear respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear respuesta": {
      "main": [
        [
          {
            "node": "Respond POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "active": false
}