database/n8n-workflows/21-hardware-pedidos.json
{
  "name": "Yurest - Hardware Pedidos CRUD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "hardware/pedidos",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-hw-get",
      "name": "Webhook GET Pedidos",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        200
      ],
      "webhookId": "hw-pedidos-get"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "hardware_pedidos",
        "returnAll": true,
        "options": {}
      },
      "id": "supa-hw-get",
      "name": "GET Pedidos Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        440,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Devuelve solo pedidos vivos (no soft-deleted). Si la URL trae\n// ?estado=solicitada|proforma_adjuntada|... filtramos; si trae\n// ?proyecto_id=<uuid> filtramos por proyecto. Sin filtro devolvemos todos.\nconst raw = ($input.all() || []).map(i => i.json).filter(x => x && x.id && !x.deleted_at);\nconst q = ($input.first().json && $input.first().json.query) || {};\nlet out = raw;\nif (q.estado) out = out.filter(p => p.estado === q.estado);\nif (q.proyecto_id) out = out.filter(p => p.proyecto_id === q.proyecto_id);\nreturn [{ json: { pedidos: out } }];"
      },
      "id": "hw-format-get",
      "name": "Formatear GET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "hw-respond-get",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hardware/pedidos",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-hw-post",
      "name": "Webhook POST Pedidos",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        500
      ],
      "webhookId": "hw-pedidos-post"
    },
    {
      "parameters": {
        "jsCode": "// Actions disponibles:\n//   create | adjuntar_proforma | adjuntar_justificante |\n//   confirmar_pago | actualizar_items | delete\n//\n// Arquitectura nueva: si la validación detecta errores, el item\n// devuelto YA tiene la forma de la respuesta final\n//   { __done: true, success: false, errores, action }\n// Si es OK, el item lleva { action, row } para que INSERT/UPDATE\n// lo procesen aguas abajo. El IF downstream solo chequea __done.\n\nconst raw = $input.first().json || {};\nconst b = (raw.body && typeof raw.body === 'object') ? raw.body : raw;\nconst action = String(b.action || '').toLowerCase();\nconst p = b.pedido || {};\nconst errores = [];\nconst now = new Date().toISOString();\n\nconst VALID = ['create','adjuntar_proforma','adjuntar_justificante','confirmar_pago','actualizar_items','delete'];\nif (!VALID.includes(action)) errores.push('action inválida: ' + action);\nif (action !== 'create' && !p.id) errores.push('id obligatorio para ' + action);\n\nlet row = {};\nif (action === 'create') {\n  if (!p.cliente || !String(p.cliente).trim()) errores.push('cliente obligatorio');\n  if (!Array.isArray(p.items) || p.items.length === 0) errores.push('items vacío');\n  row = {\n    proyecto_id: p.proyecto_id || null,\n    cliente: String(p.cliente || '').trim(),\n    implementador: p.implementador || null,\n    items: p.items || [],\n    estado: 'solicitada',\n    notas_implementador: p.notas_implementador || null,\n    solicitado_por: p.solicitado_por || null,\n    solicitado_at: now\n  };\n} else if (action === 'adjuntar_proforma') {\n  if (!p.proforma_pdf || !p.proforma_pdf.data) errores.push('proforma_pdf requerido');\n  row = { id: p.id, proforma_pdf: p.proforma_pdf, estado: 'proforma_adjuntada', proforma_at: now };\n  if (p.notas_contabilidad !== undefined) row.notas_contabilidad = p.notas_contabilidad;\n} else if (action === 'adjuntar_justificante') {\n  if (!p.justificante_pdf || !p.justificante_pdf.data) errores.push('justificante_pdf requerido');\n  row = { id: p.id, justificante_pdf: p.justificante_pdf, estado: 'pendiente_confirmar', pagado_at: now };\n  if (p.notas_implementador !== undefined) row.notas_implementador = p.notas_implementador;\n} else if (action === 'confirmar_pago') {\n  row = { id: p.id, estado: 'lista_envio', confirmado_at: now };\n  if (p.notas_contabilidad !== undefined) row.notas_contabilidad = p.notas_contabilidad;\n} else if (action === 'actualizar_items') {\n  if (!Array.isArray(p.items)) errores.push('items debe ser array');\n  row = { id: p.id, items: p.items || [] };\n  if (p.notas_implementador !== undefined) row.notas_implementador = p.notas_implementador;\n} else if (action === 'delete') {\n  row = { id: p.id, deleted_at: now };\n}\n\n// Limpia undefined — si enviamos undefined al Supabase node, pisa\n// el valor existente con null.\nObject.keys(row).forEach(k => { if (row[k] === undefined) delete row[k]; });\n\n// Si hay errores de validación, devolvemos DIRECTAMENTE la respuesta\n// final — el flujo salta por el IF a Respond sin tocar Supabase.\nif (errores.length > 0) {\n  return [{ json: { __done: true, success: false, errores, action, _route: 'error' } }];\n}\n// Añadir _route explícito para el Switch (string match)\nconst _route = (action === 'create') ? 'insert' : 'update';\nreturn [{ json: { action, row, _route } }];"
      },
      "id": "hw-prep",
      "name": "Preparar Acción",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "hw-respond-post",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1640,
        500
      ]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "insert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "insert"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._route }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "update"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-hardware_pedidos",
      "name": "Switch Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        640,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { __body: JSON.stringify($json.row || {}) } }];"
      },
      "id": "prep-ins-hardware_pedidos",
      "name": "Body INSERT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $credentials.supabaseApi.host }}/rest/v1/hardware_pedidos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.__body }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "http-ins-hardware_pedidos",
      "name": "HTTP INSERT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const row = $json.row || {};\nconst id = row.id;\nconst body = { ...row };\ndelete body.id;\nreturn [{ json: { id, __body: JSON.stringify(body) } }];"
      },
      "id": "prep-upd-hardware_pedidos",
      "name": "Body UPDATE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        560
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://{{ $credentials.supabaseApi.host }}/rest/v1/hardware_pedidos?id=eq.{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json.__body }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "http-upd-hardware_pedidos",
      "name": "HTTP UPDATE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        560
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all() || [];\nlet rows = [];\nconst errores = [];\nfor (const it of items) {\n  const j = it.json; if (!j) continue;\n  if (Array.isArray(j)) { rows = rows.concat(j); continue; }\n  if (j.error) { errores.push(String(j.error.message || j.error)); continue; }\n  if (j.code && j.message && !j.id) { errores.push(j.message + (j.details?' ('+j.details+')':'')); continue; }\n  if (j.id) rows.push(j);\n}\nif (rows.length === 0 && errores.length === 0) errores.push('HTTP respondió sin filas');\nreturn [{ json: {\n  success: rows.length > 0,\n  pedido: rows[0] || null,\n  errores\n} }];"
      },
      "id": "fmt-ok-hardware_pedidos",
      "name": "Formatear OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return [$input.first()];"
      },
      "id": "fmt-err-hardware_pedidos",
      "name": "Formatear ERROR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        320
      ]
    }
  ],
  "connections": {
    "Webhook GET Pedidos": {
      "main": [
        [
          {
            "node": "GET Pedidos Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Pedidos Supabase": {
      "main": [
        [
          {
            "node": "Formatear GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear GET": {
      "main": [
        [
          {
            "node": "Respond GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST Pedidos": {
      "main": [
        [
          {
            "node": "Preparar Acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Acción": {
      "main": [
        [
          {
            "node": "Switch Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Router": {
      "main": [
        [
          {
            "node": "Formatear ERROR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Body INSERT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Body UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear ERROR": {
      "main": [
        [
          {
            "node": "Respond POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body INSERT": {
      "main": [
        [
          {
            "node": "HTTP INSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Body UPDATE": {
      "main": [
        [
          {
            "node": "HTTP UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP INSERT": {
      "main": [
        [
          {
            "node": "Formatear OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP UPDATE": {
      "main": [
        [
          {
            "node": "Formatear OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear OK": {
      "main": [
        [
          {
            "node": "Respond POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "active": false
}