database/n8n-workflows/23-hardware-stock.json
{
  "name": "Yurest - Hardware Stock CRUD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "hardware/stock",
        "responseMode": "responseNode",
        "authentication": "basicAuth",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-stock-get",
      "name": "Webhook GET Stock",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200],
      "webhookId": "hardware-stock-get",
      "credentials": {
        "httpBasicAuth": {
          "id": "BASIC_AUTH_CREDENTIAL_ID",
          "name": "Yurest Portal Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "hardware_stock",
        "returnAll": true,
        "options": {}
      },
      "id": "supa-stock-get",
      "name": "GET Stock Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 200],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "hardware_stock_movimientos",
        "returnAll": true,
        "options": {}
      },
      "id": "supa-stock-mov-get",
      "name": "GET Movimientos Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [440, 360],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Devuelve el catálogo de stock + historial de movimientos.\n// Filtros opcionales por query-string:\n//   ?q=<texto>                (contains sobre nombre/sku/categoria)\n//   ?categoria=<cat>          (match exacto)\n//   ?estado_stock=ok|bajo|agotado   (calculado: stock_actual vs stock_minimo)\n//   ?articulo_id=<uuid>       (si viene: devuelve sólo ese artículo con su historial)\n//   ?incluir_archivadas=1\nconst wh = $('Webhook GET Stock').first().json || {};\nconst q = wh.query || wh.params || {};\nconst verArch = String(q.incluir_archivadas || '') === '1';\n\n// Los dos nodos Supabase vuelcan items a las entradas en orden. En code\n// node con dos inputs cada $input.all() devuelve los de la entrada por\n// defecto. Para acceder al segundo input usamos $('GET Movimientos Supabase').\nconst articulos = ($('GET Stock Supabase').all() || [])\n  .map(i => i.json)\n  .filter(x => x && x.id && (verArch || !x.deleted_at));\nconst movimientos = ($('GET Movimientos Supabase').all() || [])\n  .map(i => i.json)\n  .filter(x => x && x.id);\n\n// Helper: estado del stock relativo al mínimo.\nfunction estadoStock(a) {\n  const cur = Number(a.stock_actual) || 0;\n  const min = Number(a.stock_minimo) || 0;\n  if (cur === 0) return 'agotado';\n  if (min > 0 && cur <= min) return 'bajo';\n  return 'ok';\n}\n\nlet out = articulos.map(a => ({ ...a, estado_stock: estadoStock(a) }));\n\nif (q.q) {\n  const needle = String(q.q).toLowerCase();\n  out = out.filter(a =>\n    String(a.nombre || '').toLowerCase().includes(needle) ||\n    String(a.sku || '').toLowerCase().includes(needle) ||\n    String(a.categoria || '').toLowerCase().includes(needle)\n  );\n}\nif (q.categoria)     out = out.filter(a => a.categoria === q.categoria);\nif (q.estado_stock)  out = out.filter(a => a.estado_stock === q.estado_stock);\nif (q.articulo_id) {\n  out = out.filter(a => a.id === q.articulo_id);\n}\n\n// Orden: agotados y bajos primero (para llamar la atención), luego ok;\n// dentro por nombre asc. Archivados al final.\nconst orderEstado = { agotado: 0, bajo: 1, ok: 2 };\nout.sort((a, b) => {\n  const ax = a.deleted_at ? 1 : 0;\n  const bx = b.deleted_at ? 1 : 0;\n  if (ax !== bx) return ax - bx;\n  const oa = orderEstado[a.estado_stock] ?? 9;\n  const ob = orderEstado[b.estado_stock] ?? 9;\n  if (oa !== ob) return oa - ob;\n  return String(a.nombre || '').localeCompare(String(b.nombre || ''), 'es');\n});\n\n// Para cada artículo adjuntamos su historial (si el caller lo pidió\n// concreto o por si lo quiere todo de un tirón). El historial va\n// ordenado por created_at DESC (recientes primero).\nconst movsByArt = {};\nmovimientos.forEach(m => {\n  if (!movsByArt[m.articulo_id]) movsByArt[m.articulo_id] = [];\n  movsByArt[m.articulo_id].push(m);\n});\nObject.values(movsByArt).forEach(arr => arr.sort((a, b) => new Date(b.created_at) - new Date(a.created_at)));\nout = out.map(a => ({ ...a, movimientos: movsByArt[a.id] || [] }));\n\n// Totales agregados sobre el listado filtrado (sólo vivos):\nconst totales = out.filter(a => !a.deleted_at).reduce((acc, a) => {\n  acc.articulos   += 1;\n  acc.unidades    += Number(a.stock_actual) || 0;\n  acc.valor_compra += (Number(a.stock_actual) || 0) * (Number(a.precio_compra) || 0);\n  acc.valor_venta  += (Number(a.stock_actual) || 0) * (Number(a.precio_venta)  || 0);\n  if (a.estado_stock === 'bajo')    acc.bajos++;\n  if (a.estado_stock === 'agotado') acc.agotados++;\n  return acc;\n}, { articulos: 0, unidades: 0, valor_compra: 0, valor_venta: 0, bajos: 0, agotados: 0 });\ntotales.valor_compra = +totales.valor_compra.toFixed(2);\ntotales.valor_venta  = +totales.valor_venta.toFixed(2);\n\nreturn [{ json: { articulos: out, totales } }];"
      },
      "id": "stock-format-get",
      "name": "Formatear GET",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "stock-respond-get",
      "name": "Respond GET",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [840, 280]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hardware/stock",
        "responseMode": "responseNode",
        "authentication": "basicAuth",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "wh-stock-post",
      "name": "Webhook POST Stock",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 560],
      "webhookId": "hardware-stock-post",
      "credentials": {
        "httpBasicAuth": {
          "id": "BASIC_AUTH_CREDENTIAL_ID",
          "name": "Yurest Portal Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "stock-respond-post",
      "name": "Respond POST",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1640, 560]
    },
    {
      "parameters": {
        "jsCode": "// Acciones soportadas:\n//   create      → alta de artículo (opcional stock_inicial > 0 genera movimiento 'entrada')\n//   update      → edición de campos del catálogo (no toca stock_actual directamente — se hace vía movimiento)\n//   archivar    → soft-delete (deleted_at=now)\n//   reactivar   → deshace archivar\n//   movimiento  → inserta en hardware_stock_movimientos (trigger actualiza stock_actual)\nconst raw = $input.first().json || {};\nconst b = (raw.body && typeof raw.body === 'object') ? raw.body : raw;\nconst action = String(b.action || '').toLowerCase();\nconst a = b.articulo || {};\nconst m = b.movimiento || {};\nconst now = new Date().toISOString();\nconst errores = [];\nconst VALID = ['create', 'update', 'archivar', 'reactivar', 'movimiento'];\nif (!VALID.includes(action)) errores.push('action inválida: ' + action);\nif (['update','archivar','reactivar'].includes(action) && !a.id) errores.push('id obligatorio para ' + action);\nif (action === 'movimiento' && !m.articulo_id) errores.push('articulo_id obligatorio para movimiento');\n\nconst UUID_RE = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (a.id && !UUID_RE.test(a.id))              errores.push('articulo.id no es un UUID válido');\nif (m.articulo_id && !UUID_RE.test(m.articulo_id)) errores.push('movimiento.articulo_id no es un UUID válido');\n\nconst CATEGORIAS = ['tablet','soporte','cargador','cable','impresora','cajon','balanza','lector','router','otro'];\nconst TIPOS_MOV  = ['entrada','salida','ajuste'];\n\nfunction validaNumero(v, nombre, min, max, entero) {\n  if (v === undefined || v === null || v === '') return undefined;\n  const n = +v;\n  if (!Number.isFinite(n)) { errores.push(nombre + ' debe ser número'); return undefined; }\n  if (entero && !Number.isInteger(n)) { errores.push(nombre + ' debe ser entero'); return undefined; }\n  if (n < min || n > max)  { errores.push(nombre + ' fuera de rango (' + min + '..' + max + ')'); return undefined; }\n  return n;\n}\nfunction genUuid() { return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c){ const r = Math.random()*16|0; return (c==='x'?r:(r&0x3)|0x8).toString(16); }); }\n\nlet out = {};\nlet path = 'hardware_stock';\nlet extra = null; // para movimiento derivado de create con stock_inicial > 0\n\nif (action === 'create') {\n  if (!a.nombre || !String(a.nombre).trim()) errores.push('nombre obligatorio');\n  if (a.categoria && !CATEGORIAS.includes(a.categoria)) errores.push('categoria inválida');\n  const stock_inicial = validaNumero(a.stock_inicial, 'stock_inicial', 0, 1000000, true);\n  const stock_minimo  = validaNumero(a.stock_minimo,  'stock_minimo',  0, 1000000, true);\n  const pc = validaNumero(a.precio_compra, 'precio_compra', 0, 99999999.99, false);\n  const pv = validaNumero(a.precio_venta,  'precio_venta',  0, 99999999.99, false);\n  const _uuid = genUuid();\n  out = {\n    id: _uuid,\n    nombre: String(a.nombre || '').trim(),\n    sku: a.sku != null ? String(a.sku).trim() || null : null,\n    categoria: a.categoria || 'otro',\n    descripcion: a.descripcion != null ? String(a.descripcion) : null,\n    unidad: a.unidad != null ? String(a.unidad).trim() || 'ud' : 'ud',\n    // stock_actual arranca a 0; si viene stock_inicial>0 generamos un\n    // movimiento 'entrada' aparte (así queda trazado en el historial).\n    stock_actual: 0,\n    stock_minimo: stock_minimo !== undefined ? stock_minimo : 0,\n    precio_compra: pc !== undefined ? pc : 0,\n    precio_venta:  pv !== undefined ? pv : 0,\n    proveedor: a.proveedor != null ? String(a.proveedor).trim() || null : null,\n    ubicacion: a.ubicacion != null ? String(a.ubicacion).trim() || null : null,\n    notas: a.notas != null ? String(a.notas) : null,\n    created_by: a.created_by ? String(a.created_by) : null,\n    created_at: now,\n    updated_at: now\n  };\n  if (stock_inicial && stock_inicial > 0) {\n    extra = {\n      __extra: true,\n      __path: 'hardware_stock_movimientos',\n      articulo_id: _uuid,\n      tipo: 'entrada',\n      cantidad: stock_inicial,\n      motivo: 'Stock inicial',\n      created_by: a.created_by ? String(a.created_by) : null,\n      created_at: now\n    };\n  }\n} else if (action === 'update') {\n  out.id = a.id;\n  if (a.nombre !== undefined) {\n    const v = a.nombre == null ? '' : String(a.nombre).trim();\n    if (!v) errores.push('nombre no puede ser vacío');\n    else out.nombre = v;\n  }\n  if (a.sku !== undefined)         out.sku         = a.sku != null && String(a.sku).trim() ? String(a.sku).trim() : null;\n  if (a.categoria !== undefined) {\n    if (!CATEGORIAS.includes(a.categoria)) errores.push('categoria inválida');\n    else out.categoria = a.categoria;\n  }\n  if (a.descripcion !== undefined) out.descripcion = a.descripcion != null ? String(a.descripcion) : null;\n  if (a.unidad !== undefined)      out.unidad      = a.unidad != null && String(a.unidad).trim() ? String(a.unidad).trim() : 'ud';\n  if (a.stock_minimo !== undefined){ const n = validaNumero(a.stock_minimo, 'stock_minimo', 0, 1000000, true); if (n !== undefined) out.stock_minimo = n; }\n  if (a.precio_compra !== undefined){ const n = validaNumero(a.precio_compra, 'precio_compra', 0, 99999999.99, false); if (n !== undefined) out.precio_compra = n; }\n  if (a.precio_venta  !== undefined){ const n = validaNumero(a.precio_venta,  'precio_venta',  0, 99999999.99, false); if (n !== undefined) out.precio_venta  = n; }\n  if (a.proveedor !== undefined)   out.proveedor   = a.proveedor != null && String(a.proveedor).trim() ? String(a.proveedor).trim() : null;\n  if (a.ubicacion !== undefined)   out.ubicacion   = a.ubicacion != null && String(a.ubicacion).trim() ? String(a.ubicacion).trim() : null;\n  if (a.notas !== undefined)       out.notas       = a.notas != null ? String(a.notas) : null;\n  out.updated_at = now;\n} else if (action === 'archivar') {\n  out = { id: a.id, deleted_at: now, updated_at: now };\n} else if (action === 'reactivar') {\n  out = { id: a.id, deleted_at: null, updated_at: now };\n} else if (action === 'movimiento') {\n  path = 'hardware_stock_movimientos';\n  if (m.tipo && !TIPOS_MOV.includes(m.tipo)) errores.push('tipo debe ser entrada|salida|ajuste');\n  const cantidad = validaNumero(m.cantidad, 'cantidad', 1, 1000000, true);\n  if (cantidad === undefined) errores.push('cantidad obligatoria (> 0)');\n  out = {\n    id: genUuid(),\n    articulo_id: m.articulo_id,\n    tipo: m.tipo,\n    cantidad: cantidad,\n    delta_ajuste: (m.tipo === 'ajuste' && m.delta_ajuste !== undefined) ? +m.delta_ajuste : null,\n    motivo: m.motivo != null ? String(m.motivo) : null,\n    pedido_id: m.pedido_id && UUID_RE.test(m.pedido_id) ? m.pedido_id : null,\n    created_by: m.created_by ? String(m.created_by) : null,\n    created_at: now\n  };\n}\n\nObject.keys(out).forEach(k => { if (out[k] === undefined) delete out[k]; });\n\nif (errores.length > 0) {\n  return [{ json: { __error: true, __errores: errores, __action: action } }];\n}\n\n// Para create: si hay extra (stock_inicial), emitimos 2 items — el\n// segundo se rutea por el mismo httpRequest con path distinto.\nconst _method = (action === 'create' || action === 'movimiento') ? 'POST' : 'PATCH';\nconst _qs = (action === 'create' || action === 'movimiento') ? 'on_conflict=id' : ('id=eq.' + encodeURIComponent(a.id || ''));\nconst primary = Object.assign({}, out, { __method: _method, __qs: _qs, __path: path, __action: action });\nif (extra) {\n  const extraOut = Object.assign({}, extra);\n  delete extraOut.__extra;\n  extraOut.__method = 'POST';\n  extraOut.__qs     = 'on_conflict=id';\n  // id para el movimiento\n  extraOut.id = genUuid();\n  return [{ json: primary }, { json: extraOut }];\n}\nreturn [{ json: primary }];"
      },
      "id": "prep-stock",
      "name": "Preparar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 560]
    },
    {
      "parameters": {
        "method": "={{ $json.__method || 'POST' }}",
        "url": "=https://kyvzrqxicxirnroowriq.supabase.co/rest/v1/{{ $json.__path || 'hardware_stock' }}?{{ $json.__qs || 'on_conflict=id' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer",       "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.fromEntries(Object.entries($json).filter(e => !e[0].startsWith('__')))) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      },
      "id": "supa-upsert-stock",
      "name": "Supabase UPSERT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [640, 560],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Normaliza la salida PostgREST al shape único del frontend:\n//   { success, articulo, movimiento, errores }\n// Cuando la acción es `create` + stock_inicial > 0 hay 2 items (articulo\n// + movimiento). Devolvemos el artículo (primera fila) en `articulo`.\nconst prep = $('Preparar').first().json || {};\nif (prep.__error) {\n  return [{ json: { success: false, articulo: null, movimiento: null, errores: prep.__errores || ['validación falló'] } }];\n}\nconst items = $input.all() || [];\nconst errores = [];\nconst rows = [];\nfor (const it of items) {\n  const j = it.json; if (!j) continue;\n  if (Array.isArray(j)) { rows.push(...j); continue; }\n  if (j.code && j.message && !j.id) { errores.push(j.message + (j.details ? ' (' + j.details + ')' : '')); continue; }\n  if (j.error) { errores.push(String(j.error.message || j.error)); continue; }\n  if (j.id) rows.push(j);\n  if (Array.isArray(j.data)) rows.push(...j.data);\n}\nif (rows.length === 0 && errores.length === 0) errores.push('PostgREST devolvió 0 filas');\n\n// Primera fila: el artículo si acción toca hardware_stock, o movimiento\n// si acción es 'movimiento'. El frontend discrimina por action.\nconst action = prep.__action;\nlet articulo = null, movimiento = null;\nif (action === 'movimiento') {\n  movimiento = rows[0] || null;\n} else {\n  articulo = rows[0] || null;\n  // Si hubo stock_inicial movimiento, row[1] es el movimiento.\n  if (rows.length >= 2) movimiento = rows[1];\n}\nreturn [{ json: {\n  success: rows.length > 0,\n  articulo,\n  movimiento,\n  errores\n} }];"
      },
      "id": "fmt-stock-post",
      "name": "Formatear respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 560]
    }
  ],
  "connections": {
    "Webhook GET Stock":         { "main": [[{ "node": "GET Stock Supabase",         "type": "main", "index": 0 }]] },
    "GET Stock Supabase":        { "main": [[{ "node": "GET Movimientos Supabase",  "type": "main", "index": 0 }]] },
    "GET Movimientos Supabase":  { "main": [[{ "node": "Formatear GET",             "type": "main", "index": 0 }]] },
    "Formatear GET":             { "main": [[{ "node": "Respond GET",               "type": "main", "index": 0 }]] },
    "Webhook POST Stock":        { "main": [[{ "node": "Preparar",                  "type": "main", "index": 0 }]] },
    "Preparar":                  { "main": [[{ "node": "Supabase UPSERT",           "type": "main", "index": 0 }]] },
    "Supabase UPSERT":           { "main": [[{ "node": "Formatear respuesta",       "type": "main", "index": 0 }]] },
    "Formatear respuesta":       { "main": [[{ "node": "Respond POST",              "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {},
  "active": false
}
