database/n8n-workflows/28-zendesk-resumen-semanal.json
{
  "name": "Yurest - Zendesk Resumen Semanal de Incidencias",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "zendesk/resumen-semanal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-resumen-sem",
      "name": "Webhook GET resumen",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "zendesk-resumen-semanal"
    },
    {
      "parameters": {
        "jsCode": "// Acepta dos formatos en la URL:\n//   ?from=YYYY-MM-DD&to=YYYY-MM-DD     (rango libre)\n//   ?week=YYYY-WW                      (semana ISO; lunes a domingo)\n// Bandera opcional:\n//   ?refresh=1                         (ignora caché y regenera)\n//\n// Si no llega nada, default = última semana completa (lunes a domingo\n// que ya terminó). Devuelve { from, to, label, anio, semana, forceRefresh }.\nconst raw = $input.first().json || {};\nconst q = raw.query || raw.params || {};\n\nfunction parseISO(s) { const d = new Date(s + 'T00:00:00Z'); return isNaN(d.getTime()) ? null : d; }\nfunction iso(d) { return d.toISOString().slice(0, 10); }\n\nfunction lunesDeSemana(d) {\n  const x = new Date(Date.UTC(d.getUTCFullYear(), d.getUTCMonth(), d.getUTCDate()));\n  const dow = x.getUTCDay() || 7;\n  if (dow !== 1) x.setUTCDate(x.getUTCDate() - (dow - 1));\n  return x;\n}\n\nfunction semanaISO(d) {\n  // Devuelve [year, week] ISO 8601.\n  const x = new Date(Date.UTC(d.getUTCFullYear(), d.getUTCMonth(), d.getUTCDate()));\n  const dow = x.getUTCDay() || 7;\n  x.setUTCDate(x.getUTCDate() + 4 - dow);\n  const yearStart = new Date(Date.UTC(x.getUTCFullYear(), 0, 1));\n  const week = Math.ceil((((x - yearStart) / 86400000) + 1) / 7);\n  return [x.getUTCFullYear(), week];\n}\n\nlet from = null, to = null, label = '';\n\nif (q.week && /^\\d{4}-W?\\d{1,2}$/i.test(q.week)) {\n  const [y, w] = String(q.week).replace('W', '').split('-').map(Number);\n  const enero4 = new Date(Date.UTC(y, 0, 4));\n  const lunesW1 = lunesDeSemana(enero4);\n  const lunes = new Date(lunesW1.getTime() + (w - 1) * 7 * 86400000);\n  const domingo = new Date(lunes.getTime() + 6 * 86400000);\n  from = iso(lunes); to = iso(domingo);\n  label = `Semana ${w} de ${y}`;\n} else if (q.from && q.to) {\n  const dF = parseISO(q.from), dT = parseISO(q.to);\n  if (!dF || !dT) throw new Error('from/to deben ser YYYY-MM-DD');\n  from = iso(dF); to = iso(dT);\n  label = `${from} → ${to}`;\n} else {\n  // Default: última semana ISO completa (la anterior a la actual)\n  const ahora = new Date();\n  const lunesActual = lunesDeSemana(ahora);\n  const lunesPasada = new Date(lunesActual.getTime() - 7 * 86400000);\n  const domingoPasada = new Date(lunesPasada.getTime() + 6 * 86400000);\n  from = iso(lunesPasada); to = iso(domingoPasada);\n  const [y, w] = semanaISO(lunesPasada);\n  label = `Semana ${w} de ${y}`;\n}\n\n// Año/semana ISO de la fecha `from` — clave de caché en Supabase.\nconst [anio, semana] = semanaISO(new Date(from + 'T00:00:00Z'));\n\nconst forceRefresh = String(q.refresh || '') === '1' || q.refresh === 'true';\n\nconst zendeskQuery = `type:ticket created>=${from} created<=${to}`;\n\nreturn [{ json: { from, to, label, anio, semana, forceRefresh, zendeskQuery } }];"
      },
      "id": "code-validar-rango",
      "name": "Validar rango",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://kyvzrqxicxirnroowriq.supabase.co/rest/v1/resumenes_semanales?anio=eq.{{ $json.anio }}&semana=eq.{{ $json.semana }}&select=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": true
            }
          }
        }
      },
      "id": "supa-buscar-cache",
      "name": "Buscar cache",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [620, 300],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Yurest"
        }
      },
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Mira lo que respondió Supabase y aplana en un único booleano\n// `hasCache` para que el siguiente nodo (IF) tenga una decisión\n// trivial. PostgREST con neverError + fullResponse=false devuelve:\n//   - array (vacío o no) cuando todo va bien\n//   - objeto {code,message,details,hint} si hubo error\n// En ambos casos preservamos `meta` (anio, semana, zendeskQuery, ...)\n// para que la rama de generación tenga lo que necesita.\nconst meta = $('Validar rango').first().json;\nconst raw  = $input.first().json;\n\nlet rows = [];\nif (Array.isArray(raw)) rows = raw;\nelse if (raw && Array.isArray(raw.data)) rows = raw.data;\n// Cualquier otro shape (objeto error, null, string) → rows vacío\n\nconst hayFila    = rows.length > 0;\nconst hasCache   = hayFila && !meta.forceRefresh;\n\nreturn [{ json: Object.assign({}, meta, {\n  hasCache,\n  cached: hayFila ? rows[0] : null\n}) }];"
      },
      "id": "code-normalizar-cache",
      "name": "Normalizar cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-hascache",
              "leftValue": "={{ $json.hasCache }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "if-cache",
      "name": "IF cache",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1020, 300]
    },
    {
      "parameters": {
        "jsCode": "// Convierte la fila de Supabase al shape que espera el front.\n// JSONB columns ya vienen como objeto/array nativo. Por defensa\n// parseamos si llegasen como string (algunos clientes que no\n// respetan Accept: application/json lo serializan).\nconst j    = $json;\nconst c    = j.cached || {};\nconst meta = { anio: j.anio, semana: j.semana, label: j.label };\n\nfunction parseArr(v) {\n  if (Array.isArray(v)) return v;\n  if (typeof v === 'string') {\n    try { const p = JSON.parse(v); return Array.isArray(p) ? p : []; } catch (_) { return []; }\n  }\n  return [];\n}\n\nreturn [{ json: {\n  success: true,\n  cached:  true,\n  rango:   { from: c.fecha_desde, to: c.fecha_hasta, label: meta.label },\n  anio:    meta.anio,\n  semana:  meta.semana,\n  total:   c.total_tickets || 0,\n  porTipo:    parseArr(c.por_tipo),\n  porEntorno: parseArr(c.por_entorno),\n  porModulo:  parseArr(c.por_modulo),\n  tickets:    parseArr(c.tickets),\n  resumen_markdown: c.resumen_markdown || '',\n  modelo:     c.modelo || null,\n  generado_en:    c.created_at,\n  actualizado_en: c.updated_at,\n  _diag: { path: 'cache_hit' }\n} }];"
      },
      "id": "code-format-hit",
      "name": "Format cache hit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 180]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "query": "={{ $json.zendeskQuery }}"
        }
      },
      "id": "zd-get-tickets",
      "name": "Get many tickets",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [1220, 420],
      "credentials": {
        "zendeskApi": {
          "id": "KagVdQFawJyTOzEO",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Recibe N tickets de Zendesk + el resultado de \"Validar rango\".\n// Saca tipo / entorno / módulo de los custom fields, agrupa para los\n// breakdowns de cabecera, y construye el prompt para GPT.\n\nconst CUSTOM_FIELD_IDS = {\n  tipo:    26672700540829,  // \"Tipo de ticket\"\n  entorno: 27376906089629,  // \"Entorno\"\n  modulo:  27243772817053   // \"Módulo\"\n};\n\nfunction extraerCustomField(t, id) {\n  if (id == null) return null;\n  const fuentes = [t.custom_fields, t.fields].filter(Array.isArray);\n  for (const arr of fuentes) {\n    const cf = arr.find(c => c && (c.id === id || String(c.id) === String(id)));\n    if (cf && cf.value != null && cf.value !== '') return cf.value;\n  }\n  return null;\n}\n\nconst rango = $('Validar rango').first().json;\nconst tickets = ($input.all() || []).map(it => it.json).filter(Boolean);\n\nconst norm = tickets.map(t => ({\n  id:      t.id,\n  subject: t.subject || t.title || t.descripcion || '(sin título)',\n  status:  t.status || null,\n  created_at: t.created_at || t.createdAt || null,\n  tipo:    extraerCustomField(t, CUSTOM_FIELD_IDS.tipo)    || 'Sin tipo',\n  entorno: extraerCustomField(t, CUSTOM_FIELD_IDS.entorno) || 'Sin entorno',\n  modulo:  extraerCustomField(t, CUSTOM_FIELD_IDS.modulo)  || 'Sin módulo'\n}));\n\nfunction cuenta(arr, key) {\n  const map = new Map();\n  for (const x of arr) {\n    const k = x[key];\n    map.set(k, (map.get(k) || 0) + 1);\n  }\n  return [...map.entries()]\n    .map(([nombre, count]) => ({ nombre, count }))\n    .sort((a, b) => b.count - a.count);\n}\nconst porTipo    = cuenta(norm, 'tipo');\nconst porEntorno = cuenta(norm, 'entorno');\nconst porModulo  = cuenta(norm, 'modulo');\n\nfunction listaTickets() {\n  return norm.map((t, i) => `${i + 1}. [#${t.id}] [${t.tipo} · ${t.entorno} · ${t.modulo}] ${t.subject}`).join('\\n');\n}\nfunction listaBreakdown(arr) {\n  return arr.slice(0, 8).map(b => `  - ${b.nombre}: ${b.count}`).join('\\n');\n}\n\nconst superPrompt = `Eres un Senior Support Manager en Yurest, una plataforma SaaS de\\\ngestión integral para hostelería. Te pasamos los tickets recibidos\\\nesta semana con su Tipo, Entorno (Producción/Staging/etc), Módulo\\\nafectado y asunto. Tu trabajo es generar un informe ejecutivo breve\\\nque ayude al equipo de Producto y Soporte a saber dónde poner foco.\\n\\n\\\n## DATOS DEL PERIODO\\n\\\n- **Periodo**: ${rango.label} (${rango.from} → ${rango.to})\\n\\\n- **Tickets totales**: ${norm.length}\\n\\\n- **Por tipo**:\\n${listaBreakdown(porTipo)}\\n\\\n- **Por entorno**:\\n${listaBreakdown(porEntorno)}\\n\\\n- **Por módulo**:\\n${listaBreakdown(porModulo)}\\n\\n\\\n## LISTADO\\n\\\n${listaTickets()}\\n\\n\\\n## ESTRUCTURA DEL INFORME\\n\\\nResponde **en español** y en formato Markdown, siguiendo este esquema\\\nexacto:\\n\\n\\\n### 🩺 Diagnóstico de la semana\\n\\\nUn párrafo (3-5 líneas) con la lectura general — volumen vs semana\\\ntípica, qué destaca, salud global del producto.\\n\\n\\\n### 🔥 Temas calientes\\n\\\nLista de 3-5 patrones recurrentes detectados en los asuntos. Cada uno:\\\n**Negrita el tema**, una línea explicando, y entre paréntesis cuántos\\\ntickets aproximados lo tocan.\\n\\n\\\n### 🎯 Recomendaciones\\n\\\n2-3 acciones concretas:\\n\\\n- 🛠️ **Soporte**: qué responder/preparar para clientes recurrentes.\\n\\\n- 💻 **Producto**: qué bug arreglar o qué feature/UX revisar.\\n\\\n- 📚 **Documentación**: qué FAQ o guía actualizar.\\n\\n\\\n### 📊 Lectura rápida\\n\\\n- **Entorno con más tickets**: <nombre + count>.\\n\\\n- **Módulo con más tickets**: <nombre + count>.\\n\\\n- **Tipo dominante**: <nombre + count>.\\n\\n\\\n### Tono\\n\\\nClaro, ejecutivo, sin paja. Si hay menos de 5 tickets en total, di que\\\nes una semana tranquila y resume en 2-3 frases. Usa los emojis sólo\\\nen los headings.`;\n\nreturn [{\n  json: {\n    prompt_final: superPrompt,\n    rango,\n    anio: rango.anio,\n    semana: rango.semana,\n    total: norm.length,\n    porTipo,\n    porEntorno,\n    porModulo,\n    tickets: norm\n  }\n}];"
      },
      "id": "code-preparar-prompt",
      "name": "Preparar prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 420]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            { "content": "={{ $json.prompt_final }}" }
          ]
        },
        "options": {}
      },
      "id": "openai-resumen",
      "name": "Generar resumen",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [1620, 420],
      "credentials": {
        "openAiApi": {
          "id": "w2doUpVdPofPaHNg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Combina la respuesta de GPT con los datos estructurados que ya\n// teníamos del nodo \"Preparar prompt\". El front recibe el resumen\n// como markdown bruto + los breakdowns + la lista de tickets para\n// poder pintar todo sin recalcular.\n\nconst prep = $('Preparar prompt').first().json;\nconst aiResp = $input.first().json || {};\n\nfunction extractText(c) {\n  if (c == null) return '';\n  if (typeof c === 'string') return c;\n  if (Array.isArray(c)) {\n    return c.map(extractText).filter(Boolean).join('');\n  }\n  if (typeof c === 'object') {\n    if (typeof c.text === 'string')    return c.text;\n    if (typeof c.content === 'string') return c.content;\n    if (typeof c.output === 'string')  return c.output;\n    if (typeof c.value === 'string')   return c.value;\n    if (c.text)    return extractText(c.text);\n    if (c.content) return extractText(c.content);\n    if (c.output)  return extractText(c.output);\n  }\n  return '';\n}\n\nlet resumenMd = '';\nif (typeof aiResp === 'string') {\n  resumenMd = aiResp;\n} else if (Array.isArray(aiResp.choices) && aiResp.choices[0]?.message?.content) {\n  resumenMd = extractText(aiResp.choices[0].message.content);\n} else if (aiResp.message && aiResp.message.content) {\n  resumenMd = extractText(aiResp.message.content);\n} else if (aiResp.content) {\n  resumenMd = extractText(aiResp.content);\n} else if (aiResp.text) {\n  resumenMd = extractText(aiResp.text);\n} else if (aiResp.output) {\n  resumenMd = extractText(aiResp.output);\n}\n\nif (!resumenMd || typeof resumenMd !== 'string') {\n  try {\n    resumenMd = '⚠️ Respuesta inesperada de OpenAI:\\n```json\\n' +\n      JSON.stringify(aiResp, null, 2).slice(0, 800) + '\\n```';\n  } catch (_) { resumenMd = '(sin resumen)'; }\n}\n\nresumenMd = resumenMd\n  .replace(/^```(?:markdown|md)?\\s*\\n?/i, '')\n  .replace(/\\n?```\\s*$/i, '')\n  .trim();\n\nreturn [{\n  json: {\n    success: true,\n    cached:  false,\n    rango:   prep.rango,\n    anio:    prep.anio,\n    semana:  prep.semana,\n    total:   prep.total,\n    porTipo: prep.porTipo,\n    porEntorno: prep.porEntorno,\n    porModulo:  prep.porModulo,\n    tickets:    prep.tickets,\n    resumen_markdown: resumenMd,\n    modelo: 'gpt-4o-mini',\n    _diag: { path: 'generated' }\n  }\n}];"
      },
      "id": "code-format-result",
      "name": "Formatear resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin",  "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type",                 "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-resumen",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2020, 300]
    },
    {
      "parameters": {
        "content": "## Resumen semanal de incidencias (Zendesk + OpenAI + read-through Supabase)\n\n**Endpoint:** `GET /webhook/zendesk/resumen-semanal?week=YYYY-Www`\n\nFlujo simplificado: Buscar cache → Normalizar (aplana a `hasCache:bool`) → **IF**:\n\n- **TRUE** → Format cache hit → Respond. Coste: 0 €.\n- **FALSE** → Get tickets → Preparar prompt → OpenAI → Formatear → Respond.\n\n⚠️ El UPSERT de cache fue eliminado del workflow porque la detección de shape de la respuesta de PostgREST no era fiable. Si quieres pre-poblar la caché en Supabase, hazlo desde otro sitio (manual / job aparte). Si la fila existe, este workflow la usa; si no, regenera y devuelve sin escribir.\n\n**Tabla:** `resumenes_semanales` — clave única `(anio, semana)` ISO.\n\n**Credenciales:**\n- `Supabase Yurest` (sustituir `SUPABASE_CREDENTIAL_ID` al importar)\n- `Zendesk account`\n- `OpenAi account`",
        "height": 300,
        "width": 480
      },
      "id": "sticky-doc",
      "name": "Doc",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 60]
    }
  ],
  "connections": {
    "Webhook GET resumen":   { "main": [[{ "node": "Validar rango",     "type": "main", "index": 0 }]] },
    "Validar rango":         { "main": [[{ "node": "Buscar cache",      "type": "main", "index": 0 }]] },
    "Buscar cache":          { "main": [[{ "node": "Normalizar cache",  "type": "main", "index": 0 }]] },
    "Normalizar cache":      { "main": [[{ "node": "IF cache",          "type": "main", "index": 0 }]] },
    "IF cache":              { "main": [
                                  [{ "node": "Format cache hit",  "type": "main", "index": 0 }],
                                  [{ "node": "Get many tickets",  "type": "main", "index": 0 }]
                              ] },
    "Format cache hit":      { "main": [[{ "node": "Respond",            "type": "main", "index": 0 }]] },
    "Get many tickets":      { "main": [[{ "node": "Preparar prompt",    "type": "main", "index": 0 }]] },
    "Preparar prompt":       { "main": [[{ "node": "Generar resumen",    "type": "main", "index": 0 }]] },
    "Generar resumen":       { "main": [[{ "node": "Formatear resultado","type": "main", "index": 0 }]] },
    "Formatear resultado":   { "main": [[{ "node": "Respond",            "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {},
  "active": false
}
